Repository NationalBankBelgium/stark, pull requests merged in 2018-07, with the labels that each got.

#477 fix(stark-demo): revert PR #471. Adapt baseHref/deployUrl via Node script to fix Showcase publication on GitHub pages
  .travis.yml
  gh-deploy.sh
  package.json
  showcase/ghpages-adapt-angular-json.js
  showcase/ghpages-adapt-bundle-urls.js
  showcase/package.json
  showcase/src/environments/environment.e2e.prod.ts
  showcase/src/environments/environment.hmr.ts
  showcase/src/environments/environment.prod.ts
  showcase/src/environments/environment.ts
Labels: PR action: review

#480 feat(stark-ui): example Viewer + basic showcase layout
  packages/stark-ui/assets/themes/_app-header-theme.scss
  showcase/karma.conf.ci.js
  showcase/karma.conf.js
  showcase/package.json
  showcase/src/app/app.component.css
  showcase/src/app/app.component.html
  showcase/src/app/app.module.ts
  showcase/src/app/app.routes.ts
  showcase/src/app/demo/demo.component.html
  showcase/src/app/demo/demo.component.scss
  showcase/src/app/demo/demo.component.spec.ts
  showcase/src/app/demo/demo.component.ts
  showcase/src/app/demo/index.ts
  showcase/src/app/home/home.component.html
  showcase/src/app/home/home.component.pcss
  showcase/src/app/home/home.component.scss
  showcase/src/app/home/home.component.ts
  showcase/src/app/shared/example-viewer/_example-viewer-theme.scss
  showcase/src/app/shared/example-viewer/example-viewer.component.ts
  showcase/src/app/shared/example-viewer/example-viewer.html
  showcase/src/app/shared/example-viewer/example-viewer.scss
  showcase/src/app/shared/example-viewer/example-viewer.spec.ts
  showcase/src/app/shared/example-viewer/file.service.ts
  showcase/src/app/shared/shared.module.ts
  showcase/src/assets/examples/test.css
  showcase/src/assets/examples/test.html
  showcase/src/assets/examples/test.ts
  showcase/src/styles/_sidenav_temp.scss
  showcase/src/styles/_theme.scss
  showcase/src/styles/styles.scss
  showcase/tsconfig.app.json
  showcase/tsconfig.json
  showcase/tsconfig.spec.json
  starter/package.json
Labels: comp: stark-showcase, must, type: feature

#485 chore(stark-all): remove "testing" subpackages from greenkeeper config file since they have no dependencies
  greenkeeper.json
Labels: greenkeeper

#489 chore(stark-all): fix formatting issues with Prettier. Cleanup unused styles. Renamed component files to keep consistency.
  docs/TSCONFIG.md
  docs/WEBPACK.md
  packages/stark-ui/assets/styles/_base.scss
  packages/stark-ui/assets/styles/_colors.scss
  packages/stark-ui/assets/styles/_old-variables.scss
  packages/stark-ui/assets/styles/_typography.scss
  packages/stark-ui/assets/styles/_variables.scss
  packages/stark-ui/assets/themes/_button-theme.scss
  packages/stark-ui/assets/themes/_card-theme.scss
  packages/stark-ui/assets/themes/_table-theme.scss
  packages/stark-ui/assets/themes/_theming.scss
  showcase/src/app/shared/example-viewer/example-viewer.component.html
  showcase/src/app/shared/example-viewer/example-viewer.component.scss
  showcase/src/app/shared/example-viewer/example-viewer.component.spec.ts
  showcase/src/app/shared/example-viewer/example-viewer.component.ts
  showcase/src/index.html
  starter/src/index.html
Labels: comp: qa, comp: stark-all

#491 build(stark-all): exclude the 'coverage' folder from the build process
  build-functions.sh
Labels: comp: build-main

#498 docs(docs): add solution for the 'sed: illegal option -- r' error when building a subset of stark
  CONTRIBUTING.md
Labels: comp: build-main, comp: docs

#499 fix(build): add quotes around the Prettier parameters to fix an issue on MacOS
  package.json
Labels: comp: build-main, comp: qa

#505 chore(stark-all): remove obsolete and unnecessary NPM dependencies
  packages/stark-build/package.json
  showcase/package.json
  showcase/src/polyfills.browser.ts
  starter/package.json
  starter/src/polyfills.browser.ts
Labels: comp: stark-build, comp: stark-ui, type: enhancement

#510 refactor(stark-starter): enable UI-Router visualizer only in development. Disable visualizer in showcase
  showcase/src/app/router.config.ts
  starter/src/app/router.config.ts
Labels: comp: stark-showcase, comp: stark-starter, type: enhancement

#495 feat(stark-ui): action-bar Component
  packages/stark-build/config/tslint.json
  packages/stark-core/src/common/translations/translations/en.ts
  packages/stark-core/src/common/translations/translations/fr.ts
  packages/stark-core/src/common/translations/translations/nl.ts
  packages/stark-ui/assets/styles/_base.scss
  packages/stark-ui/assets/styles/_colors.scss
  packages/stark-ui/assets/styles/_media-queries.scss
  packages/stark-ui/assets/styles/_old-variables.scss
  packages/stark-ui/assets/styles/_typography.scss
  packages/stark-ui/assets/styles/_variables.scss
  packages/stark-ui/assets/themes/_button-theme.scss
  packages/stark-ui/assets/themes/_menu-theme.scss
  packages/stark-ui/assets/themes/_theming.scss
  packages/stark-ui/src/modules.ts
  packages/stark-ui/src/modules/action-bar.ts
  packages/stark-ui/src/modules/action-bar/action-bar.module.ts
  packages/stark-ui/src/modules/action-bar/components.ts
  packages/stark-ui/src/modules/action-bar/components/_action-bar-theme.scss
  packages/stark-ui/src/modules/action-bar/components/_action-bar.component.scss
  packages/stark-ui/src/modules/action-bar/components/action-bar-config.intf.ts
  packages/stark-ui/src/modules/action-bar/components/action-bar.component.html
  packages/stark-ui/src/modules/action-bar/components/action-bar.component.spec.ts
  packages/stark-ui/src/modules/action-bar/components/action-bar.component.ts
  packages/stark-ui/src/modules/action-bar/components/action.intf.ts
  packages/stark-ui/tsconfig.spec.json
  packages/tsconfig.json
  showcase/karma.conf.js
  showcase/src/app/app.component.html
  showcase/src/app/app.module.ts
  showcase/src/app/app.routes.ts
  showcase/src/app/demo/action-bar/action-bar.component.html
  showcase/src/app/demo/action-bar/action-bar.component.ts
  showcase/src/app/demo/demo.component.scss
  showcase/src/app/demo/demo.component.spec.ts
  showcase/src/app/demo/demo.component.ts
  showcase/src/app/demo/example-viewer/example-viewer.component.html
  showcase/src/app/demo/example-viewer/example-viewer.component.ts
  showcase/src/app/demo/index.ts
  showcase/src/app/shared/example-viewer/example-viewer.component.html
  showcase/src/app/shared/shared.module.ts
  showcase/src/assets/examples/action-bar/alt.html
  showcase/src/assets/examples/action-bar/alt.ts
  showcase/src/assets/examples/action-bar/classic-compact.html
  showcase/src/assets/examples/action-bar/classic-compact.ts
  showcase/src/assets/examples/action-bar/classic-full.html
  showcase/src/assets/examples/action-bar/classic-full.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
  showcase/src/styles/_theme.scss
  showcase/src/styles/_variables.scss
Labels: comp: stark-ui, must, type: feature

#501 feat(stark-ui): initial implementation of Stark Table component (supporting nested data, sorting and filtering)
  packages/stark-ui/src/modules.ts
  packages/stark-ui/src/modules/action-bar/components/action-bar-config.intf.ts
  packages/stark-ui/src/modules/table.ts
  packages/stark-ui/src/modules/table/components.ts
  packages/stark-ui/src/modules/table/components/column-priority.intf.ts
  packages/stark-ui/src/modules/table/components/column-properties.intf.ts
  packages/stark-ui/src/modules/table/components/column.component.html
  packages/stark-ui/src/modules/table/components/column.component.ts
  packages/stark-ui/src/modules/table/components/dialogs/multisort.component.html
  packages/stark-ui/src/modules/table/components/dialogs/multisort.component.scss
  packages/stark-ui/src/modules/table/components/dialogs/multisort.component.ts
  packages/stark-ui/src/modules/table/components/table-column-filter.intf.ts
  packages/stark-ui/src/modules/table/components/table-filter.intf.ts
  packages/stark-ui/src/modules/table/components/table.component.html
  packages/stark-ui/src/modules/table/components/table.component.scss
  packages/stark-ui/src/modules/table/components/table.component.spec.ts
  packages/stark-ui/src/modules/table/components/table.component.ts
  packages/stark-ui/src/modules/table/table.module.ts
  showcase/src/app/app.component.html
  showcase/src/app/app.module.ts
  showcase/src/app/app.routes.ts
  showcase/src/app/demo/action-bar/index.ts
  showcase/src/app/demo/demo.module.ts
  showcase/src/app/demo/example-viewer/index.ts
  showcase/src/app/demo/index.ts
  showcase/src/app/demo/table/index.ts
  showcase/src/app/demo/table/table.component.html
  showcase/src/app/demo/table/table.component.ts
  showcase/src/app/shared/example-viewer/index.ts
  showcase/src/app/shared/index.ts
  showcase/src/styles/styles.scss
Labels: comp: stark-ui, type: feature

#516 style(stark-all): add missing "lint-css" npm script to lint CSS in all packages (executed via the "lint" npm script)
  packages/stark-build/config/stylelint.config.js
  packages/stark-core/package.json
  packages/stark-ui/assets/styles/_old-variables.scss
  packages/stark-ui/assets/styles/_variables.scss
  packages/stark-ui/package.json
  showcase/package.json
  starter/package.json
Labels: comp: qa, comp: stark-all

#519 feat(stark-core): add @ngrx-store-devtools package. Integrate store dev tools in showcase and starter
  packages/rollup.config.common-data.js
  packages/stark-core/package.json
  showcase/src/app/app.module.ts
  starter/src/app/app.module.ts
Labels: comp: stark-core, type: feature

#526 feat(stark-demo): improve example viewer styling
  showcase/src/app/shared/example-viewer/_example-viewer-theme.scss
  showcase/src/app/shared/example-viewer/example-viewer.component.html
Labels: comp: stark-showcase, should

#527 fix(stark-ui): include only "src" and "assets" folders in "lint-css" command
  packages/stark-core/package.json
  packages/stark-ui/package.json
Labels: comp: qa, comp: stark-core, comp: stark-ui, type: bug, type: enhancement

#529 chore(package): update rollup to version 0.63.2
  package.json
Labels: greenkeeper

#517 feat(stark-ui): implement the button's theme
  packages/stark-ui/assets/styles/_colors.scss
  packages/stark-ui/assets/styles/_typography.scss
  packages/stark-ui/assets/styles/_variables.scss
  packages/stark-ui/assets/themes/_button-theme.scss
  packages/stark-ui/src/modules/action-bar/components/_action-bar-theme.scss
  packages/stark-ui/src/modules/action-bar/components/_action-bar.component.scss
  packages/stark-ui/src/modules/action-bar/components/action-bar.component.html
  packages/stark-ui/src/modules/action-bar/components/action.intf.ts
  showcase/src/app/app.component.html
  showcase/src/app/app.module.ts
  showcase/src/app/app.routes.ts
  showcase/src/app/demo/action-bar/action-bar.component.ts
  showcase/src/app/demo/button/button.component.html
  showcase/src/app/demo/button/button.component.scss
  showcase/src/app/demo/button/button.component.ts
  showcase/src/app/demo/button/index.ts
  showcase/src/app/demo/demo.module.ts
  showcase/src/app/demo/index.ts
  showcase/src/app/home/home.component.ts
  showcase/src/app/shared/example-viewer/example-viewer.component.html
  showcase/src/assets/examples/button/accent.css
  showcase/src/assets/examples/button/accent.html
  showcase/src/assets/examples/button/alert.css
  showcase/src/assets/examples/button/alert.html
  showcase/src/assets/examples/button/alt.css
  showcase/src/assets/examples/button/alt.html
  showcase/src/assets/examples/button/basic.css
  showcase/src/assets/examples/button/basic.html
  showcase/src/assets/examples/button/disabled.css
  showcase/src/assets/examples/button/disabled.html
  showcase/src/assets/examples/button/neutral.css
  showcase/src/assets/examples/button/neutral.html
  showcase/src/assets/examples/button/primary.css
  showcase/src/assets/examples/button/primary.html
  showcase/src/assets/examples/button/success.css
  showcase/src/assets/examples/button/success.html
  showcase/src/assets/examples/button/warn.css
  showcase/src/assets/examples/button/warn.html
  showcase/src/assets/examples/button/white.css
  showcase/src/assets/examples/button/white.html
Labels: comp: stark-showcase, comp: stark-ui, must, type: feature

#533 fix(stark-ui): fix unresolved dependencies detected by Rollup
  packages/rollup.config.common-data.js
  packages/stark-ui/src/modules/pretty-print/components/pretty-print.component.ts
Labels: comp: build-main, comp: stark-ui, type: enhancement

#536 chore(package): update rollup to version 0.63.4
  package.json
Labels: greenkeeper

#537 fix(stark-ui): tooltip translation + table translation
  packages/stark-core/src/common/translations/translations/en.ts
  packages/stark-core/src/common/translations/translations/fr.ts
  packages/stark-core/src/common/translations/translations/nl.ts
  packages/stark-ui/src/modules/action-bar/components/action-bar.component.html
  packages/stark-ui/src/modules/table/components/column.component.html
  packages/stark-ui/src/modules/table/components/dialogs/multisort.component.html
  packages/stark-ui/src/modules/table/components/table.component.html
  packages/stark-ui/src/modules/table/components/table.component.spec.ts
  packages/stark-ui/src/modules/table/table.module.ts
Labels: comp: stark-core, comp: stark-ui, type: bug

#525 feat(stark-ui): add stark-action-bar into stark-table
  packages/stark-ui/assets/themes/_button-theme.scss
  packages/stark-ui/assets/themes/_table-theme.scss
  packages/stark-ui/src/modules/action-bar/components/action-bar.component.html
  packages/stark-ui/src/modules/action-bar/components/action-bar.component.ts
  packages/stark-ui/src/modules/table/components/_table.component.scss
  packages/stark-ui/src/modules/table/components/column.component.html
  packages/stark-ui/src/modules/table/components/dialogs/_multisort.component.scss
  packages/stark-ui/src/modules/table/components/table.component.html
  packages/stark-ui/src/modules/table/components/table.component.ts
  packages/stark-ui/src/modules/table/table.module.ts
  showcase/src/app/demo/demo.module.ts
  showcase/src/app/demo/table/table.component.html
  showcase/src/app/demo/table/table.component.scss
  showcase/src/app/demo/table/table.component.ts
  showcase/src/styles/_theme.scss
  showcase/src/styles/styles.scss
Labels: PR action: review, comp: stark-ui, must, type: feature

#443 feat(stark-core): http-service: isolate NBB specifics
  packages/stark-core/src/configuration/entities/application/app-config.entity.intf.ts
  packages/stark-core/src/configuration/entities/application/app-config.entity.ts
  packages/stark-core/src/modules/http/constants/http-headers.constants.ts
  packages/stark-core/src/modules/http/entities/backend/backend.entity.intf.ts
  packages/stark-core/src/modules/http/entities/backend/backend.entity.ts
  packages/stark-core/src/modules/http/services/http.service.spec.ts
  packages/stark-core/src/modules/http/services/http.service.ts
  packages/stark-core/src/modules/logging/services/logging.service.intf.ts
  packages/stark-core/src/modules/logging/services/logging.service.spec.ts
  packages/stark-core/src/modules/logging/services/logging.service.ts
  packages/stark-core/src/modules/logging/testing/logging.mock.ts
  packages/stark-core/src/modules/session/entities.ts
  packages/stark-core/src/modules/session/entities/pre-authentication.intf.ts
  packages/stark-core/src/modules/session/entities/session.entity.ts
  packages/stark-core/src/modules/session/services/session.service.intf.ts
  packages/stark-core/src/modules/session/services/session.service.spec.ts
  packages/stark-core/src/modules/session/services/session.service.ts
  packages/stark-core/src/modules/session/testing/session.mock.ts
  packages/stark-core/src/modules/user/entities/user.entity.ts
  packages/stark-core/src/util/configuration.util.spec.ts
  showcase/src/app/app.module.ts
  showcase/src/app/authentication.config.ts
  showcase/src/stark-app-config.json
  starter/src/stark-app-config.json
Labels: PR action: review

#554 perf(build-main): adapt "npm install" commands to prevent optional dependencies from being installed. Enable parallelization in webpack prod config.
  .travis.yml
  package.json
  packages/stark-build/config/webpack.prod.js
Labels: comp: build-main, type: enhancement

#555 chore(stark-core): update ng-idle packages to the latest version
  packages/stark-core/package.json
Labels: comp: stark-core

#551 feat(stark-ui): Use the prettier library to replace the pretty-data library where possible.
  packages/rollup.config.common-data.js
  packages/stark-build/config/webpack.common.js
  packages/stark-ui/package.json
  packages/stark-ui/src/modules/pretty-print/components/pretty-print.component.spec.ts
  packages/stark-ui/src/modules/pretty-print/components/pretty-print.component.ts
Labels: comp: stark-ui, type: feature

#545 feat(stark-ui): implement OnEnterKey directive and module
  packages/stark-ui/src/modules.ts
  packages/stark-ui/src/modules/keyboard-directives.ts
  packages/stark-ui/src/modules/keyboard-directives/directives.ts
  packages/stark-ui/src/modules/keyboard-directives/directives/on-enter-key.directive.spec.ts
  packages/stark-ui/src/modules/keyboard-directives/directives/on-enter-key.directive.ts
  packages/stark-ui/src/modules/keyboard-directives/keyboard-directives.module.ts
  showcase/src/app/app.component.html
  showcase/src/app/app.routes.ts
  showcase/src/app/demo/demo.module.ts
  showcase/src/app/demo/index.ts
  showcase/src/app/demo/keyboard-directives/index.ts
  showcase/src/app/demo/keyboard-directives/keyboard-directives.component.html
  showcase/src/app/demo/keyboard-directives/keyboard-directives.component.scss
  showcase/src/app/demo/keyboard-directives/keyboard-directives.component.ts
  showcase/src/assets/examples/keyboard-directives/on-enter-key-directive.html
  showcase/src/assets/examples/keyboard-directives/on-enter-key-directive.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
Labels: comp: stark-ui, type: feature

#556 docs(docs): add me as author :)
  README.md
Labels: comp: docs, type: doc

#547 feat(stark-ui): implement RestrictInput directive and module
  packages/stark-ui/src/modules/app-logo/components/app-logo.component.spec.ts
  packages/stark-ui/src/modules/keyboard-directives/directives.ts
  packages/stark-ui/src/modules/keyboard-directives/directives/restrict-input.directive.spec.ts
  packages/stark-ui/src/modules/keyboard-directives/directives/restrict-input.directive.ts
  packages/stark-ui/src/modules/keyboard-directives/keyboard-directives.module.ts
  packages/stark-ui/src/modules/slider/components/slider.component.spec.ts
  packages/stark-ui/src/modules/svg-view-box/directives/svg-view-box.directive.spec.ts
  packages/stark-ui/src/modules/svg-view-box/directives/svg-view-box.directive.ts
  showcase/src/app/demo/keyboard-directives/keyboard-directives.component.html
  showcase/src/app/demo/keyboard-directives/keyboard-directives.component.scss
  showcase/src/assets/examples/keyboard-directives/restrict-input-directive.html
  showcase/src/assets/examples/keyboard-directives/restrict-input-directive.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
Labels: comp: stark-ui, status: in review, type: feature

#560 feat(stark-demo): add pretty-print component to Showcase Demo
  showcase/src/app/app.component.html
  showcase/src/app/app.routes.ts
  showcase/src/app/demo/demo.module.ts
  showcase/src/app/demo/index.ts
  showcase/src/app/demo/pretty-print/index.ts
  showcase/src/app/demo/pretty-print/pretty-print.component.html
  showcase/src/app/demo/pretty-print/pretty-print.component.scss
  showcase/src/app/demo/pretty-print/pretty-print.component.ts
  showcase/src/assets/examples/pretty-print/css.html
  showcase/src/assets/examples/pretty-print/css.scss
  showcase/src/assets/examples/pretty-print/css.ts
  showcase/src/assets/examples/pretty-print/html.html
  showcase/src/assets/examples/pretty-print/html.scss
  showcase/src/assets/examples/pretty-print/html.ts
  showcase/src/assets/examples/pretty-print/javascript.html
  showcase/src/assets/examples/pretty-print/javascript.scss
  showcase/src/assets/examples/pretty-print/javascript.ts
  showcase/src/assets/examples/pretty-print/json.html
  showcase/src/assets/examples/pretty-print/json.scss
  showcase/src/assets/examples/pretty-print/json.ts
  showcase/src/assets/examples/pretty-print/scss.html
  showcase/src/assets/examples/pretty-print/scss.scss
  showcase/src/assets/examples/pretty-print/scss.ts
  showcase/src/assets/examples/pretty-print/sql.html
  showcase/src/assets/examples/pretty-print/sql.scss
  showcase/src/assets/examples/pretty-print/sql.ts
  showcase/src/assets/examples/pretty-print/typescript.html
  showcase/src/assets/examples/pretty-print/typescript.scss
  showcase/src/assets/examples/pretty-print/typescript.ts
  showcase/src/assets/examples/pretty-print/xml.html
  showcase/src/assets/examples/pretty-print/xml.scss
  showcase/src/assets/examples/pretty-print/xml.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
Labels: comp: stark-showcase, type: feature

#567 fix(stark-demo): fix pretty-print demo translations
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
Labels: comp: stark-showcase

#562 chore(stark-all): update prettier to the latest version. Add YAML to files to be formatted. Re-format all files.
  .travis.yml
  CONTRIBUTING.md
  package-lock.json
  package.json
  packages/stark-build/package-lock.json
  packages/stark-build/package.json
  packages/stark-core/src/common/error/error.ts
  packages/stark-core/src/modules/http/builder/http-request-builder.spec.ts
  packages/stark-core/src/modules/http/entities/backend/backend.entity.ts
  packages/stark-core/src/modules/http/entities/error/http-error-base.entity.ts
  packages/stark-core/src/modules/http/entities/error/http-error-detail.entity.ts
  packages/stark-core/src/modules/http/entities/error/http-error.entity.ts
  packages/stark-core/src/modules/http/entities/metadata/collection-metadata.entity.ts
  packages/stark-core/src/modules/http/entities/metadata/metadata-pagination.entity.ts
  packages/stark-core/src/modules/http/entities/metadata/metadata-sort-item.entity.ts
  packages/stark-core/src/modules/http/entities/metadata/single-item-metadata.entity.ts
  packages/stark-core/src/modules/http/serializer/http-discriminator-serializer.spec.ts
  packages/stark-core/src/modules/http/services/http.service.spec.ts
  packages/stark-core/src/modules/logging/entities/log-message.entity.ts
  packages/stark-core/src/modules/logging/entities/logging.entity.ts
  packages/stark-core/src/modules/user/entities/user.entity.ts
  packages/stark-core/src/validation/decorators/is-bban/is-bban.validator.decorator.spec.ts
  packages/stark-core/src/validation/decorators/is-bic/is-bic.validator.decorator.spec.ts
  packages/stark-core/src/validation/decorators/is-company-number/is-company-number.validator.decorator.spec.ts
  packages/stark-core/src/validation/decorators/is-establishment-unit-number/is-establishment-unit-number.validator.decorator.spec.ts
  packages/stark-core/src/validation/decorators/is-iban/is-iban.validator.decorator.spec.ts
  packages/stark-core/src/validation/decorators/is-isin/is-isin.validator.decorator.spec.ts
  packages/stark-core/src/validation/decorators/is-kbo/is-kbo.validator.decorator.spec.ts
  packages/stark-core/src/validation/decorators/is-nin/is-nin.validator.decorator.spec.ts
  packages/stark-core/src/validation/decorators/is-supported-language/is-supported-language.validator.decorator.spec.ts
  packages/stark-core/src/validation/decorators/map-is-valid/map-is-valid.validator.decorator.spec.ts
  packages/stark-core/src/validation/decorators/map-not-empty/map-not-empty.validator.decorator.spec.ts
  packages/stark-ui/package-lock.json
  packages/stark-ui/package.json
  packages/stark-ui/src/modules/action-bar/components/action-bar.component.ts
  packages/stark-ui/src/modules/app-logo/components/app-logo.component.ts
  packages/stark-ui/src/modules/keyboard-directives/directives/on-enter-key.directive.ts
  packages/stark-ui/src/modules/keyboard-directives/directives/restrict-input.directive.ts
  packages/stark-ui/src/modules/pretty-print/components/pretty-print.component.spec.ts
  packages/stark-ui/src/modules/pretty-print/components/pretty-print.component.ts
  packages/stark-ui/src/modules/slider/components/slider.component.spec.ts
  packages/stark-ui/src/modules/slider/components/slider.component.ts
  packages/stark-ui/src/modules/svg-view-box/directives/svg-view-box.directive.ts
  packages/stark-ui/src/modules/table/components/column.component.ts
  packages/stark-ui/src/modules/table/components/dialogs/multisort.component.ts
  packages/stark-ui/src/modules/table/components/table.component.spec.ts
  packages/stark-ui/src/modules/table/components/table.component.ts
  showcase/config/webpack-custom-config.dev.json
  showcase/package-lock.json
  showcase/package.json
  showcase/src/app/news/news-item-component/news-item.component.ts
  showcase/src/app/shared/example-viewer/example-viewer.component.ts
  starter/package-lock.json
  starter/package.json
  starter/src/app/about/about.component.ts
Labels: comp: qa, comp: stark-all

#577 fix(stark-demo): add missing files and regex to the showcase url auto-replace script
  showcase/ghpages-adapt-bundle-urls.js
Labels: comp: stark-showcase

#579 fix(release): add "package-lock.json" to the set of files to be updated by release-it
  .release-it.json
Labels: comp: stark-all
