Repository NationalBankBelgium/stark, pull requests merged in 2018-08, with the labels that each got.

#600 chore(docs): re-generate changelog after fixing tag 10.0.0-alpha.3
  CHANGELOG.md
Labels: comp: docs, type: doc, type: enhancement

#584 fix(stark-demo): adapt ExampleViewer to fetch example files targeting the right url. Rename title input to prevent weird tooltip.
  packages/stark-core/src/modules/http/testing/http.mock.ts
  showcase/src/app/demo/action-bar/action-bar.component.html
  showcase/src/app/demo/button/button.component.html
  showcase/src/app/demo/example-viewer/example-viewer.component.html
  showcase/src/app/demo/keyboard-directives/keyboard-directives.component.html
  showcase/src/app/demo/pretty-print/pretty-print.component.html
  showcase/src/app/shared/example-viewer/example-viewer.component.html
  showcase/src/app/shared/example-viewer/example-viewer.component.spec.ts
  showcase/src/app/shared/example-viewer/example-viewer.component.ts
  showcase/src/app/shared/example-viewer/file.service.ts
Labels: comp: stark-showcase

#610 feat(build-main): use npm 6.3.0 + adapt package-lock.json files
  .travis.yml
  package-lock.json
  packages/stark-build/package-lock.json
  packages/stark-core/package-lock.json
  packages/stark-testing/package-lock.json
  packages/stark-ui/package-lock.json
  showcase/package-lock.json
  showcase/package.json
  starter/package-lock.json
  starter/package.json
Labels: comp: build-main

#611 ci(stark-all): fix package-lock.json files that were corrupted in #610 for all stark packages
  package-lock.json
  packages/stark-build/package-lock.json
  packages/stark-core/package-lock.json
  packages/stark-testing/package-lock.json
  packages/stark-ui/package-lock.json
  showcase/package-lock.json
  starter/package-lock.json
Labels: comp: build-main, comp: stark-all

#565 feat(stark-ui): Date Picker Component
  package-lock.json
  packages/stark-build/config/tslint.json
  packages/stark-build/package-lock.json
  packages/stark-core/package-lock.json
  packages/stark-testing/package-lock.json
  packages/stark-ui/assets/styles/_base.scss
  packages/stark-ui/assets/themes/_app-header-theme.scss
  packages/stark-ui/package-lock.json
  packages/stark-ui/package.json
  packages/stark-ui/src/modules.ts
  packages/stark-ui/src/modules/date-picker.ts
  packages/stark-ui/src/modules/date-picker/components.ts
  packages/stark-ui/src/modules/date-picker/components/_date-picker-theme.scss
  packages/stark-ui/src/modules/date-picker/components/_date-picker.component.scss
  packages/stark-ui/src/modules/date-picker/components/date-format.constants.ts
  packages/stark-ui/src/modules/date-picker/components/date-picker.component.html
  packages/stark-ui/src/modules/date-picker/components/date-picker.component.spec.ts
  packages/stark-ui/src/modules/date-picker/components/date-picker.component.ts
  packages/stark-ui/src/modules/date-picker/date-picker.module.ts
  packages/stark-ui/tsconfig.spec.json
  packages/tsconfig.json
  showcase/package-lock.json
  showcase/src/app/app.component.html
  showcase/src/app/app.module.ts
  showcase/src/app/app.routes.ts
  showcase/src/app/demo/date-picker/date-picker.component.html
  showcase/src/app/demo/date-picker/date-picker.component.ts
  showcase/src/app/demo/date-picker/index.ts
  showcase/src/app/demo/demo.module.ts
  showcase/src/app/demo/index.ts
  showcase/src/app/translation.config.ts
  showcase/src/assets/examples/date-picker/custom-filter.html
  showcase/src/assets/examples/date-picker/custom-filter.ts
  showcase/src/assets/examples/date-picker/weekdays.html
  showcase/src/assets/examples/date-picker/weekdays.ts
  showcase/src/assets/examples/date-picker/weekends.html
  showcase/src/assets/examples/date-picker/weekends.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
  starter/package-lock.json
Labels: comp: stark-showcase, comp: stark-ui, must, type: feature

#615 ci(stark-build): downgrade npm back to 5.8.0 due to 'npm pack' failure on Travis
  .travis.yml
Labels: comp: build-main

#617 ci(build-main): adapt travis config to remove all package-lock.json before installing all packages on PRs from GreenKeeper
  .travis.yml
Labels: comp: build-main

#621 fix(build-main): fix version of greenkeeper-lockfile which is installed during travis build
  .travis.yml
Labels: comp: build-main

#618 feat(stark-ui): implement date range picker
  packages/rollup.config.common-data.js
  packages/stark-core/src/common/translations/translations/en.ts
  packages/stark-core/src/common/translations/translations/fr.ts
  packages/stark-core/src/common/translations/translations/nl.ts
  packages/stark-ui/src/modules.ts
  packages/stark-ui/src/modules/date-picker/components/date-picker.component.ts
  packages/stark-ui/src/modules/date-range-picker.ts
  packages/stark-ui/src/modules/date-range-picker/components.ts
  packages/stark-ui/src/modules/date-range-picker/components/_date-range-picker.component.scss
  packages/stark-ui/src/modules/date-range-picker/components/date-range-picker.component.html
  packages/stark-ui/src/modules/date-range-picker/components/date-range-picker.component.spec.ts
  packages/stark-ui/src/modules/date-range-picker/components/date-range-picker.component.ts
  packages/stark-ui/src/modules/date-range-picker/date-range-picker.module.ts
  showcase/src/app/app.component.html
  showcase/src/app/app.routes.ts
  showcase/src/app/demo/date-picker/date-picker.component.html
  showcase/src/app/demo/date-range-picker/date-range-picker.component.html
  showcase/src/app/demo/date-range-picker/date-range-picker.component.ts
  showcase/src/app/demo/date-range-picker/index.ts
  showcase/src/app/demo/demo.module.ts
  showcase/src/app/demo/index.ts
  showcase/src/assets/examples/date-range-picker/full.html
  showcase/src/assets/examples/date-range-picker/full.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
  showcase/src/styles/_theme.scss
Labels: comp: stark-ui, must, type: feature

#602 feat(stark-demo): style header in the showcase
  packages/stark-core/src/common/translations/translations/en.ts
  packages/stark-core/src/common/translations/translations/fr.ts
  packages/stark-core/src/common/translations/translations/nl.ts
  packages/stark-ui/assets/styles/_base.scss
  packages/stark-ui/assets/styles/_header.scss
  packages/stark-ui/assets/themes/_app-header-theme.scss
  showcase/src/app/app.component.html
  showcase/src/app/app.component.spec.ts
  showcase/src/app/app.module.ts
  showcase/src/app/app.routes.ts
  showcase/src/app/demo/demo.module.ts
  showcase/src/app/demo/header/header.component.html
  showcase/src/app/demo/header/header.component.ts
  showcase/src/app/demo/header/index.ts
  showcase/src/app/demo/index.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
  showcase/src/styles/_sidenav_temp.scss
  showcase/src/styles/_theme.scss
Labels: comp: stark-ui, must, type: feature

#624 refactor(stark-all): standardization of the code, add some comments in scss files, fixed jsdocs issues
  greenkeeper.json
  packages/stark-build/config/webpack.common.js
  packages/stark-core/src/modules/http/http.module.ts
  packages/stark-core/src/modules/logging/logging.module.ts
  packages/stark-core/src/modules/routing/routing.module.ts
  packages/stark-core/src/modules/routing/services/routing.service.spec.ts
  packages/stark-core/src/modules/session/session.module.ts
  packages/stark-core/src/modules/settings/settings.module.ts
  packages/stark-core/src/modules/user/user.module.ts
  packages/stark-ui/src/modules/action-bar/components/_action-bar-theme.scss
  packages/stark-ui/src/modules/action-bar/components/_action-bar.component.scss
  packages/stark-ui/src/modules/action-bar/components/action-bar.component.ts
  packages/stark-ui/src/modules/app-logo/components/_app-logo-theme.scss
  packages/stark-ui/src/modules/app-logo/components/app-logo.component.spec.ts
  packages/stark-ui/src/modules/app-logo/components/app-logo.component.ts
  packages/stark-ui/src/modules/date-picker/components/date-picker.component.spec.ts
  packages/stark-ui/src/modules/date-picker/components/date-picker.component.ts
  packages/stark-ui/src/modules/date-range-picker/components/_date-range-picker.component.scss
  packages/stark-ui/src/modules/date-range-picker/components/date-range-picker.component.html
  packages/stark-ui/src/modules/date-range-picker/components/date-range-picker.component.spec.ts
  packages/stark-ui/src/modules/date-range-picker/components/date-range-picker.component.ts
  packages/stark-ui/src/modules/dropdown/components/dropdown.component.html
  packages/stark-ui/src/modules/dropdown/components/dropdown.component.scss
  packages/stark-ui/src/modules/dropdown/components/dropdown.component.spec.ts
  packages/stark-ui/src/modules/dropdown/components/dropdown.component.ts
  packages/stark-ui/src/modules/dropdown/dropdown.module.ts
  packages/stark-ui/src/modules/keyboard-directives/directives/on-enter-key.directive.spec.ts
  packages/stark-ui/src/modules/keyboard-directives/directives/restrict-input.directive.spec.ts
  packages/stark-ui/src/modules/pretty-print/components/_pretty-print.component.scss
  packages/stark-ui/src/modules/pretty-print/components/pretty-print.component.html
  packages/stark-ui/src/modules/pretty-print/components/pretty-print.component.ts
  packages/stark-ui/src/modules/slider/components/_slider-theme.scss
  packages/stark-ui/src/modules/slider/components/slider.component.html
  packages/stark-ui/src/modules/slider/components/slider.component.ts
  packages/stark-ui/src/modules/svg-view-box/directives/svg-view-box.directive.spec.ts
  packages/stark-ui/src/modules/svg-view-box/directives/svg-view-box.directive.ts
  packages/stark-ui/src/modules/table/components/_table.component.scss
  packages/stark-ui/src/modules/table/components/dialogs/_multisort.component.scss
  packages/stark-ui/src/modules/table/components/table.component.ts
  showcase/src/app/demo/button/button.component.scss
  showcase/src/app/demo/date-range-picker/date-range-picker.component.html
  showcase/src/app/news/news-item-component/news-item.component.ts
  showcase/src/app/shared/example-viewer/_example-viewer-theme.scss
  starter/src/app/home/home.component.scss
  starter/src/app/home/home.component.ts
Labels: type: refactor

#616 feat(stark-ui): implement the logout component/module
  packages/stark-ui/src/modules.ts
  packages/stark-ui/src/modules/app-logout.ts
  packages/stark-ui/src/modules/app-logout/app-logout.module.ts
  packages/stark-ui/src/modules/app-logout/components.ts
  packages/stark-ui/src/modules/app-logout/components/app-logout.component.html
  packages/stark-ui/src/modules/app-logout/components/app-logout.component.spec.ts
  packages/stark-ui/src/modules/app-logout/components/app-logout.component.ts
  showcase/src/app/app.component.html
  showcase/src/app/app.module.ts
  showcase/src/app/app.routes.ts
  showcase/src/app/demo/demo.module.ts
  showcase/src/app/demo/header/header.component.ts
  showcase/src/app/demo/index.ts
  showcase/src/app/demo/logout/index.ts
  showcase/src/app/demo/logout/logout.component.html
  showcase/src/app/demo/logout/logout.component.ts
  showcase/src/assets/examples/logout/logout-default.html
  showcase/src/assets/examples/logout/logout-logout.html
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
Labels: PR action: review

#639 fix(stark-ui): button - align icon vertically
  packages/stark-ui/assets/themes/_button-theme.scss
Labels: comp: stark-ui, type: bug

#563 feat(stark-demo): add Slider component to the Showcase Demo
  packages/stark-ui/src/modules/slider/components/slider.component.html
  showcase/src/app/app.component.html
  showcase/src/app/app.module.ts
  showcase/src/app/app.routes.ts
  showcase/src/app/demo/demo.module.ts
  showcase/src/app/demo/index.ts
  showcase/src/app/demo/slider/index.ts
  showcase/src/app/demo/slider/slider.component.html
  showcase/src/app/demo/slider/slider.component.scss
  showcase/src/app/demo/slider/slider.component.ts
  showcase/src/assets/examples/slider/horizontal-range-slider.html
  showcase/src/assets/examples/slider/horizontal-range-slider.scss
  showcase/src/assets/examples/slider/horizontal-range-slider.ts
  showcase/src/assets/examples/slider/simple-horizontal-slider.html
  showcase/src/assets/examples/slider/simple-horizontal-slider.scss
  showcase/src/assets/examples/slider/simple-horizontal-slider.ts
  showcase/src/assets/examples/slider/simple-vertical-slider.html
  showcase/src/assets/examples/slider/simple-vertical-slider.scss
  showcase/src/assets/examples/slider/simple-vertical-slider.ts
  showcase/src/assets/examples/slider/vertical-range-slider.html
  showcase/src/assets/examples/slider/vertical-range-slider.scss
  showcase/src/assets/examples/slider/vertical-range-slider.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
Labels: comp: stark-showcase, type: feature
