Repository NationalBankBelgium/stark, pull requests merged in 2018-09, with the labels that each got.

#648 chore(package): update @commitlint/config-conventional to version 7.1.1
  package-lock.json
  package.json
Labels: greenkeeper

#649 chore(package): update @commitlint/cli to version 7.1.1
  package-lock.json
  package.json
Labels: greenkeeper

#650 chore(package): update release-it to version 7.6.0
  package-lock.json
  package.json
Labels: greenkeeper

#652 fix(stark-ui): modify css and add App-Logo to Showcase
  packages/stark-ui/assets/styles/_header.scss
  packages/stark-ui/src/modules/app-logo/components/app-logo.component.scss
  showcase/src/app/app.component.html
Labels: comp: stark-showcase, comp: stark-ui

#658 chore(package): update rollup to version 0.65.2
  package-lock.json
  package.json
Labels: greenkeeper

#657 feat(stark-core): use the browser language as the default language
  packages/stark-core/src/modules/session/services/session.service.ts
  packages/stark-core/src/modules/settings/effects/settings.effects.ts
  showcase/src/app/app.module.ts
Labels: comp: stark-core, comp: stark-showcase, type: feature

#659 docs(stark-ui): fix SvgViewBox directive JSDoc for better readability
  packages/stark-ui/src/modules/svg-view-box/directives/svg-view-box.directive.ts
Labels: comp: docs, comp: stark-ui

#638 feat(stark-ui): implementation of the app sidebar
  packages/rollup.config.common-data.js
  packages/stark-ui/assets/styles/_base.scss
  packages/stark-ui/assets/styles/_old-variables.scss
  packages/stark-ui/assets/themes/_menu-theme.scss
  packages/stark-ui/src/modules.ts
  packages/stark-ui/src/modules/app-sidebar.ts
  packages/stark-ui/src/modules/app-sidebar/app-sidebar.module.ts
  packages/stark-ui/src/modules/app-sidebar/components.ts
  packages/stark-ui/src/modules/app-sidebar/components/_app-sidebar-theme.scss
  packages/stark-ui/src/modules/app-sidebar/components/_app-sidebar.component.scss
  packages/stark-ui/src/modules/app-sidebar/components/app-sidebar.component.html
  packages/stark-ui/src/modules/app-sidebar/components/app-sidebar.component.spec.ts
  packages/stark-ui/src/modules/app-sidebar/components/app-sidebar.component.ts
  packages/stark-ui/src/modules/app-sidebar/services.ts
  packages/stark-ui/src/modules/app-sidebar/services/app-sidebar-open-event.intf.ts
  packages/stark-ui/src/modules/app-sidebar/services/app-sidebar.service.intf.ts
  packages/stark-ui/src/modules/app-sidebar/services/app-sidebar.service.spec.ts
  packages/stark-ui/src/modules/app-sidebar/services/app-sidebar.service.ts
  packages/stark-ui/src/modules/app-sidebar/testing.ts
  packages/stark-ui/src/modules/app-sidebar/testing/app-sidebar.mock.ts
  packages/stark-ui/testing/public_api.ts
  packages/stark-ui/testing/tsconfig-build.json
  showcase/src/app/app.component.html
  showcase/src/app/app.component.spec.ts
  showcase/src/app/app.component.ts
  showcase/src/app/app.module.ts
  showcase/src/app/app.routes.ts
  showcase/src/app/demo/demo.module.ts
  showcase/src/app/demo/index.ts
  showcase/src/app/demo/sidebar/demo-sidebar.component.html
  showcase/src/app/demo/sidebar/demo-sidebar.component.scss
  showcase/src/app/demo/sidebar/demo-sidebar.component.ts
  showcase/src/app/demo/sidebar/index.ts
  showcase/src/assets/examples/sidebar/regular.html
  showcase/src/assets/examples/sidebar/regular.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
  showcase/src/styles/_sidenav_temp.scss
  showcase/src/styles/_stark-styles.scss
  showcase/src/styles/styles.scss
Labels: comp: stark-ui, must, type: feature

#663 fix(stark-demo): add AppLogo back in the header after being accidentally removed
  showcase/src/app/app.component.html
Labels: comp: stark-showcase

#667 fix(stark-all): upgrade lint-staged to 7.2.2 to fix weird validation warning
  package-lock.json
  package.json
  packages/stark-build/package-lock.json
  packages/stark-core/package-lock.json
  packages/stark-testing/package-lock.json
  packages/stark-ui/package-lock.json
  showcase/package-lock.json
  showcase/package.json
  starter/package-lock.json
  starter/package.json
Labels: comp: stark-all

#665 feat(stark-ui): added white theme and full width for dropdown component
  package.json
  packages/stark-ui/assets/styles/_variables.scss
  packages/stark-ui/src/modules/dropdown/components/_dropdown-theme.scss
  packages/stark-ui/src/modules/dropdown/components/_dropdown.component.scss
  packages/stark-ui/src/modules/dropdown/components/dropdown.component.ts
  packages/stark-ui/tslint.json
  showcase/src/app/app.component.html
  showcase/src/app/app.routes.ts
  showcase/src/app/demo/demo.module.ts
  showcase/src/app/demo/dropdown/demo-dropdown.component.html
  showcase/src/app/demo/dropdown/demo-dropdown.component.scss
  showcase/src/app/demo/dropdown/demo-dropdown.component.ts
  showcase/src/app/demo/dropdown/dropdown.component.scss
  showcase/src/app/demo/dropdown/index.ts
  showcase/src/assets/examples/dropdown/white.css
  showcase/src/assets/examples/dropdown/white.html
  showcase/src/assets/examples/dropdown/white.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
  showcase/src/styles/_stark-styles.scss
Labels: comp: stark-ui, must, type: bug

#670 fix(release): fix wrong pushRepo option in release-it according to the latest version
  .release-it.json
Labels: comp: stark-all

#676 refactor(stark-demo): showcase application structure fix
  showcase/src/assets/css/.gitkeep
Labels: comp: stark-showcase, type: refactor

#677 refactor(stark-starter): starter application structure fix
  starter/src/assets/css/.gitkeep
Labels: comp: stark-starter, type: refactor

#675 docs(stark-ui): document the need for importing the PrismJS css file.
  packages/stark-ui/src/modules/pretty-print/components/pretty-print.component.ts
Labels: comp: stark-ui, type: doc

#672 feat(stark-ui): typography + Spaces
  packages/stark-ui/assets/styles/_base.scss
  packages/stark-ui/assets/styles/_header.scss
  packages/stark-ui/assets/styles/_typography.scss
  packages/stark-ui/assets/styles/_variables.scss
  packages/stark-ui/src/modules/pretty-print/components/_pretty-print.component.scss
  showcase/src/app/app.component.html
  showcase/src/app/app.routes.ts
  showcase/src/app/demo/demo.module.ts
  showcase/src/app/demo/index.ts
  showcase/src/app/demo/typography/demo-typography.component.html
  showcase/src/app/demo/typography/demo-typography.component.ts
  showcase/src/app/demo/typography/index.ts
  showcase/src/app/shared/example-viewer/_example-viewer-theme.scss
  showcase/src/app/shared/example-viewer/example-viewer.component.html
  showcase/src/app/shared/example-viewer/example-viewer.component.scss
  showcase/src/app/shared/example-viewer/example-viewer.component.spec.ts
  showcase/src/assets/examples/typography/mat.html
  showcase/src/assets/examples/typography/stark.html
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
Labels: comp: stark-ui, must, type: feature

#678 feat(stark-ui): color settings
  packages/stark-ui/assets/styles/_colors.scss
  packages/stark-ui/assets/styles/_variables.scss
  packages/stark-ui/assets/themes/_button-theme.scss
  packages/stark-ui/assets/themes/_card-theme.scss
  packages/stark-ui/src/common/classes/abstract-component.ts
  packages/stark-ui/src/modules/action-bar/components/_action-bar-theme.scss
  packages/stark-ui/src/modules/dropdown/components/_dropdown-theme.scss
  packages/stark-ui/src/modules/dropdown/components/dropdown.component.ts
Labels: comp: stark-ui, must, type: feature

#695 chore(stark-all): upgrade Typescript to v2.8. Fix keyboard directives due to new deprecations in Typescript 2.8 DOM API.
  package-lock.json
  package.json
  packages/stark-build/package-lock.json
  packages/stark-core/package-lock.json
  packages/stark-core/package.json
  packages/stark-testing/package-lock.json
  packages/stark-ui/package-lock.json
  packages/stark-ui/package.json
  packages/stark-ui/src/modules/keyboard-directives/directives/on-enter-key.directive.spec.ts
  packages/stark-ui/src/modules/keyboard-directives/directives/on-enter-key.directive.ts
  packages/stark-ui/src/modules/keyboard-directives/directives/restrict-input.directive.spec.ts
  packages/stark-ui/src/modules/keyboard-directives/directives/restrict-input.directive.ts
  showcase/package-lock.json
  showcase/package.json
  starter/package-lock.json
  starter/package.json
Labels: comp: stark-all, type: feature

#645 feat(stark-ui): language-selector: implement component/module
  packages/rollup.config.common-data.js
  packages/stark-core/src/modules/session/services/session.service.ts
  packages/stark-ui/assets/styles/_header.scss
  packages/stark-ui/src/common/classes/abstract-component.ts
  packages/stark-ui/src/modules.ts
  packages/stark-ui/src/modules/dropdown/components/_dropdown.component.scss
  packages/stark-ui/src/modules/language-selector.ts
  packages/stark-ui/src/modules/language-selector/components.ts
  packages/stark-ui/src/modules/language-selector/components/_language-selector.component.scss
  packages/stark-ui/src/modules/language-selector/components/language-selector.component.html
  packages/stark-ui/src/modules/language-selector/components/language-selector.component.spec.ts
  packages/stark-ui/src/modules/language-selector/components/language-selector.component.ts
  packages/stark-ui/src/modules/language-selector/language-selector.module.ts
  showcase/src/app/app.component.html
  showcase/src/app/app.module.ts
  showcase/src/app/app.routes.ts
  showcase/src/app/demo/demo.module.ts
  showcase/src/app/demo/index.ts
  showcase/src/app/demo/language-selector/demo-language-selector.component.html
  showcase/src/app/demo/language-selector/demo-language-selector.component.ts
  showcase/src/app/demo/language-selector/index.ts
  showcase/src/assets/examples/language-selector/dropdown.html
  showcase/src/assets/examples/language-selector/toolbar.html
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
  showcase/src/styles/_stark-styles.scss
Labels: comp: stark-showcase, comp: stark-ui, type: feature

#637 feat(stark-ui): implement collapsible feature
  greenkeeper.json
  packages/rollup.config.common-data.js
  packages/stark-ui/assets/styles/_variables.scss
  packages/stark-ui/src/modules.ts
  packages/stark-ui/src/modules/collapsible.ts
  packages/stark-ui/src/modules/collapsible/collapsible.module.ts
  packages/stark-ui/src/modules/collapsible/components.ts
  packages/stark-ui/src/modules/collapsible/components/_collapsible-theme.scss
  packages/stark-ui/src/modules/collapsible/components/_collapsible.component.scss
  packages/stark-ui/src/modules/collapsible/components/collapsible.component.html
  packages/stark-ui/src/modules/collapsible/components/collapsible.component.spec.ts
  packages/stark-ui/src/modules/collapsible/components/collapsible.component.ts
  showcase/src/app/app.component.html
  showcase/src/app/app.routes.ts
  showcase/src/app/demo/collapsible/demo-collapsible.component.html
  showcase/src/app/demo/collapsible/demo-collapsible.component.scss
  showcase/src/app/demo/collapsible/demo-collapsible.component.ts
  showcase/src/app/demo/collapsible/index.ts
  showcase/src/app/demo/demo.module.ts
  showcase/src/app/demo/index.ts
  showcase/src/assets/examples/collapsible/collapsible-custom.css
  showcase/src/assets/examples/collapsible/collapsible-custom.html
  showcase/src/assets/examples/collapsible/collapsible-custom.ts
  showcase/src/assets/examples/collapsible/collapsible-default.css
  showcase/src/assets/examples/collapsible/collapsible-default.html
  showcase/src/assets/examples/collapsible/collapsible-default.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
  showcase/src/styles/_stark-styles.scss
Labels: comp: stark-ui, must, type: feature

#703 style(stark-ui): use palette colors for every stark colors
  packages/stark-ui/assets/styles/_colors.scss
  packages/stark-ui/assets/styles/_variables.scss
  packages/stark-ui/assets/themes/_button-theme.scss
  packages/stark-ui/assets/themes/_card-theme.scss
  packages/stark-ui/src/modules/action-bar/components/_action-bar-theme.scss
  packages/stark-ui/src/modules/collapsible/components/_collapsible-theme.scss
  packages/stark-ui/src/modules/dropdown/components/_dropdown-theme.scss
  showcase/src/app/demo/card/demo-card.component.html
  showcase/src/app/demo/card/demo-card.component.scss
  showcase/src/app/demo/card/demo-card.component.ts
  showcase/src/app/demo/colors/demo-colors.component.html
  showcase/src/app/demo/colors/demo-colors.component.ts
  showcase/src/app/shared/example-viewer/_example-viewer-theme.scss
  showcase/src/app/shared/example-viewer/example-viewer.component.html
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
  showcase/src/styles/_variables.scss
Labels: comp: stark-ui, must, type: feature

#706 feat(showcase): improve showcase and move styles from showcase to stark-ui
  packages/stark-ui/assets/styles/_base.scss
  showcase/src/app/app.component.css
  showcase/src/app/app.component.html
  showcase/src/app/app.component.ts
  showcase/src/app/translation.config.ts
Labels: comp: stark-showcase, type: enhancement

#707 feat(stark-ui): implement toast notification feature
  packages/rollup.config.common-data.js
  packages/stark-ui/src/common.ts
  packages/stark-ui/src/common/message.ts
  packages/stark-ui/src/common/message/message-type.intf.ts
  packages/stark-ui/src/common/message/message.intf.ts
  packages/stark-ui/src/modules.ts
  packages/stark-ui/src/modules/toast-notification.ts
  packages/stark-ui/src/modules/toast-notification/components.ts
  packages/stark-ui/src/modules/toast-notification/components/_toast-notification-theme.scss
  packages/stark-ui/src/modules/toast-notification/components/_toast-notification.component.scss
  packages/stark-ui/src/modules/toast-notification/components/toast-message.intf.ts
  packages/stark-ui/src/modules/toast-notification/components/toast-notification.component.html
  packages/stark-ui/src/modules/toast-notification/components/toast-notification.component.spec.ts
  packages/stark-ui/src/modules/toast-notification/components/toast-notification.component.ts
  packages/stark-ui/src/modules/toast-notification/services.ts
  packages/stark-ui/src/modules/toast-notification/services/toast-notification-option.intf.ts
  packages/stark-ui/src/modules/toast-notification/services/toast-notification-result.intf.ts
  packages/stark-ui/src/modules/toast-notification/services/toast-notification.service.intf.ts
  packages/stark-ui/src/modules/toast-notification/services/toast-notification.service.spec.ts
  packages/stark-ui/src/modules/toast-notification/services/toast-notification.service.ts
  packages/stark-ui/src/modules/toast-notification/testing.ts
  packages/stark-ui/src/modules/toast-notification/testing/toast-notification.mock.ts
  packages/stark-ui/src/modules/toast-notification/toast-notification.module.ts
  packages/stark-ui/src/stark-ui.ts
  packages/stark-ui/testing/public_api.ts
  showcase/src/app/app.component.html
  showcase/src/app/app.module.ts
  showcase/src/app/app.routes.ts
  showcase/src/app/demo/demo.module.ts
  showcase/src/app/demo/index.ts
  showcase/src/app/demo/toast/demo-toast-notification.component.html
  showcase/src/app/demo/toast/demo-toast-notification.component.scss
  showcase/src/app/demo/toast/demo-toast-notification.component.ts
  showcase/src/app/demo/toast/index.ts
  showcase/src/assets/examples/toast/toast.html
  showcase/src/assets/examples/toast/toast.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
  showcase/src/styles/_stark-styles.scss
Labels: comp: stark-ui, type: feature

#713 chore(stark-all): refine some imports to avoid "circular dependencies" warning from Webpack
  packages/stark-core/src/modules/http/entities/error/http-error-base.entity.intf.ts
  packages/stark-core/src/modules/http/entities/error/http-error-base.entity.ts
  packages/stark-core/src/modules/logging/entities/log-message.entity.intf.ts
  packages/stark-core/src/modules/logging/services/logging.service.intf.ts
  packages/stark-core/src/modules/logging/services/logging.service.spec.ts
  packages/stark-ui/src/modules/collapsible/components/collapsible.component.spec.ts
  packages/stark-ui/src/modules/toast-notification/components/toast-message.intf.ts
  packages/stark-ui/src/modules/toast-notification/components/toast-notification.component.spec.ts
  packages/stark-ui/src/modules/toast-notification/components/toast-notification.component.ts
  packages/stark-ui/src/modules/toast-notification/services/toast-notification.service.intf.ts
  packages/stark-ui/src/modules/toast-notification/services/toast-notification.service.spec.ts
  packages/stark-ui/src/modules/toast-notification/services/toast-notification.service.ts
Labels: comp: stark-all, type: enhancement

#716 refactor(stark-ui): make all UI components to extend from the AbstrackStarkUiComponent class. Replace HostBinding property decorator by 'host' component metadata property.
  packages/stark-ui/src/common/classes/abstract-component.ts
  packages/stark-ui/src/modules/action-bar/components/action-bar.component.ts
  packages/stark-ui/src/modules/app-logo/components/app-logo.component.ts
  packages/stark-ui/src/modules/app-logout/components/app-logout.component.ts
  packages/stark-ui/src/modules/app-sidebar/components/app-sidebar.component.ts
  packages/stark-ui/src/modules/app-sidebar/services/app-sidebar-open-event.intf.ts
  packages/stark-ui/src/modules/app-sidebar/services/app-sidebar.service.intf.ts
  packages/stark-ui/src/modules/app-sidebar/services/app-sidebar.service.ts
  packages/stark-ui/src/modules/app-sidebar/testing/app-sidebar.mock.ts
  packages/stark-ui/src/modules/breadcrumb/components/breadcrumb-config.intf.ts
  packages/stark-ui/src/modules/breadcrumb/components/breadcrumb-path.intf.ts
  packages/stark-ui/src/modules/breadcrumb/components/breadcrumb.component.ts
  packages/stark-ui/src/modules/collapsible/components/collapsible.component.ts
  packages/stark-ui/src/modules/date-picker/components/date-picker.component.ts
  packages/stark-ui/src/modules/date-range-picker/components/date-range-picker-event.intf.ts
  packages/stark-ui/src/modules/date-range-picker/components/date-range-picker.component.spec.ts
  packages/stark-ui/src/modules/date-range-picker/components/date-range-picker.component.ts
  packages/stark-ui/src/modules/dropdown/components/dropdown.component.ts
  packages/stark-ui/src/modules/language-selector/components/language-selector.component.ts
  packages/stark-ui/src/modules/pretty-print/components/pretty-print.component.ts
  packages/stark-ui/src/modules/slider/components/slider.component.ts
  packages/stark-ui/src/modules/table/components/column.component.ts
  packages/stark-ui/src/modules/table/components/dialogs/multisort.component.ts
  packages/stark-ui/src/modules/table/components/table.component.ts
  packages/stark-ui/src/modules/toast-notification/components/toast-notification.component.ts
  packages/stark-ui/src/modules/toast-notification/services/toast-notification.service.ts
  packages/stark-ui/src/modules/toast-notification/testing/toast-notification.mock.ts
Labels: comp: stark-ui, type: refactor

#692 feat(stark-ui): implements footer component
  packages/stark-core/src/common/translations/translations/en.ts
  packages/stark-core/src/common/translations/translations/fr.ts
  packages/stark-core/src/common/translations/translations/nl.ts
  packages/stark-ui/assets/styles/_old-variables.scss
  packages/stark-ui/assets/styles/_variables.scss
  packages/stark-ui/src/modules.ts
  packages/stark-ui/src/modules/app-footer.ts
  packages/stark-ui/src/modules/app-footer/app-footer.module.ts
  packages/stark-ui/src/modules/app-footer/components.ts
  packages/stark-ui/src/modules/app-footer/components/_app-footer-theme.scss
  packages/stark-ui/src/modules/app-footer/components/_app-footer.component.scss
  packages/stark-ui/src/modules/app-footer/components/app-footer.component.html
  packages/stark-ui/src/modules/app-footer/components/app-footer.component.spec.ts
  packages/stark-ui/src/modules/app-footer/components/app-footer.component.ts
  packages/stark-ui/src/modules/app-sidebar/components/_app-sidebar.component.scss
  showcase/src/app/app.component.html
  showcase/src/app/app.module.ts
  showcase/src/app/app.routes.ts
  showcase/src/app/demo/demo.module.ts
  showcase/src/app/demo/footer/demo-footer.component.html
  showcase/src/app/demo/footer/demo-footer.component.ts
  showcase/src/app/demo/footer/index.ts
  showcase/src/app/demo/index.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
  showcase/src/styles/_stark-styles.scss
Labels: comp: stark-ui, must, type: feature

#714 feat(stark-ui): implement Pagination component. Integrate pagination in Table component
  packages/stark-ui/src/modules.ts
  packages/stark-ui/src/modules/pagination.ts
  packages/stark-ui/src/modules/pagination/components.ts
  packages/stark-ui/src/modules/pagination/components/_pagination-theme.scss
  packages/stark-ui/src/modules/pagination/components/_pagination.component.scss
  packages/stark-ui/src/modules/pagination/components/paginate-event.intf.ts
  packages/stark-ui/src/modules/pagination/components/pagination-config.intf.ts
  packages/stark-ui/src/modules/pagination/components/pagination.component.html
  packages/stark-ui/src/modules/pagination/components/pagination.component.spec.ts
  packages/stark-ui/src/modules/pagination/components/pagination.component.ts
  packages/stark-ui/src/modules/pagination/pagination.module.ts
  packages/stark-ui/src/modules/table/components/column.component.html
  packages/stark-ui/src/modules/table/components/table.component.html
  packages/stark-ui/src/modules/table/components/table.component.spec.ts
  packages/stark-ui/src/modules/table/components/table.component.ts
  packages/stark-ui/src/modules/table/table.module.ts
  showcase/src/app/app.component.html
  showcase/src/app/app.routes.ts
  showcase/src/app/demo/demo.module.ts
  showcase/src/app/demo/index.ts
  showcase/src/app/demo/pagination/demo-pagination.component.html
  showcase/src/app/demo/pagination/demo-pagination.component.scss
  showcase/src/app/demo/pagination/demo-pagination.component.ts
  showcase/src/app/demo/pagination/index.ts
  showcase/src/app/demo/table/demo-table.component.html
  showcase/src/app/demo/table/demo-table.component.scss
  showcase/src/app/demo/table/demo-table.component.ts
  showcase/src/app/demo/table/index.ts
  showcase/src/app/demo/table/table.component.html
  showcase/src/assets/examples/pagination/advanced-config.html
  showcase/src/assets/examples/pagination/advanced-config.ts
  showcase/src/assets/examples/pagination/compact-config.html
  showcase/src/assets/examples/pagination/compact-config.ts
  showcase/src/assets/examples/pagination/extended-config.html
  showcase/src/assets/examples/pagination/extended-config.ts
  showcase/src/assets/examples/pagination/simple-config.html
  showcase/src/assets/examples/pagination/simple-config.ts
  showcase/src/assets/examples/table/regular.html
  showcase/src/assets/examples/table/regular.scss
  showcase/src/assets/examples/table/regular.ts
  showcase/src/assets/examples/table/with-alternative-action-bar.html
  showcase/src/assets/examples/table/with-alternative-action-bar.scss
  showcase/src/assets/examples/table/with-alternative-action-bar.ts
  showcase/src/assets/examples/table/with-transcluded-action-bar.html
  showcase/src/assets/examples/table/with-transcluded-action-bar.scss
  showcase/src/assets/examples/table/with-transcluded-action-bar.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
  showcase/src/styles/_stark-styles.scss
Labels: comp: stark-ui, type: feature

#724 feat(starter): update starter to be in sync with the showcase
  packages/stark-core/package.json
  packages/stark-ui/package.json
  showcase/src/app/app.component.spec.ts
  showcase/src/app/app.component.ts
  showcase/src/app/app.module.ts
  showcase/src/app/material-icons.config.ts
  showcase/src/environments/environment.hmr.ts
  showcase/src/index.html
  showcase/src/stark-app-config.json
  starter/config/json-server/data.json
  starter/karma.conf.ci.js
  starter/karma.conf.js
  starter/package-lock.json
  starter/package.json
  starter/src/app/about/about.component.html
  starter/src/app/app.component.css
  starter/src/app/app.component.html
  starter/src/app/app.component.spec.ts
  starter/src/app/app.component.ts
  starter/src/app/app.module.ts
  starter/src/app/app.service.ts
  starter/src/app/authentication.config.ts
  starter/src/app/home/home.component.html
  starter/src/app/home/home.component.spec.ts
  starter/src/app/home/home.component.ts
  starter/src/app/material-icons.config.ts
  starter/src/app/router.config.ts
  starter/src/app/translation.config.ts
  starter/src/assets-base/favicon.ico
  starter/src/assets-base/manifest.json
  starter/src/assets/images/GitHub-Mark-32px.png
  starter/src/assets/images/app-header.png
  starter/src/assets/images/logo/logo-full-en-white.svg
  starter/src/assets/images/logo/logo-nbb-en.gif
  starter/src/assets/images/logo/nbb-logo-en.png
  starter/src/assets/images/no-user-image.gif
  starter/src/assets/translations/en.json
  starter/src/assets/translations/fr.json
  starter/src/assets/translations/nl.json
  starter/src/environments/environment.e2e.prod.ts
  starter/src/environments/environment.hmr.ts
  starter/src/environments/environment.prod.ts
  starter/src/environments/environment.ts
  starter/src/index.html
  starter/src/stark-app-config.json
  starter/src/styles/_stark-styles.scss
  starter/src/styles/_theme.scss
  starter/src/styles/_variables.scss
  starter/src/styles/headings.css
  starter/src/styles/styles.pcss
  starter/src/styles/styles.scss
  starter/tsconfig.app.json
  starter/tsconfig.json
  starter/tsconfig.spec.json
  starter/webpack.config.js
Labels: comp: stark-starter

#725 fix(stark-core): fix failing XSRF service test
  packages/stark-core/src/modules/xsrf/services/xsrf.service.spec.ts
Labels: comp: stark-core, type: bug

#729 chore(stark-all): remove greenkeeper-lockfile and obsolete RxJS artifacts. Ban imports from '@angular/material' and 'lodash' root entry points
  .travis.yml
  package-lock.json
  packages/rollup.config.common-data.js
  packages/stark-build/config/build-utils.js
  packages/stark-build/config/tslint.json
  packages/stark-build/config/webpack.common.js
  packages/stark-build/package-lock.json
  packages/stark-core/package-lock.json
  packages/stark-core/package.json
  packages/stark-testing/package-lock.json
  packages/stark-ui/package-lock.json
  packages/stark-ui/package.json
  packages/stark-ui/src/modules/action-bar/action-bar.module.ts
  packages/stark-ui/src/modules/action-bar/components/action-bar.component.spec.ts
  packages/stark-ui/src/modules/date-picker/components/date-picker.component.spec.ts
  packages/stark-ui/src/modules/date-picker/components/date-picker.component.ts
  packages/stark-ui/src/modules/date-picker/date-picker.module.ts
  packages/stark-ui/src/modules/date-range-picker/components/date-range-picker.component.spec.ts
  showcase/package-lock.json
  showcase/package.json
  showcase/src/app/shared/example-viewer/example-viewer.component.spec.ts
  starter/package-lock.json
  starter/package.json
Labels: comp: stark-all, comp: stark-build, type: enhancement

#733 chore(stark-all): upgrade SonarTS to v1.8.0
  package-lock.json
  package.json
  packages/stark-build/package-lock.json
  packages/stark-build/package.json
  packages/stark-core/src/configuration/entities/language/language.entity.ts
  packages/stark-core/src/modules/http/builder/http-request-builder.spec.ts
  packages/stark-core/src/modules/http/serializer/http-serializer.ts
  packages/stark-core/src/modules/http/services/http.service.spec.ts
  packages/stark-core/src/modules/routing/services/routing.service.intf.ts
  packages/stark-core/src/modules/routing/services/routing.service.spec.ts
  packages/stark-core/src/modules/routing/services/routing.service.ts
  packages/stark-core/src/modules/session/entities/session.entity.intf.ts
  packages/stark-core/src/modules/session/entities/session.entity.ts
  packages/stark-core/src/modules/session/services/session.service.spec.ts
  packages/stark-core/src/modules/xsrf/services/xsrf.service.ts
  packages/stark-core/src/validation/decorators/is-bban/is-bban.validator.decorator.spec.ts
  packages/stark-core/src/validation/decorators/is-bic/is-bic.validator.decorator.spec.ts
  packages/stark-core/src/validation/decorators/is-company-number/is-company-number.validator.decorator.spec.ts
  packages/stark-core/src/validation/decorators/is-establishment-unit-number/is-establishment-unit-number.validator.decorator.spec.ts
  packages/stark-core/src/validation/decorators/is-iban/is-iban.validator.decorator.spec.ts
  packages/stark-core/src/validation/decorators/is-isin/is-isin.validator.decorator.spec.ts
  packages/stark-core/src/validation/decorators/is-kbo/is-kbo.validator.decorator.spec.ts
  packages/stark-core/src/validation/decorators/is-nin/is-nin.validator.decorator.spec.ts
  packages/stark-core/src/validation/validators/array-size-range/array-size-range.validator.fn.spec.ts
  packages/stark-core/src/validation/validators/is-bban/is-bban.validator.fn.spec.ts
  packages/stark-core/src/validation/validators/is-bic/is-bic.validator.fn.spec.ts
  packages/stark-core/src/validation/validators/is-company-number/is-company-number.validator.fn.spec.ts
  packages/stark-core/src/validation/validators/is-establishment-unit-number/is-establishment-unit-number.validator.fn.spec.ts
  packages/stark-core/src/validation/validators/is-establishment-unit-number/is-establishment-unit-number.validator.fn.ts
  packages/stark-core/src/validation/validators/is-iban/is-iban.validator.fn.spec.ts
  packages/stark-core/src/validation/validators/is-isin/is-isin.validator.fn.spec.ts
  packages/stark-ui/src/modules/action-bar/components/action-bar.component.ts
  packages/stark-ui/src/modules/action-bar/components/action.intf.ts
  packages/stark-ui/src/modules/app-sidebar/services/app-sidebar.service.ts
  packages/stark-ui/src/modules/date-picker/components/date-picker.component.spec.ts
  packages/stark-ui/src/modules/pagination/components/pagination.component.spec.ts
  packages/stark-ui/src/modules/pretty-print/components/pretty-print.component.spec.ts
  packages/stark-ui/src/modules/slider/components/slider.component.ts
  packages/stark-ui/src/modules/table/components/table.component.spec.ts
  packages/stark-ui/src/modules/table/components/table.component.ts
Labels: comp: stark-all, type: enhancement
