Repository NationalBankBelgium/stark, pull requests merged in 2018-12, with the labels that each got.

#911 fix(stark-build): transpile certain 3rd party libs with Babel only in DEV to prevent breaking support for IE 11
  package-lock.json
  package.json
  packages/stark-build/config/webpack.dev.js
  packages/stark-build/package-lock.json
  packages/stark-build/package.json
  packages/stark-core/package-lock.json
  packages/stark-testing/package-lock.json
  packages/stark-ui/package-lock.json
  showcase/package-lock.json
  starter/package-lock.json
Labels: comp: stark-build, comp: stark-showcase, comp: stark-starter, type: enhancement

#919 fix(stark-build): enhance regex for 3rd party libs to be transpiled to ES5 in Linux, Mac and Windows
  packages/stark-build/config/webpack.dev.js
Labels: comp: stark-build, comp: stark-showcase, comp: stark-starter, type: enhancement

#912 feat(stark-demo): add browserstack test script
  .travis.yml
  README.md
  docs/E2ETESTING.md
  package.json
  packages/stark-build/config-stark/protractor.conf.js
  packages/stark-build/config-stark/spec-bundle-stark.ts
  packages/stark-build/config-stark/spec-bundle.ts
  packages/stark-build/config-stark/spec-jasmine-stark.js
  packages/stark-build/config-stark/webpack.test.ci.js
  packages/stark-build/config-stark/webpack.test.js
  packages/stark-testing/package-lock.json
  packages/stark-testing/package.json
  packages/stark-testing/protractor.conf.js
  showcase/e2e/protractor.browserstack.conf.js
  showcase/e2e/protractor.conf.js
  showcase/e2e/src/app.e2e-spec.ts
  showcase/e2e/tsconfig.e2e.json
  showcase/package-lock.json
  showcase/package.json
  showcase/src/app/app.e2e.ts
  starter/e2e/protractor.conf.js
  starter/e2e/src/app.e2e-spec.ts
  starter/e2e/tsconfig.e2e.json
  starter/package-lock.json
  starter/package.json
  starter/protractor.conf.js
  starter/src/app/app.e2e.ts
Labels: comp: qa, comp: stark-showcase, comp: stark-starter, comp: stark-testing, comp: testing

#938 docs(docs): documentation about how to use polyfills.browser.ts
  docs/POLYFILLS.md
  showcase/src/app/welcome/pages/getting-started/getting-started-page.component.html
  showcase/src/app/welcome/pages/getting-started/getting-started-page.component.ts
  showcase/src/app/welcome/pages/getting-started/starter-structure.ts
Labels: comp: docs, comp: stark-showcase

#952 Greenkeeper/default/@angular/flex layout 7.0.0 beta.21
  showcase/package-lock.json
  showcase/package.json
  starter/package-lock.json
  starter/package.json
Labels: greenkeeper

#936 feat(stark-ui): implementation of app data component
  packages/stark-ui/src/modules.ts
  packages/stark-ui/src/modules/app-data.ts
  packages/stark-ui/src/modules/app-data/app-data.module.ts
  packages/stark-ui/src/modules/app-data/assets/translations/en.ts
  packages/stark-ui/src/modules/app-data/assets/translations/fr.ts
  packages/stark-ui/src/modules/app-data/assets/translations/nl.ts
  packages/stark-ui/src/modules/app-data/components.ts
  packages/stark-ui/src/modules/app-data/components/_app-data-theme.scss
  packages/stark-ui/src/modules/app-data/components/_app-data.component.scss
  packages/stark-ui/src/modules/app-data/components/app-data.component.html
  packages/stark-ui/src/modules/app-data/components/app-data.component.spec.ts
  packages/stark-ui/src/modules/app-data/components/app-data.component.ts
  showcase/src/app/app.component.html
  showcase/src/app/app.component.spec.ts
  showcase/src/app/app.component.ts
  showcase/src/app/app.module.ts
  showcase/src/app/demo-ui/demo-ui.module.ts
  showcase/src/app/demo-ui/pages/app-data/_demo-app-data-page.component.scss
  showcase/src/app/demo-ui/pages/app-data/demo-app-data-page.component.html
  showcase/src/app/demo-ui/pages/app-data/demo-app-data-page.component.ts
  showcase/src/app/demo-ui/pages/app-data/index.ts
  showcase/src/app/demo-ui/pages/index.ts
  showcase/src/app/demo-ui/routes.ts
  showcase/src/assets/examples/app-data/dropdown.html
  showcase/src/assets/examples/app-data/dropdown.ts
  showcase/src/assets/examples/app-data/menu.html
  showcase/src/assets/examples/app-data/menu.ts
  showcase/src/assets/images/app-data/no-user-image.gif
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
  showcase/src/styles/_stark-styles.scss
  showcase/src/styles/styles.scss
Labels: comp: docs, comp: stark-ui

#953 Greenkeeper/release it 9.1.0
  package-lock.json
  package.json
  packages/stark-build/package-lock.json
  packages/stark-core/package-lock.json
  packages/stark-testing/package-lock.json
  packages/stark-ui/package-lock.json
  showcase/package-lock.json
  starter/package-lock.json
Labels: greenkeeper

#977 chore(release): adapt release-it config to align with the new config since version 9
  .release-it.json
Labels: comp: stark-all, type: enhancement

#981 Greenkeeper/default/file loader 3.0.1
  packages/stark-build/package-lock.json
  packages/stark-build/package.json
Labels: greenkeeper

#959 fix(stark-ui): fixes for Table component: not initialized filter + not translated column headers
  packages/stark-ui/src/modules/table/components/column.component.ts
  packages/stark-ui/src/modules/table/components/table.component.html
  packages/stark-ui/src/modules/table/components/table.component.ts
  showcase/src/app/demo-ui/components/table-regular/table-regular.component.ts
  showcase/src/app/demo-ui/components/table-with-custom-actions/table-with-custom-actions.component.ts
  showcase/src/app/demo-ui/components/table-with-custom-styling/table-with-custom-styling.component.ts
  showcase/src/app/demo-ui/components/table-with-fixed-header/table-with-fixed-header.component.ts
  showcase/src/app/demo-ui/components/table-with-selection/table-with-selection.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
Labels: comp: stark-ui, type: enhancement
