Repository NationalBankBelgium/stark, pull requests merged in 2018-10, with the labels that each got.

#734 fix(stark-ui): perform the session login in the Preloading page after fetching the user profile
  packages/stark-ui/src/modules/breadcrumb/components/breadcrumb.component.spec.ts
  packages/stark-ui/src/modules/breadcrumb/components/breadcrumb.component.ts
  packages/stark-ui/src/modules/language-selector/components/language-selector.component.spec.ts
  packages/stark-ui/src/modules/session-ui/pages/login/login-page.component.spec.ts
  packages/stark-ui/src/modules/session-ui/pages/preloading/preloading-page.component.spec.ts
  packages/stark-ui/src/modules/session-ui/pages/preloading/preloading-page.component.ts
  packages/stark-ui/src/modules/session-ui/pages/session-expired/session-expired-page.component.spec.ts
  packages/stark-ui/src/modules/session-ui/pages/session-logout/session-logout-page.component.spec.ts
  packages/stark-ui/src/modules/slider/components/slider.component.spec.ts
  packages/stark-ui/src/modules/toast-notification/services/toast-notification.service.spec.ts
Labels: comp: stark-ui, type: bug

#730 feat(showcase): reimplementation of stark news
  showcase/src/app/news/news-component/_news.component.scss
  showcase/src/app/news/news-component/news.component.html
  showcase/src/app/news/news-item-component/_news-item.component.scss
  showcase/src/app/news/news-item-component/news-item.component.html
  showcase/src/app/news/news-item-component/news-item.component.ts
  showcase/src/app/news/news.module.ts
  showcase/src/assets-base/stark_logo.txt
  showcase/src/assets-base/stark_logo.xcf
  showcase/src/assets-base/stark_logo_blue.png
  showcase/src/assets-base/stark_logo_white.png
  showcase/src/styles/styles.scss
Labels: comp: stark-showcase, type: enhancement

#735 feat(showcase): implementation of reference-block component
  showcase/src/app/demo/action-bar/demo-action-bar.component.html
  showcase/src/app/demo/action-bar/demo-action-bar.component.ts
  showcase/src/app/demo/breadcrumb/demo-breadcrumb.component.html
  showcase/src/app/demo/breadcrumb/demo-breadcrumb.component.ts
  showcase/src/app/demo/collapsible/demo-collapsible.component.html
  showcase/src/app/demo/collapsible/demo-collapsible.component.ts
  showcase/src/app/demo/date-picker/demo-date-picker.component.html
  showcase/src/app/demo/date-picker/demo-date-picker.component.ts
  showcase/src/app/demo/date-range-picker/demo-date-range-picker.component.html
  showcase/src/app/demo/date-range-picker/demo-date-range-picker.component.ts
  showcase/src/app/demo/dropdown/demo-dropdown.component.html
  showcase/src/app/demo/dropdown/demo-dropdown.component.ts
  showcase/src/app/demo/footer/demo-footer.component.html
  showcase/src/app/demo/footer/demo-footer.component.ts
  showcase/src/app/demo/keyboard-directives/demo-keyboard-directives.component.html
  showcase/src/app/demo/keyboard-directives/demo-keyboard-directives.component.ts
  showcase/src/app/demo/language-selector/demo-language-selector.component.html
  showcase/src/app/demo/language-selector/demo-language-selector.component.ts
  showcase/src/app/demo/logout/demo-logout.component.html
  showcase/src/app/demo/logout/demo-logout.component.ts
  showcase/src/app/demo/pagination/demo-pagination.component.html
  showcase/src/app/demo/pagination/demo-pagination.component.ts
  showcase/src/app/demo/pretty-print/demo-pretty-print.component.html
  showcase/src/app/demo/pretty-print/demo-pretty-print.component.ts
  showcase/src/app/demo/sidebar/demo-sidebar.component.html
  showcase/src/app/demo/sidebar/demo-sidebar.component.ts
  showcase/src/app/demo/slider/demo-slider.component.html
  showcase/src/app/demo/slider/demo-slider.component.ts
  showcase/src/app/demo/table/demo-table.component.html
  showcase/src/app/demo/table/demo-table.component.ts
  showcase/src/app/demo/toast/demo-toast-notification.component.html
  showcase/src/app/demo/toast/demo-toast-notification.component.ts
  showcase/src/app/shared/index.ts
  showcase/src/app/shared/reference-block/_reference-block.component.scss
  showcase/src/app/shared/reference-block/index.ts
  showcase/src/app/shared/reference-block/reference-block.component.html
  showcase/src/app/shared/reference-block/reference-block.component.spec.ts
  showcase/src/app/shared/reference-block/reference-block.component.ts
  showcase/src/app/shared/reference-block/reference-link.intf.ts
  showcase/src/app/shared/shared.module.ts
  showcase/src/styles/styles.scss
Labels: comp: stark-showcase, type: feature

#739 feat(stark-ui): app Menu Component
  packages/stark-ui/assets/styles/_media-queries.scss
  packages/stark-ui/assets/styles/_variables.scss
  packages/stark-ui/assets/themes/_menu-theme.scss
  packages/stark-ui/src/modules.ts
  packages/stark-ui/src/modules/app-logo/components/app-logo.component.scss
  packages/stark-ui/src/modules/app-menu.ts
  packages/stark-ui/src/modules/app-menu/app-menu.module.ts
  packages/stark-ui/src/modules/app-menu/components.ts
  packages/stark-ui/src/modules/app-menu/components/_app-menu-theme.scss
  packages/stark-ui/src/modules/app-menu/components/_app-menu.component.scss
  packages/stark-ui/src/modules/app-menu/components/app-menu-config.intf.ts
  packages/stark-ui/src/modules/app-menu/components/app-menu-entry.intf.ts
  packages/stark-ui/src/modules/app-menu/components/app-menu-group.intf.ts
  packages/stark-ui/src/modules/app-menu/components/app-menu-item.component.html
  packages/stark-ui/src/modules/app-menu/components/app-menu-item.component.spec.ts
  packages/stark-ui/src/modules/app-menu/components/app-menu-item.component.ts
  packages/stark-ui/src/modules/app-menu/components/app-menu-section.intf.ts
  packages/stark-ui/src/modules/app-menu/components/app-menu.component.html
  packages/stark-ui/src/modules/app-menu/components/app-menu.component.spec.ts
  packages/stark-ui/src/modules/app-menu/components/app-menu.component.ts
  packages/stark-ui/src/modules/app-sidebar/components/_app-sidebar-theme.scss
  packages/stark-ui/src/modules/app-sidebar/components/_app-sidebar.component.scss
  packages/stark-ui/src/modules/app-sidebar/components/app-sidebar.component.html
  packages/stark-ui/src/modules/app-sidebar/components/app-sidebar.component.spec.ts
  packages/stark-ui/src/modules/app-sidebar/components/app-sidebar.component.ts
  packages/stark-ui/src/modules/app-sidebar/services/app-sidebar-open-event.intf.ts
  packages/stark-ui/src/modules/app-sidebar/services/app-sidebar.service.intf.ts
  packages/stark-ui/src/modules/app-sidebar/services/app-sidebar.service.spec.ts
  packages/stark-ui/src/modules/app-sidebar/services/app-sidebar.service.ts
  packages/stark-ui/src/modules/app-sidebar/testing/app-sidebar.mock.ts
  packages/stark-ui/src/modules/session-ui/components/app-container.component.ts
  showcase/src/app/app.component.css
  showcase/src/app/app.component.html
  showcase/src/app/app.component.scss
  showcase/src/app/app.component.ts
  showcase/src/app/app.module.ts
  showcase/src/app/app.routes.ts
  showcase/src/app/demo/demo.module.ts
  showcase/src/app/demo/index.ts
  showcase/src/app/demo/menu/demo-menu.component.html
  showcase/src/app/demo/menu/demo-menu.component.scss
  showcase/src/app/demo/menu/demo-menu.component.ts
  showcase/src/app/demo/menu/index.ts
  showcase/src/assets/examples/menu/sections.html
  showcase/src/assets/examples/menu/sections.ts
  showcase/src/assets/examples/menu/simple.html
  showcase/src/assets/examples/menu/simple.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
  showcase/src/styles/_stark-styles.scss
  showcase/src/styles/_theme.scss
  showcase/src/styles/styles.scss
  starter/src/app/app.component.ts
Labels: must, type: feature

#743 chore(build): refactor build.sh to fail when Rollup detects "unresolved dependencies" or "missing global variable name".
  build-functions.sh
  packages/rollup.config.common-data.js
  packages/rollup.config.js
  showcase/src/app/app.e2e.ts
  showcase/src/app/shared/reference-block/reference-block.component.spec.ts
  showcase/tslint.json
  starter/src/app/app.e2e.ts
Labels: comp: build-main, type: enhancement

#746 fix(stark-ui): style fix: footer, header and table. Adapt Showcase and Starter.
  packages/stark-ui/assets/styles/_base.scss
  packages/stark-ui/assets/styles/_header.scss
  packages/stark-ui/assets/styles/_typography.scss
  packages/stark-ui/assets/styles/_variables.scss
  packages/stark-ui/src/modules/app-sidebar/components/_app-sidebar.component.scss
  showcase/src/app/app.component.html
  showcase/src/app/app.component.ts
  showcase/src/app/demo/table/demo-table.component.html
  starter/src/app/app.component.html
  starter/src/app/app.component.scss
  starter/src/app/app.component.ts
  starter/src/app/app.module.ts
  starter/src/styles/_stark-styles.scss
  starter/src/styles/_theme.scss
  starter/src/styles/_variables.scss
  starter/src/styles/styles.scss
Labels: comp: stark-showcase, comp: stark-starter, comp: stark-ui

#748 Greenkeeper/rollup 0.66.4
  package-lock.json
  package.json
Labels: greenkeeper

#749 Greenkeeper/commitizen 3.0.2
  package-lock.json
  package.json
Labels: greenkeeper

#753 chore(stark-all): adapt husky hooks after Husky upgrade
  package.json
Labels: comp: stark-all, type: enhancement

#754 chore(build): cleanup unnecessary/obsolete dependencies
  packages/stark-build/config/webpack.common.js
  packages/stark-build/package-lock.json
  packages/stark-build/package.json
  showcase/package-lock.json
  showcase/package.json
  starter/package-lock.json
  starter/package.json
Labels: comp: stark-build, type: enhancement

#759 feat(stark-ui): integrate translation support in AppMenu component
  packages/stark-ui/src/modules/app-menu/components/app-menu-config.intf.ts
  packages/stark-ui/src/modules/app-menu/components/app-menu-entry.intf.ts
  packages/stark-ui/src/modules/app-menu/components/app-menu-group.intf.ts
  packages/stark-ui/src/modules/app-menu/components/app-menu-item.component.html
  packages/stark-ui/src/modules/app-menu/components/app-menu-item.component.ts
  packages/stark-ui/src/modules/app-menu/components/app-menu-section.intf.ts
  packages/stark-ui/src/modules/app-menu/components/app-menu.component.html
  packages/stark-ui/src/modules/app-menu/components/app-menu.component.spec.ts
  packages/stark-ui/src/modules/app-menu/components/app-menu.component.ts
  packages/stark-ui/src/modules/app-sidebar/components/app-sidebar.component.spec.ts
  packages/stark-ui/src/modules/breadcrumb/components/breadcrumb.component.spec.ts
  packages/stark-ui/src/modules/date-range-picker/components/date-range-picker.component.spec.ts
  packages/stark-ui/src/modules/date-range-picker/components/date-range-picker.component.ts
  showcase/src/app/app.component.html
  showcase/src/app/demo/menu/demo-menu.component.html
  showcase/src/assets/examples/menu/sections.html
  showcase/src/assets/examples/menu/simple.html
  starter/src/app/app.component.html
Labels: comp: stark-ui, type: enhancement

#757 feat(stark-core): implementation of a custom error handler
  docs/ERROR_HANDLING.md
  packages/stark-core/src/common/store/stark-core-application-state.ts
  packages/stark-core/src/modules.ts
  packages/stark-core/src/modules/error-handling.ts
  packages/stark-core/src/modules/error-handling/actions.ts
  packages/stark-core/src/modules/error-handling/actions/error-handling.actions.ts
  packages/stark-core/src/modules/error-handling/error-handling.module.ts
  packages/stark-core/src/modules/error-handling/handlers.ts
  packages/stark-core/src/modules/error-handling/handlers/error-handler.ts
  packages/stark-core/src/modules/routing/services/routing.service.spec.ts
  packages/stark-core/src/modules/routing/services/routing.service.ts
  packages/stark-core/src/modules/settings/settings.module.ts
  showcase/src/app/app.module.ts
  showcase/src/app/shared/effects/stark-error-handling.effects.ts
  showcase/src/stark-app-config.json
  starter/src/app/app.module.ts
Labels: P1, comp: stark-core, type: feature

#766 feat(stark-core): allow customizing Login and Preloading states via the StarkSessionConfig
  package-lock.json
  packages/stark-core/src/modules/session/entities/session-config.entity.intf.ts
  packages/stark-core/src/modules/session/services/session.service.spec.ts
  packages/stark-core/src/modules/session/services/session.service.ts
  packages/stark-core/src/modules/session/session.module.ts
  packages/stark-ui/src/modules/app-footer/components/app-footer.component.spec.ts
  packages/stark-ui/src/modules/app-logout/components/app-logout.component.spec.ts
  packages/stark-ui/src/modules/app-logout/components/app-logout.component.ts
  packages/stark-ui/src/modules/app-menu/components/app-menu-item.component.ts
  packages/stark-ui/src/modules/session-ui/components/app-container.component.html
  packages/stark-ui/src/modules/session-ui/components/app-container.component.ts
  packages/stark-ui/src/modules/session-ui/pages/login.ts
  packages/stark-ui/src/modules/session-ui/pages/login/_login-page.component.scss
  packages/stark-ui/src/modules/session-ui/pages/preloading/_preloading-page.component.scss
  packages/stark-ui/src/modules/session-ui/pages/session-expired/_session-expired-page.component.scss
  packages/stark-ui/src/modules/session-ui/pages/session-logout/_session-logout-page.component.scss
  packages/stark-ui/src/modules/session-ui/session-ui.module.ts
Labels: comp: stark-core, type: feature

#784 fix(stark-core): include inherited params from ancestor routing states in navigation history
  packages/stark-core/src/modules/routing/services/routing.service.spec.ts
  packages/stark-core/src/modules/routing/services/routing.service.ts
Labels: comp: stark-core, type: enhancement

#788 chore(stark-demo): temporary fix for the missing PCSS variables from basscss
  showcase/src/styles/basscss-missing-variables.pcss
  showcase/src/styles/styles.scss
Labels: comp: stark-showcase, type: bug

#792 Greenkeeper/default/event-source-polyfill 1.0.3
  showcase/package-lock.json
  showcase/package.json
  starter/package-lock.json
  starter/package.json
Labels: greenkeeper

#796 Greenkeeper/default/webpack 4.23.1
  packages/stark-build/package-lock.json
  packages/stark-build/package.json
  showcase/package-lock.json
  showcase/package.json
  starter/package-lock.json
  starter/package.json
Labels: greenkeeper

#799 refactor(stark-core): refactor logic to validate StarkSessionConfig to prevent Angular AOT error "Function calls are not supported in decorators"
  packages/stark-core/src/modules/session/services/session.service.spec.ts
  packages/stark-core/src/modules/session/services/session.service.ts
  packages/stark-core/src/modules/session/session.module.ts
Labels: comp: stark-core, type: enhancement

#801 feat(stark-demo): integrate "angular-in-memory-web-api" to mock backend
  showcase/config/json-server/data.json
  showcase/karma.conf.ci.js
  showcase/karma.conf.js
  showcase/package-lock.json
  showcase/package.json
  showcase/src/app/app.module.ts
  showcase/src/app/home/home.component.html
  showcase/src/app/home/home.component.ts
  showcase/src/app/in-memory-data/in-memory-data.module.ts
  showcase/src/app/in-memory-data/index.ts
  showcase/src/app/in-memory-data/interceptors/in-memory-data.interceptor.ts
  showcase/src/app/in-memory-data/interceptors/index.ts
  showcase/src/app/in-memory-data/services/in-memory-data.service.ts
  showcase/src/app/in-memory-data/services/index.ts
  showcase/src/stark-app-config.json
  starter/package-lock.json
Labels: comp: stark-showcase, type: enhancement

#806 perf(stark-build): remove deprecated Angular PurifyPlugin. Enhance UglifyJs options to improve performance
  packages/stark-build/config/webpack.common.js
  packages/stark-build/config/webpack.prod.js
Labels: comp: stark-build, type: enhancement
