Repository NationalBankBelgium/stark, pull requests merged in 2018-11, with the labels that each got.

#823 Greenkeeper/conventional changelog cli 2.0.11
  package-lock.json
  package.json
Labels: greenkeeper

#775 feat(stark-core): add Stark logo to Showcase and in AppLogo component
  README.md
  packages/stark-core/angular.json
  packages/stark-core/assets/logo/stark_logo.txt
  packages/stark-core/assets/logo/stark_logo_black.png
  packages/stark-core/assets/logo/stark_logo_black.svg
  packages/stark-core/assets/logo/stark_logo_transparent.svg
  packages/stark-ui/angular.json
  packages/stark-ui/assets/styles/_base.scss
  packages/stark-ui/assets/styles/_header.scss
  packages/stark-ui/src/modules/app-logo/assets/angular.png
  packages/stark-ui/src/modules/app-logo/components/app-logo.component.scss
  showcase/src/app/app.component.html
  showcase/src/app/app.component.scss
  showcase/src/app/home/_home.component.scss
  showcase/src/app/home/home.component.html
  showcase/src/app/news/news-component/_news.component.scss
  showcase/src/app/news/news-component/news.component.html
  showcase/src/assets-base/stark_logo.xcf
  showcase/src/assets-base/stark_logo_blue.png
  showcase/src/assets-base/stark_logo_white.png
  starter/src/app/app.component.scss
Labels: comp: stark-all, type: enhancement

#829 chore(build-main): bump "merge" version to solve potential security vulnerability
  package-lock.json
Labels: severity 6: security, type: enhancement

#831 chore(stark-all): update greenkeeper.json to ignore Angular 7 related and lint-staged updates
  greenkeeper.json
  package-lock.json
  package.json
  packages/stark-build/package-lock.json
  packages/stark-build/package.json
  packages/stark-core/package-lock.json
  packages/stark-core/package.json
  packages/stark-testing/package-lock.json
  packages/stark-testing/package.json
  packages/stark-ui/package-lock.json
  showcase/package-lock.json
  showcase/package.json
  starter/package-lock.json
  starter/package.json
Labels: comp: stark-all

#834 chore(stark-all): fix ignored Angular 7 packages in greenkeeper.json
  greenkeeper.json
Labels: comp: stark-all

#827 feat(showcase): reimplementation of the buttons in the header
  showcase/src/app/_app.component-theme.scss
  showcase/src/app/_app.component.scss
  showcase/src/app/app.component.html
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
  showcase/src/styles/_theme.scss
  showcase/src/styles/styles.scss
Labels: comp: stark-showcase, type: enhancement

#824 feat(stark-ui): implementation of minimap component
  packages/stark-core/src/modules/settings/settings.module.ts
  packages/stark-ui/assets/styles/_old-variables.scss
  packages/stark-ui/src/modules.ts
  packages/stark-ui/src/modules/app-menu/components/_app-menu.component.scss
  packages/stark-ui/src/modules/minimap.ts
  packages/stark-ui/src/modules/minimap/components.ts
  packages/stark-ui/src/modules/minimap/components/_minimap-theme.scss
  packages/stark-ui/src/modules/minimap/components/_minimap.component.scss
  packages/stark-ui/src/modules/minimap/components/item-properties.intf.ts
  packages/stark-ui/src/modules/minimap/components/item-visibility.intf.ts
  packages/stark-ui/src/modules/minimap/components/minimap.component.html
  packages/stark-ui/src/modules/minimap/components/minimap.component.spec.ts
  packages/stark-ui/src/modules/minimap/components/minimap.component.ts
  packages/stark-ui/src/modules/minimap/minimap.module.ts
  showcase/src/app/app.component.ts
  showcase/src/app/app.module.ts
  showcase/src/app/demo/demo.module.ts
  showcase/src/app/demo/index.ts
  showcase/src/app/demo/minimap/demo-minimap.component.html
  showcase/src/app/demo/minimap/demo-minimap.component.scss
  showcase/src/app/demo/minimap/demo-minimap.component.ts
  showcase/src/app/demo/minimap/index.ts
  showcase/src/app/demo/routes.ts
  showcase/src/assets/examples/minimap/compact.html
  showcase/src/assets/examples/minimap/compact.ts
  showcase/src/assets/examples/minimap/full.html
  showcase/src/assets/examples/minimap/full.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
  showcase/src/styles/_stark-styles.scss
Labels: comp: stark-ui, type: feature

#833 feat(stark-build): add "cspFontSrc" as configurable property to webpack dev server. Add docs to Showcase about adding custom fonts.
  packages/stark-build/config/webpack.dev.js
  showcase/src/app/demo/typography/demo-typography.component.html
  showcase/src/app/demo/typography/demo-typography.component.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
  showcase/src/styles/_variables.scss
  starter/src/styles/_variables.scss
Labels: comp: docs, comp: stark-showcase, comp: stark-starter, comp: stark-ui

#825 feat(stark-demo): creation of a getting started page
  packages/stark-ui/assets/styles/_media-queries.scss
  packages/stark-ui/assets/styles/_old-variables.scss
  showcase/src/app/app.component.ts
  showcase/src/app/app.module.ts
  showcase/src/app/app.routes.ts
  showcase/src/app/getting-started/getting-started-component/_getting-started-theme.scss
  showcase/src/app/getting-started/getting-started-component/_getting-started.component.scss
  showcase/src/app/getting-started/getting-started-component/getting-started.component.html
  showcase/src/app/getting-started/getting-started-component/getting-started.component.ts
  showcase/src/app/getting-started/getting-started-component/index.ts
  showcase/src/app/getting-started/getting-started-component/starter-structure.ts
  showcase/src/app/getting-started/getting-started.module.ts
  showcase/src/app/getting-started/index.ts
  showcase/src/app/shared/example-viewer/_example-viewer-theme.scss
  showcase/src/app/shared/index.ts
  showcase/src/app/shared/shared.module.ts
  showcase/src/app/shared/table-of-contents/_table-of-contents-theme.scss
  showcase/src/app/shared/table-of-contents/index.ts
  showcase/src/app/shared/table-of-contents/table-of-content-link.intf.ts
  showcase/src/app/shared/table-of-contents/table-of-contents.component.html
  showcase/src/app/shared/table-of-contents/table-of-contents.component.scss
  showcase/src/app/shared/table-of-contents/table-of-contents.component.spec.ts
  showcase/src/app/shared/table-of-contents/table-of-contents.component.ts
  showcase/src/styles/_theme.scss
  showcase/src/styles/styles.scss
Labels: comp: stark-showcase

#839 fix(stark-demo): add String trimRight polyfill to fix issue with PrettyPrint component in IE11
  showcase/src/polyfills.browser.ts
  starter/src/polyfills.browser.ts
Labels: comp: stark-showcase, comp: stark-starter, type: enhancement

#842 refactor(stark-core): move NgIdleModule and NgIdleKeepaliveModule imports to StarkSessionModule
  packages/stark-core/src/modules/session/session.module.ts
  showcase/src/app/app.module.ts
  starter/src/app/app.module.ts
Labels: comp: stark-core, type: refactor

#826 feat(stark-ui): implement Message Pane component
  packages/stark-ui/karma.conf.js
  packages/stark-ui/src/common.ts
  packages/stark-ui/src/common/message/message.entity.ts
  packages/stark-ui/src/common/store.ts
  packages/stark-ui/src/common/store/stark-ui-application-state.ts
  packages/stark-ui/src/modules.ts
  packages/stark-ui/src/modules/app-sidebar/components/app-sidebar.component.html
  packages/stark-ui/src/modules/app-sidebar/components/app-sidebar.component.spec.ts
  packages/stark-ui/src/modules/app-sidebar/components/app-sidebar.component.ts
  packages/stark-ui/src/modules/message-pane.ts
  packages/stark-ui/src/modules/message-pane/actions.ts
  packages/stark-ui/src/modules/message-pane/actions/message-pane.actions.ts
  packages/stark-ui/src/modules/message-pane/assets/translations/en.ts
  packages/stark-ui/src/modules/message-pane/assets/translations/fr.ts
  packages/stark-ui/src/modules/message-pane/assets/translations/nl.ts
  packages/stark-ui/src/modules/message-pane/components.ts
  packages/stark-ui/src/modules/message-pane/components/_message-pane-theme.scss
  packages/stark-ui/src/modules/message-pane/components/_message-pane.component.scss
  packages/stark-ui/src/modules/message-pane/components/message-pane.component.html
  packages/stark-ui/src/modules/message-pane/components/message-pane.component.spec.ts
  packages/stark-ui/src/modules/message-pane/components/message-pane.component.ts
  packages/stark-ui/src/modules/message-pane/components/message-pane.constants.ts
  packages/stark-ui/src/modules/message-pane/effects.ts
  packages/stark-ui/src/modules/message-pane/effects/message-pane.effects.spec.ts
  packages/stark-ui/src/modules/message-pane/effects/message-pane.effects.ts
  packages/stark-ui/src/modules/message-pane/entities.ts
  packages/stark-ui/src/modules/message-pane/entities/message-collection.entity.intf.ts
  packages/stark-ui/src/modules/message-pane/message-pane.module.ts
  packages/stark-ui/src/modules/message-pane/reducers.ts
  packages/stark-ui/src/modules/message-pane/reducers/index.ts
  packages/stark-ui/src/modules/message-pane/reducers/messages-pane.reducer.spec.ts
  packages/stark-ui/src/modules/message-pane/reducers/messages-pane.reducer.ts
  packages/stark-ui/src/modules/message-pane/services.ts
  packages/stark-ui/src/modules/message-pane/services/message-pane.service.intf.ts
  packages/stark-ui/src/modules/message-pane/services/message-pane.service.spec.ts
  packages/stark-ui/src/modules/message-pane/services/message-pane.service.ts
  packages/stark-ui/src/modules/message-pane/testing.ts
  packages/stark-ui/src/modules/message-pane/testing/message-pane.mock.ts
  packages/stark-ui/testing/public_api.ts
  packages/stark-ui/tsconfig.spec.json
  showcase/src/app/app.component.html
  showcase/src/app/app.component.ts
  showcase/src/app/app.module.ts
  showcase/src/app/demo/demo.module.ts
  showcase/src/app/demo/index.ts
  showcase/src/app/demo/message-pane/demo-message-pane.component.html
  showcase/src/app/demo/message-pane/demo-message-pane.component.scss
  showcase/src/app/demo/message-pane/demo-message-pane.component.ts
  showcase/src/app/demo/message-pane/index.ts
  showcase/src/app/demo/routes.ts
  showcase/src/assets/examples/message-pane/message-pane.html
  showcase/src/assets/examples/message-pane/message-pane.scss
  showcase/src/assets/examples/message-pane/message-pane.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
  showcase/src/styles/_stark-styles.scss
  showcase/src/styles/styles.scss
Labels: comp: stark-ui, type: feature

#847 ci(stark-demo): increase Travis wait time for the generation of the Showcase production build
  .travis.yml
Labels: comp: build-main, comp: stark-showcase, type: enhancement

#850 fix(stark-demo): add deployUrl to fix issue with lazy modules. Replace referenced icon asset in translations by <mat-icon> in HTML.
  showcase/angular.json
  showcase/ghpages-adapt-angular-json.js
  showcase/ghpages-adapt-bundle-urls.js
  showcase/src/app/app.component.html
  showcase/src/app/home/_home.component.scss
  showcase/src/app/home/home.component.html
  showcase/src/assets/images/logo/github.png
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
Labels: comp: stark-showcase, type: enhancement

#851 style(stark-all): adapt commit messages from Greenkeeper to avoid any dependency upgrade to be shown as "bug fix"
  package.json
Labels: comp: stark-all, type: enhancement

#855 ci(build-main): re-create corrupted package-lock.json files from root, Showcase and Starter
  package-lock.json
  showcase/package-lock.json
  starter/package-lock.json
Labels: comp: build-main, type: enhancement

#848 feat(stark-starter): add preloading screens
  packages/stark-core/assets/css/pre-load-style.css
  packages/stark-core/assets/logo/stark_header_bg.png
  packages/stark-ui/assets/styles/_base.scss
  showcase/src/index.html
  starter/src/index.html
Labels: comp: stark-core, type: feature

#866 Greenkeeper/rollup 0.67.3
  package-lock.json
  package.json
  packages/stark-build/package-lock.json
  packages/stark-core/package-lock.json
  packages/stark-testing/package-lock.json
  packages/stark-ui/package-lock.json
  showcase/package-lock.json
  starter/package-lock.json
Labels: greenkeeper

#869 ci(stark-demo): increase Travis wait time to 30 mins for the generation of the Showcase prod build
  .travis.yml
Labels: comp: build-main, comp: stark-showcase, type: enhancement

#857 feat(stark-ui): add custom styling functionality to stark table component
  packages/stark-ui/src/modules/table/components/column-properties.intf.ts
  packages/stark-ui/src/modules/table/components/column.component.html
  packages/stark-ui/src/modules/table/components/column.component.ts
  packages/stark-ui/src/modules/table/components/table.component.html
  packages/stark-ui/src/modules/table/components/table.component.spec.ts
  packages/stark-ui/src/modules/table/components/table.component.ts
  showcase/src/app/demo/demo.module.ts
  showcase/src/app/demo/table/components/index.ts
  showcase/src/app/demo/table/components/table-regular/table-regular.component.html
  showcase/src/app/demo/table/components/table-regular/table-regular.component.scss
  showcase/src/app/demo/table/components/table-regular/table-regular.component.ts
  showcase/src/app/demo/table/components/table-with-custom-actions/table-with-custom-actions.component.html
  showcase/src/app/demo/table/components/table-with-custom-actions/table-with-custom-actions.component.ts
  showcase/src/app/demo/table/components/table-with-custom-styling/table-with-custom-styling.component.html
  showcase/src/app/demo/table/components/table-with-custom-styling/table-with-custom-styling.component.scss
  showcase/src/app/demo/table/components/table-with-custom-styling/table-with-custom-styling.component.ts
  showcase/src/app/demo/table/components/table-with-fixed-header/table-with-fixed-header.component.html
  showcase/src/app/demo/table/components/table-with-fixed-header/table-with-fixed-header.component.ts
  showcase/src/app/demo/table/components/table-with-transcluded-action-bar/table-with-transcluded-action-bar.component.html
  showcase/src/app/demo/table/components/table-with-transcluded-action-bar/table-with-transcluded-action-bar.component.ts
  showcase/src/app/demo/table/components/table-with-transcluded-action-bar/table-with-transcluded-action-bar.scss
  showcase/src/app/demo/table/demo-table.component.html
  showcase/src/app/demo/table/demo-table.component.scss
  showcase/src/app/demo/table/demo-table.component.ts
  showcase/src/assets/examples/table/regular.html
  showcase/src/assets/examples/table/regular.scss
  showcase/src/assets/examples/table/regular.ts
  showcase/src/assets/examples/table/regular/table.html
  showcase/src/assets/examples/table/regular/table.scss
  showcase/src/assets/examples/table/regular/table.ts
  showcase/src/assets/examples/table/with-alternative-action-bar.html
  showcase/src/assets/examples/table/with-alternative-action-bar.scss
  showcase/src/assets/examples/table/with-alternative-action-bar.ts
  showcase/src/assets/examples/table/with-custom-actions/table.html
  showcase/src/assets/examples/table/with-custom-actions/table.ts
  showcase/src/assets/examples/table/with-custom-styling/table.html
  showcase/src/assets/examples/table/with-custom-styling/table.scss
  showcase/src/assets/examples/table/with-custom-styling/table.ts
  showcase/src/assets/examples/table/with-fixed-header.html
  showcase/src/assets/examples/table/with-fixed-header.ts
  showcase/src/assets/examples/table/with-fixed-header/table.html
  showcase/src/assets/examples/table/with-fixed-header/table.ts
  showcase/src/assets/examples/table/with-transcluded-action-bar.html
  showcase/src/assets/examples/table/with-transcluded-action-bar.ts
  showcase/src/assets/examples/table/with-transcluded-action-bar/table.html
  showcase/src/assets/examples/table/with-transcluded-action-bar/table.scss
  showcase/src/assets/examples/table/with-transcluded-action-bar/table.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
Labels: comp: stark-ui, type: feature

#872 feat(stark-all): update to Angular 7 + TypeScript 3.1
  .travis.yml
  greenkeeper.json
  package-lock.json
  package.json
  packages/stark-build/config/tslint.json
  packages/stark-build/package-lock.json
  packages/stark-build/package.json
  packages/stark-core/package-lock.json
  packages/stark-core/package.json
  packages/stark-core/src/modules/http/builder/http-request-builder.spec.ts
  packages/stark-core/src/modules/http/services/http.service.spec.ts
  packages/stark-core/src/modules/routing/services/routing.service.ts
  packages/stark-core/src/serialization/string-map.ts
  packages/stark-testing/package-lock.json
  packages/stark-testing/package.json
  packages/stark-ui/package-lock.json
  packages/stark-ui/package.json
  packages/stark-ui/src/modules/breadcrumb/components/breadcrumb.component.spec.ts
  packages/stark-ui/src/modules/language-selector/components/language-selector.component.spec.ts
  showcase/package-lock.json
  showcase/package.json
  showcase/src/app/shared/table-of-contents/table-of-contents.component.spec.ts
  showcase/src/app/shared/table-of-contents/table-of-contents.component.ts
  starter/package-lock.json
  starter/package.json
Labels: comp: stark-all, type: feature

#878 ci(build-main): add 'silent' flag to npm pack command to prevent Travis from continuing to the next step before the packaging finishes
  build-functions.sh
Labels: comp: build-main, type: bug, type: enhancement

#881 fix(stark-core): refactor Http headers related API to prevent undefined and null header values to be added to Angular Http headers
  packages/stark-core/src/modules/http/builder/http-abstract-base-request-builder.intf.ts
  packages/stark-core/src/modules/http/builder/http-abstract-base-request-builder.ts
  packages/stark-core/src/modules/http/builder/http-request-builder.spec.ts
  packages/stark-core/src/modules/http/entities/http-request.entity.intf.ts
  packages/stark-core/src/modules/http/services/http.service.spec.ts
  packages/stark-core/src/modules/http/services/http.service.ts
  packages/stark-core/src/modules/session/services/session.service.intf.ts
  packages/stark-core/src/modules/session/services/session.service.spec.ts
  packages/stark-core/src/modules/session/services/session.service.ts
Labels: comp: stark-core, type: bug, type: enhancement

#876 feat(stark-ui): implementation of a session timeout warning
  docs/TIMEOUT_WARNING.md
  packages/stark-build/config/webpack.dev.js
  packages/stark-ui/assets/styles/_media-queries.scss
  packages/stark-ui/src/modules/minimap/components/_minimap-theme.scss
  packages/stark-ui/src/modules/session-ui.ts
  packages/stark-ui/src/modules/session-ui/assets/translations/en.ts
  packages/stark-ui/src/modules/session-ui/assets/translations/fr.ts
  packages/stark-ui/src/modules/session-ui/assets/translations/nl.ts
  packages/stark-ui/src/modules/session-ui/components.ts
  packages/stark-ui/src/modules/session-ui/components/_session-timeout-warning-dialog.component.scss
  packages/stark-ui/src/modules/session-ui/components/session-timeout-warning-dialog.component.html
  packages/stark-ui/src/modules/session-ui/components/session-timeout-warning-dialog.component.spec.ts
  packages/stark-ui/src/modules/session-ui/components/session-timeout-warning-dialog.component.ts
  packages/stark-ui/src/modules/session-ui/effects.ts
  packages/stark-ui/src/modules/session-ui/effects/session-timeout-warning.effect.spec.ts
  packages/stark-ui/src/modules/session-ui/effects/session-timeout-warning.effects.ts
  packages/stark-ui/src/modules/session-ui/entities.ts
  packages/stark-ui/src/modules/session-ui/entities/stark-session-ui-config.ts
  packages/stark-ui/src/modules/session-ui/pages/preloading/preloading-page.component.ts
  packages/stark-ui/src/modules/session-ui/pages/session-expired/session-expired-page.component.ts
  packages/stark-ui/src/modules/session-ui/pages/session-logout/session-logout-page.component.ts
  packages/stark-ui/src/modules/session-ui/session-ui.module.ts
  showcase/src/app/getting-started/getting-started-component/_getting-started-theme.scss
  showcase/src/app/shared/table-of-contents/table-of-contents.component.scss
  starter/src/styles/_stark-styles.scss
Labels: comp: stark-ui, type: feature

#888 Greenkeeper/default/@angular/cli 7.1.0
  package-lock.json
  package.json
  packages/stark-build/package-lock.json
  packages/stark-build/package.json
  showcase/package-lock.json
  showcase/package.json
  starter/package-lock.json
  starter/package.json
Labels: greenkeeper

#890 Greenkeeper/default/@angular-devkit/build-angular-0.11.0
  package-lock.json
  packages/stark-build/package-lock.json
  packages/stark-build/package.json
  packages/stark-core/package-lock.json
  packages/stark-testing/package-lock.json
  packages/stark-ui/package-lock.json
  showcase/package-lock.json
  showcase/package.json
  starter/package-lock.json
  starter/package.json
Labels: greenkeeper

#899 Greenkeeper/default/prettier 1.15.3
  package-lock.json
  package.json
  packages/stark-build/package-lock.json
  packages/stark-build/package.json
  packages/stark-ui/package-lock.json
  packages/stark-ui/package.json
Labels: greenkeeper
