Repository NationalBankBelgium/stark, pull requests merged in 2019-05, with the labels that each got.

#1271 Bugfix/date picker mask weird behavior + inconsistent date picker locale in Showcase and Starter
  packages/stark-ui/src/modules/input-mask-directives/directives/timestamp-mask.directive.ts
  packages/stark-ui/src/modules/input-mask-directives/directives/timestamp-pipe.fn.spec.ts
  packages/stark-ui/src/modules/input-mask-directives/directives/timestamp-pipe.fn.ts
  showcase/src/app/app.module.ts
  showcase/src/app/shared/shared.module.ts
  showcase/src/app/translation.config.ts
  starter/src/app/app.module.ts
  starter/src/app/home/home.module.ts
  starter/src/app/translation.config.ts
Labels: comp: stark-showcase, comp: stark-starter, comp: stark-ui, type: enhancement

#1282 fix(stark-demo): remove workaround added in #788 for basscss missing PCSS variables
  showcase/src/styles/basscss-missing-variables.pcss
  showcase/src/styles/styles.scss
Labels: comp: stark-showcase, type: enhancement

#1288 feat(stark-build): enable all strict type checking options in tsconfig.json file. Remove obsolete options
  packages/stark-build/tsconfig.json
Labels: comp: qa, comp: stark-all, type: enhancement

#1289 fix(build-main): fix travis branches (before alpha/beta, now alpha/beta/rc)
  .travis.yml
Labels: comp: build-main, type: bug

#1285 feat(stark-ui): table - Add support to show rows counter
  packages/stark-ui/src/modules/table/components/_table.component.scss
  packages/stark-ui/src/modules/table/components/table.component.html
  packages/stark-ui/src/modules/table/components/table.component.spec.ts
  packages/stark-ui/src/modules/table/components/table.component.ts
  showcase/src/app/demo-ui/components/table-regular/table-regular.component.html
  showcase/src/app/demo-ui/components/table-with-fixed-header/table-with-fixed-header.component.html
  showcase/src/app/demo-ui/components/table-with-fixed-header/table-with-fixed-header.component.ts
  showcase/src/assets/examples/table/regular/table.html
  showcase/src/assets/examples/table/with-fixed-header/table.html
  showcase/src/assets/examples/table/with-fixed-header/table.ts
Labels: comp: stark-ui, type: feature

#1286 fix(stark-ui): table - add row index option
  packages/stark-ui/src/modules/table/components/table.component.html
  packages/stark-ui/src/modules/table/components/table.component.spec.ts
  packages/stark-ui/src/modules/table/components/table.component.ts
  showcase/src/app/demo-ui/components/table-regular/table-regular.component.html
  showcase/src/assets/examples/table/regular/table.html
Labels: comp: stark-ui, type: feature

#1301 fix(stark-ui): fix wrong imports 'from "@nationalbankbelgium/stark-ui"' in Table module
  package-lock.json
  packages/stark-build/package-lock.json
  packages/stark-core/package-lock.json
  packages/stark-core/package.json
  packages/stark-rbac/package-lock.json
  packages/stark-testing/package-lock.json
  packages/stark-ui/package-lock.json
  packages/stark-ui/src/modules/table/components/table.component.ts
  packages/stark-ui/src/modules/table/entities/table-row-actions.intf.ts
  showcase/package-lock.json
  showcase/package.json
Labels: comp: qa, comp: stark-ui, type: enhancement
