Repository NationalBankBelgium/stark, pull requests merged in 2019-07, with the labels that each got.

#1334 perf(stark-ui): set ChangeDetectionStrategy.OnPush to UI components to prevent Angular from running unnecessary change detection cycles
  packages/stark-ui/src/modules/action-bar/components/action-bar.component.spec.ts
  packages/stark-ui/src/modules/action-bar/components/action-bar.component.ts
  packages/stark-ui/src/modules/app-data/components/app-data.component.ts
  packages/stark-ui/src/modules/app-footer/components/app-footer.component.ts
  packages/stark-ui/src/modules/app-logo/components/app-logo.component.ts
  packages/stark-ui/src/modules/app-logout/components/app-logout.component.ts
  packages/stark-ui/src/modules/app-menu/components/app-menu-item.component.spec.ts
  packages/stark-ui/src/modules/app-menu/components/app-menu-item.component.ts
  packages/stark-ui/src/modules/app-menu/components/app-menu.component.spec.ts
  packages/stark-ui/src/modules/app-menu/components/app-menu.component.ts
  packages/stark-ui/src/modules/app-sidebar/app-sidebar.module.ts
  packages/stark-ui/src/modules/breadcrumb/components/breadcrumb.component.ts
  packages/stark-ui/src/modules/collapsible/components/collapsible.component.ts
  packages/stark-ui/src/modules/dialogs/components/alert-dialog.component.ts
  packages/stark-ui/src/modules/dialogs/components/confirm-dialog.component.ts
  packages/stark-ui/src/modules/dialogs/components/prompt-dialog.component.ts
  packages/stark-ui/src/modules/language-selector/components/language-selector.component.html
  packages/stark-ui/src/modules/language-selector/components/language-selector.component.ts
  packages/stark-ui/src/modules/message-pane/components/message-pane.component.spec.ts
  packages/stark-ui/src/modules/message-pane/components/message-pane.component.ts
  packages/stark-ui/src/modules/minimap/components/minimap.component.ts
  packages/stark-ui/src/modules/pagination/components/pagination.component.html
  packages/stark-ui/src/modules/pagination/components/pagination.component.ts
  packages/stark-ui/src/modules/pretty-print/components/pretty-print.component.ts
  packages/stark-ui/src/modules/progress-indicator/components/progress-indicator.component.ts
  packages/stark-ui/src/modules/route-search/components/route-search.component.ts
  packages/stark-ui/src/modules/session-ui/components/session-card/session-card.component.ts
  packages/stark-ui/src/modules/session-ui/components/session-timeout-warning-dialog/session-timeout-warning-dialog.component.ts
  packages/stark-ui/src/modules/session-ui/pages/login/login-page.component.ts
  packages/stark-ui/src/modules/session-ui/pages/preloading/preloading-page.component.ts
  packages/stark-ui/src/modules/session-ui/pages/session-expired/session-expired-page.component.ts
  packages/stark-ui/src/modules/session-ui/pages/session-logout/session-logout-page.component.ts
  packages/stark-ui/src/modules/slider/components/slider.component.ts
  packages/stark-ui/src/modules/table/components/column.component.ts
  packages/stark-ui/src/modules/table/components/dialogs/multisort.component.ts
  packages/stark-ui/src/modules/table/components/table.component.ts
  packages/stark-ui/src/modules/toast-notification/components/toast-notification.component.ts
Labels: comp: stark-ui, type: enhancement, type: refactor

#1365 fix(stark-ui): ui dropdown: not taking into account option - emitEvent
  packages/stark-ui/src/modules/dropdown/components/dropdown.component.spec.ts
  packages/stark-ui/src/modules/dropdown/components/dropdown.component.ts
Labels: comp: stark-ui, type: bug

#1371 fix(stark-ui): dropdown - fix container click + badly floating label in multiSelect
  packages/stark-ui/src/modules/dropdown/components/dropdown.component.html
  packages/stark-ui/src/modules/dropdown/components/dropdown.component.ts
Labels: comp: stark-ui, type: bug

#1368 fix(stark-demo): move header outside of sidenav-content
  packages/stark-ui/src/modules/app-sidebar/components/_app-sidebar.component.scss
  showcase/src/app/app.component.html
  starter/src/app/app.component.html
Labels: comp: stark-showcase, comp: stark-ui, type: bug
