Repository NationalBankBelgium/stark, pull requests merged in 2019-03, with the labels that each got.

#1163 chore(stark-demo): minor fixes: translations, order entries alphabetically in menu
  docs/stark-ui/GENERIC_SEARCH.md
  docs/stark-ui/TIMEOUT_WARNING.md
  showcase/src/app/app-menu.config.ts
  showcase/src/app/demo-ui/pages/footer/demo-footer-page.component.html
  showcase/src/app/demo-ui/pages/generic-search/demo-generic-search-page.component.ts
  showcase/src/app/demo-ui/pages/minimap/demo-minimap-page.component.html
  showcase/src/app/demo-ui/pages/route-search/demo-route-search-page.component.html
  showcase/src/app/demo-ui/pages/route-search/demo-route-search-page.component.ts
  showcase/src/app/demo-ui/routes.ts
  showcase/src/app/styleguide/routes.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
Labels: comp: qa, comp: stark-showcase, type: enhancement

#1164 feat(stark-testing): add browser launchers for karma: Firefox, Edge and IE
  package-lock.json
  packages/stark-build/package-lock.json
  packages/stark-core/package-lock.json
  packages/stark-testing/package-lock.json
  packages/stark-testing/package.json
  packages/stark-ui/package-lock.json
  showcase/package-lock.json
Labels: comp: stark-testing, type: feature

#1165 Greenkeeper/stark packages/nouislider 13.1.1
  packages/stark-ui/package-lock.json
  packages/stark-ui/package.json
  showcase/package-lock.json
Labels: greenkeeper

#1166 refactor(stark-ui): adapt unit tests to make them cross-browser compatible
  packages/stark-ui/base.spec.ts
  packages/stark-ui/src/modules/date-picker/components/date-picker.component.spec.ts
  packages/stark-ui/src/modules/date-range-picker/components/date-range-picker.component.spec.ts
  packages/stark-ui/src/modules/keyboard-directives/directives/restrict-input.directive.spec.ts
  packages/stark-ui/src/modules/pagination/components/pagination.component.spec.ts
  packages/stark-ui/src/modules/table/components/table.component.spec.ts
  showcase/base.spec.ts
  starter/base.spec.ts
Labels: comp: qa, comp: testing, type: enhancement

#1168 fix(stark-ui): fix table error when `data` not initialized
  packages/stark-ui/src/modules/table/components/table.component.spec.ts
  packages/stark-ui/src/modules/table/components/table.component.ts
Labels: comp: stark-ui, type: bug, type: enhancement

#1171 fix(stark-ui): update some component styling to fix bugs
  packages/stark-ui/assets/styles/_base.scss
  packages/stark-ui/src/modules/app-footer/components/_app-footer.component.scss
  packages/stark-ui/src/modules/app-sidebar/components/_app-sidebar.component.scss
  showcase/src/app/app.component.html
  showcase/src/app/shared/components/table-of-contents/table-of-contents.component.html
  showcase/src/app/shared/components/table-of-contents/table-of-contents.component.scss
  showcase/src/app/shared/components/table-of-contents/table-of-contents.component.spec.ts
  showcase/src/app/shared/components/table-of-contents/table-of-contents.component.ts
  starter/src/app/app.component.html
Labels: breaking change, comp: stark-ui, type: enhancement

#1177 fix(stark-ui): fix Table pagination config issues. Adapt demos in showcase
  packages/stark-ui/src/modules/pagination/components/pagination.component.html
  packages/stark-ui/src/modules/table/components/table.component.html
  packages/stark-ui/src/modules/table/components/table.component.spec.ts
  packages/stark-ui/src/modules/table/components/table.component.ts
  showcase/src/app/demo-ui/components/table-with-custom-actions/table-with-custom-actions.component.html
  showcase/src/app/demo-ui/components/table-with-custom-actions/table-with-custom-actions.component.ts
  showcase/src/app/demo-ui/components/table-with-custom-styling/table-with-custom-styling.component.html
  showcase/src/app/demo-ui/components/table-with-custom-styling/table-with-custom-styling.component.ts
  showcase/src/app/demo-ui/components/table-with-fixed-actions/table-with-fixed-actions.component.html
  showcase/src/app/demo-ui/components/table-with-fixed-actions/table-with-fixed-actions.component.ts
  showcase/src/app/demo-ui/components/table-with-fixed-header/table-with-fixed-header.component.html
  showcase/src/app/demo-ui/components/table-with-fixed-header/table-with-fixed-header.component.ts
  showcase/src/app/demo-ui/components/table-with-selection/table-with-selection.component.html
  showcase/src/app/demo-ui/components/table-with-selection/table-with-selection.ts
  showcase/src/app/demo-ui/components/table-with-transcluded-action-bar/table-with-transcluded-action-bar.component.html
  showcase/src/app/demo-ui/components/table-with-transcluded-action-bar/table-with-transcluded-action-bar.component.ts
  showcase/src/assets/examples/table/regular/table.scss
  showcase/src/assets/examples/table/regular/table.ts
  showcase/src/assets/examples/table/with-custom-actions/table.html
  showcase/src/assets/examples/table/with-custom-actions/table.ts
  showcase/src/assets/examples/table/with-custom-styling/table.html
  showcase/src/assets/examples/table/with-custom-styling/table.ts
  showcase/src/assets/examples/table/with-fixed-actions/table.html
  showcase/src/assets/examples/table/with-fixed-actions/table.ts
  showcase/src/assets/examples/table/with-fixed-header/table.html
  showcase/src/assets/examples/table/with-fixed-header/table.ts
  showcase/src/assets/examples/table/with-selection/table.html
  showcase/src/assets/examples/table/with-selection/table.ts
  showcase/src/assets/examples/table/with-transcluded-action-bar/table.ts
Labels: comp: stark-ui, type: enhancement

#1185 fix(release): set npm tags 'latest' and 'next' correctly after every release. Fix nightly builds versioning
  .release-it.json
  RELEASE.md
  build.sh
  check-nightly-version.js
  check-stark-versions.js
  package.json
  release-publish.sh
Labels: comp: build-main, comp: stark-all, type: doc, type: enhancement

#1167 feat(stark-ui): improve SessionUI pages to keep consistency
  packages/rollup.config.common-data.js
  packages/stark-ui/assets/stark-ui-bundle.scss
  packages/stark-ui/src/modules/session-ui/components.ts
  packages/stark-ui/src/modules/session-ui/components/session-card/session-card.component.html
  packages/stark-ui/src/modules/session-ui/components/session-card/session-card.component.scss
  packages/stark-ui/src/modules/session-ui/components/session-card/session-card.component.spec.ts
  packages/stark-ui/src/modules/session-ui/components/session-card/session-card.component.ts
  packages/stark-ui/src/modules/session-ui/components/session-timeout-warning-dialog/_session-timeout-warning-dialog.component.scss
  packages/stark-ui/src/modules/session-ui/components/session-timeout-warning-dialog/session-timeout-warning-dialog.component.html
  packages/stark-ui/src/modules/session-ui/components/session-timeout-warning-dialog/session-timeout-warning-dialog.component.spec.ts
  packages/stark-ui/src/modules/session-ui/components/session-timeout-warning-dialog/session-timeout-warning-dialog.component.ts
  packages/stark-ui/src/modules/session-ui/effects/session-timeout-warning.effect.spec.ts
  packages/stark-ui/src/modules/session-ui/effects/session-timeout-warning.effects.ts
  packages/stark-ui/src/modules/session-ui/pages/login/_login-page.component.scss
  packages/stark-ui/src/modules/session-ui/pages/login/login-page.component.html
  packages/stark-ui/src/modules/session-ui/pages/login/login-page.component.spec.ts
  packages/stark-ui/src/modules/session-ui/pages/preloading/_preloading-page.component.scss
  packages/stark-ui/src/modules/session-ui/pages/preloading/preloading-page.component.html
  packages/stark-ui/src/modules/session-ui/pages/preloading/preloading-page.component.spec.ts
  packages/stark-ui/src/modules/session-ui/pages/session-expired/_session-expired-page.component.scss
  packages/stark-ui/src/modules/session-ui/pages/session-expired/session-expired-page.component.html
  packages/stark-ui/src/modules/session-ui/pages/session-expired/session-expired-page.component.spec.ts
  packages/stark-ui/src/modules/session-ui/pages/session-logout/_session-logout-page.component.scss
  packages/stark-ui/src/modules/session-ui/pages/session-logout/session-logout-page.component.html
  packages/stark-ui/src/modules/session-ui/pages/session-logout/session-logout-page.component.spec.ts
  packages/stark-ui/src/modules/session-ui/session-ui.module.ts
  showcase/angular.json
  starter/angular.json
Labels: breaking change, comp: stark-ui, type: enhancement

#1188 chore(stark-all): fix new linting violations after TSLint upgrade to 5.14.0
  package-lock.json
  packages/stark-build/package-lock.json
  packages/stark-core/package-lock.json
  packages/stark-core/src/modules/session/routes.ts
  packages/stark-testing/package-lock.json
  packages/stark-ui/package-lock.json
  showcase/package-lock.json
  showcase/package.json
Labels: comp: qa, comp: stark-all, type: enhancement

#1189 chore(release): fix 'unbound variable' error in build.sh introduced in #1185
  build.sh
Labels: comp: build-main, type: enhancement

#1179 refactor(stark-ui): remove `starkOnEnterKey` in favor of Angulars implementation
  packages/stark-ui/src/modules.ts
  packages/stark-ui/src/modules/keyboard-directives.ts
  packages/stark-ui/src/modules/keyboard-directives/directives/on-enter-key.directive.spec.ts
  packages/stark-ui/src/modules/keyboard-directives/directives/on-enter-key.directive.ts
  packages/stark-ui/src/modules/keyboard-directives/keyboard-directives.module.ts
  packages/stark-ui/src/modules/pagination/components/pagination.component.html
  packages/stark-ui/src/modules/pagination/components/pagination.component.spec.ts
  packages/stark-ui/src/modules/pagination/pagination.module.ts
  packages/stark-ui/src/modules/restrict-input-directive.ts
  packages/stark-ui/src/modules/restrict-input-directive/directives.ts
  packages/stark-ui/src/modules/restrict-input-directive/directives/restrict-input.directive.spec.ts
  packages/stark-ui/src/modules/restrict-input-directive/directives/restrict-input.directive.ts
  packages/stark-ui/src/modules/restrict-input-directive/restrict-input-directive.module.ts
  showcase/src/app/app-menu.config.ts
  showcase/src/app/demo-ui/demo-ui.module.ts
  showcase/src/app/demo-ui/pages/index.ts
  showcase/src/app/demo-ui/pages/keyboard-directives/demo-keyboard-directives-page.component.html
  showcase/src/app/demo-ui/pages/keyboard-directives/demo-keyboard-directives-page.component.scss
  showcase/src/app/demo-ui/pages/keyboard-directives/demo-keyboard-directives-page.component.ts
  showcase/src/app/demo-ui/pages/keyboard-directives/index.ts
  showcase/src/app/demo-ui/pages/restrict-input-directive/demo-restrict-input-directive-page.component.html
  showcase/src/app/demo-ui/pages/restrict-input-directive/demo-restrict-input-directive-page.component.ts
  showcase/src/app/demo-ui/pages/restrict-input-directive/index.ts
  showcase/src/app/demo-ui/routes.ts
  showcase/src/assets/examples/keyboard-directives/on-enter-key-directive.html
  showcase/src/assets/examples/keyboard-directives/on-enter-key-directive.ts
  showcase/src/assets/examples/restrict-input-directive/restrict-input-directive.html
  showcase/src/assets/examples/restrict-input-directive/restrict-input-directive.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
Labels: breaking change, comp: docs, comp: stark-ui, type: refactor

#1183 feat(stark-ui): implement Material dialogs presets: alert, confirm and prompt
  packages/stark-ui/assets/stark-ui-bundle.scss
  packages/stark-ui/assets/styles/_material-fixes.scss
  packages/stark-ui/src/modules.ts
  packages/stark-ui/src/modules/dialogs.ts
  packages/stark-ui/src/modules/dialogs/components.ts
  packages/stark-ui/src/modules/dialogs/components/alert-dialog-content.intf.ts
  packages/stark-ui/src/modules/dialogs/components/alert-dialog-theme.scss
  packages/stark-ui/src/modules/dialogs/components/alert-dialog.component.html
  packages/stark-ui/src/modules/dialogs/components/alert-dialog.component.scss
  packages/stark-ui/src/modules/dialogs/components/alert-dialog.component.spec.ts
  packages/stark-ui/src/modules/dialogs/components/alert-dialog.component.ts
  packages/stark-ui/src/modules/dialogs/components/confirm-dialog-content.intf.ts
  packages/stark-ui/src/modules/dialogs/components/confirm-dialog-theme.scss
  packages/stark-ui/src/modules/dialogs/components/confirm-dialog.component.html
  packages/stark-ui/src/modules/dialogs/components/confirm-dialog.component.spec.ts
  packages/stark-ui/src/modules/dialogs/components/confirm-dialog.component.ts
  packages/stark-ui/src/modules/dialogs/components/dialog-content.intf.ts
  packages/stark-ui/src/modules/dialogs/components/prompt-dialog-content.intf.ts
  packages/stark-ui/src/modules/dialogs/components/prompt-dialog-theme.scss
  packages/stark-ui/src/modules/dialogs/components/prompt-dialog.component.html
  packages/stark-ui/src/modules/dialogs/components/prompt-dialog.component.scss
  packages/stark-ui/src/modules/dialogs/components/prompt-dialog.component.spec.ts
  packages/stark-ui/src/modules/dialogs/components/prompt-dialog.component.ts
  packages/stark-ui/src/modules/dialogs/dialogs.module.ts
  showcase/src/app/app-menu.config.ts
  showcase/src/app/demo-ui/demo-ui.module.ts
  showcase/src/app/demo-ui/pages/dialogs/dialogs-page.component.html
  showcase/src/app/demo-ui/pages/dialogs/dialogs-page.component.scss
  showcase/src/app/demo-ui/pages/dialogs/dialogs-page.component.ts
  showcase/src/app/demo-ui/pages/dialogs/index.ts
  showcase/src/app/demo-ui/pages/index.ts
  showcase/src/app/demo-ui/routes.ts
  showcase/src/assets/examples/dialogs/predefined-dialogs.html
  showcase/src/assets/examples/dialogs/predefined-dialogs.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
Labels: comp: stark-ui, type: feature

#1198 docs(developer-guide): include developer guide in published compodoc docs on GhPages for stark-core and stark-ui
  README.md
  docs/stark-build/NG_CLI_BUILD_CUSTOMIZATIONS.md
  docs/stark-core/ENVIRONMENTS.md
  docs/stark-core/ERROR_HANDLING.md
  docs/stark-core/GETTING_STARTED.md
  docs/stark-core/summary.json
  docs/stark-ui/GENERIC_SEARCH.md
  docs/stark-ui/GETTING_STARTED.md
  docs/stark-ui/summary.json
  greenkeeper.json
  package-lock.json
  package.json
  packages/stark-core/.compodocrc.json
  packages/stark-core/README.md
  packages/stark-core/package.json
  packages/stark-ui/.compodocrc.json
  packages/stark-ui/README.md
  packages/stark-ui/package.json
Labels: comp: developer-guide, comp: docs, type: refactor

#1178 feat(stark-ui): date-picker - add support for ControlValueAccessor, MatFormFieldControl, Validator and starkTimestampMask directive
  packages/rollup.config.common-data.js
  packages/stark-ui/src/modules/date-picker/components.ts
  packages/stark-ui/src/modules/date-picker/components/date-format.constants.ts
  packages/stark-ui/src/modules/date-picker/components/date-picker.component.html
  packages/stark-ui/src/modules/date-picker/components/date-picker.component.spec.ts
  packages/stark-ui/src/modules/date-picker/components/date-picker.component.ts
  packages/stark-ui/src/modules/date-picker/date-picker.module.ts
  packages/stark-ui/src/modules/date-range-picker/components.ts
  packages/stark-ui/src/modules/date-range-picker/components/date-range-picker.component.html
  packages/stark-ui/src/modules/date-range-picker/components/date-range-picker.component.spec.ts
  packages/stark-ui/src/modules/date-range-picker/components/date-range-picker.component.ts
  packages/stark-ui/src/modules/date-range-picker/date-range-picker.module.ts
  packages/stark-ui/src/modules/input-mask-directives/directives/timestamp-mask-config.intf.ts
  packages/stark-ui/src/modules/minimap/components/minimap.component.spec.ts
  showcase/src/app/demo-ui/demo-ui.module.ts
  showcase/src/app/demo-ui/pages/date-picker/demo-date-picker-page.component.html
  showcase/src/app/demo-ui/pages/date-picker/demo-date-picker-page.component.ts
  showcase/src/app/demo-ui/pages/date-range-picker/demo-date-range-picker-page.component.html
  showcase/src/app/demo-ui/pages/date-range-picker/demo-date-range-picker-page.component.ts
  showcase/src/assets/examples/date-picker/custom-filter.html
  showcase/src/assets/examples/date-picker/custom-filter.ts
  showcase/src/assets/examples/date-picker/ng-model.html
  showcase/src/assets/examples/date-picker/ng-model.ts
  showcase/src/assets/examples/date-picker/reactive-form.html
  showcase/src/assets/examples/date-picker/reactive-form.ts
  showcase/src/assets/examples/date-picker/weekdays.html
  showcase/src/assets/examples/date-picker/weekdays.ts
  showcase/src/assets/examples/date-picker/weekends.html
  showcase/src/assets/examples/date-picker/weekends.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
Labels: breaking change, comp: stark-ui, type: feature

#1199 fix(stark-demo): fix wrong reference links in Dialogs demo page
  showcase/src/app/demo-ui/pages/dialogs/dialogs-page.component.ts
Labels: comp: qa, comp: stark-showcase, type: enhancement

#1200 docs: update license year
  LICENSE
  packages/license-banner.txt
Labels: comp: docs, comp: stark-all

#1203 fix(stark-ui): date-picker - disabled stark-date-picker not focusable anymore
  packages/stark-ui/src/modules/date-picker/components/date-picker.component.ts
Labels: comp: stark-ui, type: bug

#1212 test(stark-all): fix TSLint errors in unit tests after upgrade of @types/jasmine to v3.3.12
  packages/stark-core/src/modules/http/repository/http-abstract-repository.spec.ts
  packages/stark-core/src/modules/logging/services/logging.service.spec.ts
  packages/stark-core/src/modules/routing/services/routing.service.intf.ts
  packages/stark-core/src/modules/routing/services/routing.service.spec.ts
  packages/stark-core/src/modules/routing/services/routing.service.ts
  packages/stark-core/src/modules/session/services/session.service.spec.ts
  packages/stark-core/src/modules/settings/effects/settings.effects.spec.ts
  packages/stark-core/src/modules/xsrf/services/xsrf.service.spec.ts
  packages/stark-testing/package-lock.json
  packages/stark-testing/package.json
  packages/stark-ui/src/modules/app-sidebar/components/app-sidebar.component.spec.ts
  packages/stark-ui/src/modules/app-sidebar/components/app-sidebar.component.ts
  packages/stark-ui/src/modules/breadcrumb/components/breadcrumb.component.spec.ts
  packages/stark-ui/src/modules/breadcrumb/components/breadcrumb.component.ts
  packages/stark-ui/src/modules/generic-search/classes/abstract-search-component.spec.ts
  packages/stark-ui/src/modules/progress-indicator/reducers/progress-indicator.reducer.ts
  packages/stark-ui/src/modules/progress-indicator/services/progress-indicator.service.spec.ts
  packages/stark-ui/src/modules/session-ui/effects/session-timeout-warning.effect.spec.ts
  packages/stark-ui/src/modules/table/components/table.component.spec.ts
Labels: comp: qa, comp: testing, type: enhancement

#1213 test(stark-all): fix last TSLint error in Showcase unit tests after upgrade of @types/jasmine to v3.3.12
  packages/stark-core/package-lock.json
  packages/stark-ui/package-lock.json
  showcase/package-lock.json
  showcase/src/app/shared/components/table-of-contents/table-of-contents.component.spec.ts
Labels: comp: qa, comp: testing, type: enhancement

#1207 build(stark-all): fix issues with `describe()`, `it()`, `beforeEach()`, etc. in stark-ui and stark-core
  packages/stark-core/karma.conf.ci.js
  packages/stark-core/karma.conf.js
  packages/stark-core/package-lock.json
  packages/stark-core/package.json
  packages/stark-core/tsconfig-build.json
  packages/stark-ui/karma.conf.ci.js
  packages/stark-ui/karma.conf.js
  packages/stark-ui/package-lock.json
  packages/stark-ui/package.json
  packages/stark-ui/tsconfig-build.json
  packages/tsconfig.json
Labels: comp: build-main, comp: testing, type: bug

#1208 feat(stark-ui): date-picker - add support to translate placeholder internally
  packages/stark-ui/src/modules/date-picker/components/date-picker.component.html
  packages/stark-ui/src/modules/date-picker/components/date-picker.component.spec.ts
  packages/stark-ui/src/modules/date-picker/components/date-picker.component.ts
  showcase/src/app/demo-ui/pages/date-picker/demo-date-picker-page.component.html
Labels: comp: stark-ui, type: feature

#1201 feat(stark-ui): dropdown - add support for ControlValueAccessor, MatFormFieldControl and Validator
  packages/stark-ui/src/modules/dropdown/components/_dropdown-theme.scss
  packages/stark-ui/src/modules/dropdown/components/_dropdown.component.scss
  packages/stark-ui/src/modules/dropdown/components/dropdown.component.html
  packages/stark-ui/src/modules/dropdown/components/dropdown.component.spec.ts
  packages/stark-ui/src/modules/dropdown/components/dropdown.component.ts
  packages/stark-ui/src/modules/language-selector/components/_language-selector.component.scss
  packages/stark-ui/src/modules/language-selector/components/language-selector.component.html
  packages/stark-ui/src/modules/language-selector/components/language-selector.component.spec.ts
  packages/stark-ui/src/modules/language-selector/language-selector.module.ts
  showcase/src/app/demo-ui/pages/date-picker/demo-date-picker-page.component.html
  showcase/src/app/demo-ui/pages/dropdown/demo-dropdown-page.component.html
  showcase/src/app/demo-ui/pages/dropdown/demo-dropdown-page.component.ts
  showcase/src/assets/examples/dropdown/disabled-dropdown.html
  showcase/src/assets/examples/dropdown/multiple-required-selection.html
  showcase/src/assets/examples/dropdown/multiple-required-selection.ts
  showcase/src/assets/examples/dropdown/multiple-selection.html
  showcase/src/assets/examples/dropdown/ng-model-required.html
  showcase/src/assets/examples/dropdown/ng-model-required.ts
  showcase/src/assets/examples/dropdown/reactive-form-dropdown.html
  showcase/src/assets/examples/dropdown/reactive-form-dropdown.ts
  showcase/src/assets/examples/dropdown/single-blank-selection.html
  showcase/src/assets/examples/dropdown/single-required-selection.html
  showcase/src/assets/examples/dropdown/white.html
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
Labels: breaking change, comp: stark-ui, type: feature

#1219 test(stark-ui): adapt failing unit test with latest version of PrismJS (1.16.0)
  packages/stark-ui/src/modules/pretty-print/components/pretty-print.component.spec.ts
Labels: comp: stark-ui, type: enhancement

#1223 Greenkeeper/stark packages/@types/prismjs 1.16.0
  packages/stark-ui/package-lock.json
  packages/stark-ui/package.json
  packages/stark-ui/src/modules/pretty-print/components/pretty-print.component.ts
Labels: greenkeeper, type: enhancement
