Repository NationalBankBelgium/stark, pull requests merged in 2019-06, with the labels that each got.

#1309 refactor(stark-all): remove usages of starkSvgViewBox directive where it is no longer needed
  packages/stark-ui/package.json
  packages/stark-ui/src/modules/action-bar/action-bar.module.ts
  packages/stark-ui/src/modules/action-bar/components/action-bar.component.html
  packages/stark-ui/src/modules/app-data/app-data.module.ts
  packages/stark-ui/src/modules/app-data/components/app-data.component.html
  packages/stark-ui/src/modules/app-logout/app-logout.module.ts
  packages/stark-ui/src/modules/app-logout/components/app-logout.component.html
  packages/stark-ui/src/modules/app-menu/app-menu.module.ts
  packages/stark-ui/src/modules/app-menu/components/app-menu-item.component.html
  packages/stark-ui/src/modules/collapsible/components/collapsible.component.html
  packages/stark-ui/src/modules/dialogs/components/alert-dialog.component.html
  packages/stark-ui/src/modules/generic-search/components/generic-search/generic-search.component.html
  packages/stark-ui/src/modules/message-pane/components/message-pane.component.html
  packages/stark-ui/src/modules/minimap/components/minimap.component.html
  packages/stark-ui/src/modules/minimap/minimap.module.ts
  packages/stark-ui/src/modules/pagination/components/pagination.component.html
  packages/stark-ui/src/modules/pagination/pagination.module.ts
  packages/stark-ui/src/modules/route-search/components/route-search.component.html
  packages/stark-ui/src/modules/svg-view-box/directives/svg-view-box.directive.spec.ts
  packages/stark-ui/src/modules/table/components/column.component.html
  packages/stark-ui/src/modules/table/components/table.component.html
  packages/stark-ui/src/modules/table/table.module.ts
  packages/stark-ui/src/modules/toast-notification/components/toast-notification.component.html
  showcase/package-lock.json
  showcase/src/app/app.component.html
  showcase/src/app/demo-ui/demo-ui.module.ts
  showcase/src/app/shared/shared.module.ts
  showcase/src/app/styleguide/pages/button/styleguide-button-page.component.html
  showcase/src/app/styleguide/pages/header/styleguide-header-page.component.ts
  showcase/src/app/styleguide/pages/layout/styleguide-layout-page.component.html
  showcase/src/app/welcome/pages/home/home-page.component.html
  showcase/src/assets/examples/button/accent.html
  showcase/src/assets/examples/button/alert.html
  showcase/src/assets/examples/button/alt.html
  showcase/src/assets/examples/button/basic.html
  showcase/src/assets/examples/button/disabled.html
  showcase/src/assets/examples/button/neutral.html
  showcase/src/assets/examples/button/primary.html
  showcase/src/assets/examples/button/success.html
  showcase/src/assets/examples/button/warn.html
  showcase/src/assets/examples/button/white.html
  starter/src/app/app.component.html
  starter/src/app/app.module.ts
Labels: comp: stark-all, comp: stark-showcase, comp: stark-starter, type: refactor

#1310 feat(stark-ui): change color of global filter icon to indicate when the global filter is enabled
  packages/stark-ui/src/modules/table/components/_table-theme.scss
  packages/stark-ui/src/modules/table/components/_table.component.scss
  packages/stark-ui/src/modules/table/components/table.component.html
  packages/stark-ui/src/modules/table/components/table.component.spec.ts
Labels: comp: stark-ui, type: feature

#1304 refactor(stark-ui): remove 'StarkComponentUtil.isInputEnabled' in favor of Angular CDK function 'coerceBooleanProperty'
  packages/stark-ui/src/modules/table/components/table.component.ts
  packages/stark-ui/src/util.ts
  packages/stark-ui/src/util/component.ts
  packages/stark-ui/src/util/component/component.util.spec.ts
  packages/stark-ui/src/util/component/component.util.ts
Labels: breaking change, comp: stark-ui, type: enhancement

#1295 chore(stark-build): remove code-style from Stark in favor of @NationalBankBelgium/code-style
  .prettierrc.js
  .stylelintrc
  package-lock.json
  package.json
  packages/stark-build/config/.prettierrc.js
  packages/stark-build/config/stylelint.config.js
  packages/stark-build/config/tslint.json
  packages/stark-build/package-lock.json
  packages/stark-build/tsconfig.json
  packages/stark-core/assets/css/pre-load-style.css
  packages/stark-core/tsconfig-build.json
  packages/stark-core/tslint.json
  packages/stark-rbac/tsconfig-build.json
  packages/stark-rbac/tslint.json
  packages/stark-testing/package-lock.json
  packages/stark-ui/src/modules/dialogs/components/alert-dialog-theme.scss
  packages/stark-ui/tsconfig-build.json
  packages/stark-ui/tslint.json
  packages/tsconfig.json
  showcase/.prettierrc.js
  showcase/.stylelintrc
  showcase/angular.json
  showcase/package-lock.json
  showcase/package.json
  showcase/tsconfig.json
  showcase/tslint.json
  starter/.prettierrc.js
  starter/.stylelintrc
  starter/package.json
  starter/tsconfig.json
  starter/tslint.json
  tslint.json
Labels: breaking change, comp: stark-build

#1312 Greenkeeper/release it 12.2.2
  .release-it.json
  package-lock.json
  package.json
  starter/package.json
Labels: greenkeeper, type: enhancement

#1313 chore(stark-all): re-generate package-lock.json files to bump deps with security vulnerabilities
  package-lock.json
  packages/stark-build/package-lock.json
  showcase/package-lock.json
Labels: comp: stark-all, security

#1270 feat(stark-ui): implement `stark-date-time-picker` component
  packages/stark-ui/assets/stark-ui-bundle.scss
  packages/stark-ui/src/modules.ts
  packages/stark-ui/src/modules/date-time-picker.ts
  packages/stark-ui/src/modules/date-time-picker/assets/translations/en.ts
  packages/stark-ui/src/modules/date-time-picker/assets/translations/fr.ts
  packages/stark-ui/src/modules/date-time-picker/assets/translations/nl.ts
  packages/stark-ui/src/modules/date-time-picker/components.ts
  packages/stark-ui/src/modules/date-time-picker/components/date-time-picker.component.html
  packages/stark-ui/src/modules/date-time-picker/components/date-time-picker.component.scss
  packages/stark-ui/src/modules/date-time-picker/components/date-time-picker.component.spec.ts
  packages/stark-ui/src/modules/date-time-picker/components/date-time-picker.component.ts
  packages/stark-ui/src/modules/date-time-picker/date-time-picker.module.ts
  packages/stark-ui/testing/tsconfig-build.json
  packages/stark-ui/tsconfig.spec.json
  packages/tsconfig.json
  showcase/src/app/app-menu.config.ts
  showcase/src/app/demo-ui/demo-ui.module.ts
  showcase/src/app/demo-ui/pages/date-time-picker/demo-date-time-picker-page.component.scss
  showcase/src/app/demo-ui/pages/date-time-picker/demo-date-time-picker-page.component.ts
  showcase/src/app/demo-ui/pages/date-time-picker/demo-date-time-picker-page.html
  showcase/src/app/demo-ui/pages/date-time-picker/index.ts
  showcase/src/app/demo-ui/pages/index.ts
  showcase/src/app/demo-ui/routes.ts
  showcase/src/assets/examples/date-time-picker/ng-model.html
  showcase/src/assets/examples/date-time-picker/ng-model.scss
  showcase/src/assets/examples/date-time-picker/ng-model.ts
  showcase/src/assets/examples/date-time-picker/reactive-form.html
  showcase/src/assets/examples/date-time-picker/reactive-form.scss
  showcase/src/assets/examples/date-time-picker/reactive-form.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
Labels: comp: stark-ui, type: feature

#1329 fix(stark-demo): enhance script to replace baseHref and deployUrl in any JS and CSS file in Showcase when deploying to GhPages
  showcase/ghpages-adapt-bundle-urls.js
Labels: comp: stark-showcase, type: enhancement

#1332 Feature/showcase enhancements
  showcase/src/app/app.module.ts
  showcase/src/app/demo-rbac/demo-rbac.module.ts
  showcase/src/app/demo-ui/demo-ui.module.ts
  showcase/src/app/shared/components/example-viewer/example-viewer.component.html
  showcase/src/app/shared/components/example-viewer/example-viewer.component.spec.ts
  showcase/src/app/shared/components/example-viewer/example-viewer.component.ts
  showcase/src/app/shared/shared.module.ts
  showcase/src/app/styleguide/pages/layout/styleguide-layout-page.component.html
  showcase/src/app/styleguide/pages/layout/styleguide-layout-page.component.scss
  showcase/src/app/styleguide/pages/layout/styleguide-layout-page.theme.scss
  showcase/src/app/styleguide/styleguide.module.ts
  showcase/src/app/welcome/welcome.module.ts
Labels: comp: stark-showcase, type: enhancement

#1343 chore(package): update husky to version 2.7.0
  starter/package.json
Labels: greenkeeper
