Repository NationalBankBelgium/stark, pull requests merged in 2019-02, with the labels that each got.

#1102 chore(stark-all): adapt greenkeeper.json file to restructure the packages and remove previously ignored libs
  greenkeeper.json
Labels: comp: stark-all, type: enhancement

#1106 chore(stark-all): add @types/node and @angular/flex-layout to ignored libs in greenkeeper.json
  greenkeeper.json
Labels: comp: stark-all, type: enhancement

#1098 feat(stark-ui): implementation of progress-indicator component
  packages/stark-ui/assets/styles/_base.scss
  packages/stark-ui/src/modules.ts
  packages/stark-ui/src/modules/progress-indicator.ts
  packages/stark-ui/src/modules/progress-indicator/actions.ts
  packages/stark-ui/src/modules/progress-indicator/actions/progress-indicator.actions.ts
  packages/stark-ui/src/modules/progress-indicator/components/progress-indicator.component.html
  packages/stark-ui/src/modules/progress-indicator/components/progress-indicator.component.spec.ts
  packages/stark-ui/src/modules/progress-indicator/components/progress-indicator.component.ts
  packages/stark-ui/src/modules/progress-indicator/directives.ts
  packages/stark-ui/src/modules/progress-indicator/directives/progress-indicator.directive.ts
  packages/stark-ui/src/modules/progress-indicator/entities.ts
  packages/stark-ui/src/modules/progress-indicator/entities/progress-indicator-config.entity.intf.ts
  packages/stark-ui/src/modules/progress-indicator/entities/progress-indicator-config.entity.ts
  packages/stark-ui/src/modules/progress-indicator/entities/progress-indicator-type.entity.ts
  packages/stark-ui/src/modules/progress-indicator/progress-indicator.module.ts
  packages/stark-ui/src/modules/progress-indicator/reducers.ts
  packages/stark-ui/src/modules/progress-indicator/reducers/index.ts
  packages/stark-ui/src/modules/progress-indicator/reducers/progress-indicator.reducer.spec.ts
  packages/stark-ui/src/modules/progress-indicator/reducers/progress-indicator.reducer.ts
  packages/stark-ui/src/modules/progress-indicator/services.ts
  packages/stark-ui/src/modules/progress-indicator/services/progress-indicator.service.intf.ts
  packages/stark-ui/src/modules/progress-indicator/services/progress-indicator.service.spec.ts
  packages/stark-ui/src/modules/progress-indicator/services/progress-indicator.service.ts
  showcase/.stylelintrc
  showcase/src/app/app-menu.config.ts
  showcase/src/app/app.component.ts
  showcase/src/app/app.module.ts
  showcase/src/app/demo-ui/demo-ui.module.ts
  showcase/src/app/demo-ui/pages/index.ts
  showcase/src/app/demo-ui/pages/progress-indicator/demo-progress-indicator-page.component.html
  showcase/src/app/demo-ui/pages/progress-indicator/demo-progress-indicator-page.component.scss
  showcase/src/app/demo-ui/pages/progress-indicator/demo-progress-indicator-page.component.ts
  showcase/src/app/demo-ui/pages/progress-indicator/index.ts
  showcase/src/app/demo-ui/routes.ts
  showcase/src/assets/examples/progress-indicator/progress-indicator.html
  showcase/src/assets/examples/progress-indicator/progress-indicator.scss
  showcase/src/assets/examples/progress-indicator/progress-indicator.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
Labels: comp: stark-ui, type: feature

#1108 test(stark-ui): add missing mock implementation for progress indicator service
  packages/stark-ui/src/modules/progress-indicator/testing.ts
  packages/stark-ui/src/modules/progress-indicator/testing/progress-indicator.mock.ts
  packages/stark-ui/testing/public_api.ts
Labels: comp: stark-ui

#1113 feat(stark-all): refine exports for the services
  packages/stark-ui/src/modules/app-sidebar/services.ts
  packages/stark-ui/src/modules/message-pane/services.ts
  packages/stark-ui/src/modules/progress-indicator/services.ts
  packages/stark-ui/src/modules/toast-notification/services.ts
  packages/stark-ui/src/modules/toast-notification/testing/toast-notification.mock.ts
Labels: comp: stark-ui, type: feature

#1114 fix(stark-ui): fix minor issues in stark-ui
  packages/stark-ui/package.json
  packages/stark-ui/src/common/message.ts
Labels: comp: stark-ui, type: bug

#1086 feat(stark-demo): add 'styleguide/layout' page for documenting the use of Angular Flex-layout
  showcase/src/app/app-menu.config.ts
  showcase/src/app/styleguide/pages/index.ts
  showcase/src/app/styleguide/pages/layout/index.ts
  showcase/src/app/styleguide/pages/layout/styleguide-layout-page.component.html
  showcase/src/app/styleguide/pages/layout/styleguide-layout-page.component.scss
  showcase/src/app/styleguide/pages/layout/styleguide-layout-page.component.ts
  showcase/src/app/styleguide/pages/layout/styleguide-layout-page.theme.scss
  showcase/src/app/styleguide/routes.ts
  showcase/src/app/styleguide/styleguide.module.ts
  showcase/src/assets/examples/flex-layout/flex.html
  showcase/src/assets/examples/flex-layout/flex.scss
  showcase/src/assets/examples/flex-layout/grid.html
  showcase/src/assets/examples/flex-layout/grid.scss
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
  showcase/src/styles/_theme.scss
  showcase/src/styles/styles.scss
Labels: comp: docs, comp: stark-showcase

#1077 fix(stark-ui): fix table filter implementation
  packages/stark-ui/src/modules/table.ts
  packages/stark-ui/src/modules/table/assets/translations/en.ts
  packages/stark-ui/src/modules/table/assets/translations/fr.ts
  packages/stark-ui/src/modules/table/assets/translations/nl.ts
  packages/stark-ui/src/modules/table/components.ts
  packages/stark-ui/src/modules/table/components/column.component.html
  packages/stark-ui/src/modules/table/components/column.component.ts
  packages/stark-ui/src/modules/table/components/dialogs/multisort.component.ts
  packages/stark-ui/src/modules/table/components/table.component.html
  packages/stark-ui/src/modules/table/components/table.component.spec.ts
  packages/stark-ui/src/modules/table/components/table.component.ts
  packages/stark-ui/src/modules/table/entities.ts
  packages/stark-ui/src/modules/table/entities/column-filter-changed-output.intf.ts
  packages/stark-ui/src/modules/table/entities/column-priority.intf.ts
  packages/stark-ui/src/modules/table/entities/column-properties.intf.ts
  packages/stark-ui/src/modules/table/entities/column-sort-changed-output.intf.ts
  packages/stark-ui/src/modules/table/entities/table-column-filter.intf.ts
  packages/stark-ui/src/modules/table/entities/table-column-sorting-direction.type.ts
  packages/stark-ui/src/modules/table/entities/table-filter.intf.ts
  packages/stark-ui/src/modules/table/table.module.ts
Labels: comp: stark-ui, type: bug

#1121 chore(stark-all): minor fixes for Prettier after upgrade to v1.16.0 and tslint-config-prettier v1.18
  docs/stark-ui/GETTING_STARTED.md
  packages/stark-build/config/tslint.json
  packages/stark-core/src/common/environment/environment.intf.ts
  packages/stark-ui/src/modules/action-bar/components/_action-bar-theme.scss
  packages/stark-ui/src/modules/action-bar/components/_action-bar.component.scss
  packages/stark-ui/src/modules/app-data/components/_app-data-theme.scss
  packages/stark-ui/src/modules/app-data/components/_app-data.component.scss
  packages/stark-ui/src/modules/app-footer/components/_app-footer-theme.scss
  packages/stark-ui/src/modules/app-footer/components/_app-footer.component.scss
  packages/stark-ui/src/modules/app-sidebar/components/_app-sidebar.component.scss
  packages/stark-ui/src/modules/breadcrumb/components/breadcrumb.component.scss
  packages/stark-ui/src/modules/collapsible/components/_collapsible-theme.scss
  packages/stark-ui/src/modules/collapsible/components/_collapsible.component.scss
  packages/stark-ui/src/modules/message-pane/components/_message-pane-theme.scss
  packages/stark-ui/src/modules/message-pane/components/_message-pane.component.scss
  packages/stark-ui/src/modules/minimap/components/_minimap-theme.scss
  packages/stark-ui/src/modules/pagination/components/_pagination.component.scss
  packages/stark-ui/src/modules/pretty-print/components/pretty-print.component.ts
  packages/stark-ui/src/modules/progress-indicator/services/progress-indicator.service.ts
  packages/stark-ui/src/modules/route-search/components/_route-search.component.scss
  packages/stark-ui/src/modules/route-search/components/route-search.component.html
  packages/stark-ui/src/modules/session-ui/pages/login/_login-page.component.scss
  packages/stark-ui/src/modules/session-ui/pages/session-expired/_session-expired-page.component.scss
  packages/stark-ui/src/modules/slider/components/_slider-theme.scss
  packages/stark-ui/src/modules/table/components/_table.component.scss
  packages/stark-ui/src/modules/table/components/table.component.ts
  packages/stark-ui/src/modules/table/entities/column-sort-changed-output.intf.ts
  packages/stark-ui/src/modules/toast-notification/components/_toast-notification.component.scss
  showcase/angular.json
  showcase/src/app/_app.component.scss
  showcase/src/app/app.component.html
  showcase/src/app/app.component.ts
  showcase/src/app/shared/components/example-viewer/_example-viewer-theme.scss
  showcase/src/app/shared/components/reference-block/_reference-block.component.scss
  showcase/src/app/styleguide/routes.ts
  showcase/src/app/styleguide/styleguide.module.ts
  showcase/src/app/welcome/components/news-item/news-item.component.spec.ts
  showcase/src/app/welcome/pages/getting-started/_getting-started-page-theme.scss
  showcase/src/assets/examples/flex-layout/flex.scss
  showcase/src/assets/examples/flex-layout/grid.scss
  showcase/src/assets/examples/message-pane/message-pane.scss
  showcase/src/index.html
  starter/src/index.html
Labels: comp: qa, comp: stark-all

#1000 feat(stark-ui): implement generic search component in generic-search module
  docs/GENERIC_SEARCH.md
  packages/rollup.config.common-data.js
  packages/stark-ui/assets/stark-ui-bundle.scss
  packages/stark-ui/src/modules.ts
  packages/stark-ui/src/modules/action-bar/components/action-bar.component.html
  packages/stark-ui/src/modules/dropdown/components/dropdown.component.spec.ts
  packages/stark-ui/src/modules/generic-search.ts
  packages/stark-ui/src/modules/generic-search/classes.ts
  packages/stark-ui/src/modules/generic-search/classes/abstract-form-component.ts
  packages/stark-ui/src/modules/generic-search/classes/abstract-search-component.spec.ts
  packages/stark-ui/src/modules/generic-search/classes/abstract-search-component.ts
  packages/stark-ui/src/modules/generic-search/classes/generic-search.service.intf.ts
  packages/stark-ui/src/modules/generic-search/classes/search-form-component.intf.ts
  packages/stark-ui/src/modules/generic-search/components.ts
  packages/stark-ui/src/modules/generic-search/components/generic-search.ts
  packages/stark-ui/src/modules/generic-search/components/generic-search/_generic-search.component.scss
  packages/stark-ui/src/modules/generic-search/components/generic-search/generic-search.component.html
  packages/stark-ui/src/modules/generic-search/components/generic-search/generic-search.component.ts
  packages/stark-ui/src/modules/generic-search/entities.ts
  packages/stark-ui/src/modules/generic-search/entities/form-action.intf.ts
  packages/stark-ui/src/modules/generic-search/entities/generic-search-action-bar-config.intf.ts
  packages/stark-ui/src/modules/generic-search/entities/generic-search-form-buttons-config.intf.ts
  packages/stark-ui/src/modules/generic-search/entities/search-state.entity.intf.ts
  packages/stark-ui/src/modules/generic-search/generic-search.module.ts
  packages/stark-ui/src/util/form/form.util.spec.ts
  showcase/src/app/app-menu.config.ts
  showcase/src/app/app.module.ts
  showcase/src/app/demo-ui/demo-ui.module.ts
  showcase/src/app/demo-ui/pages/generic-search/actions/demo-generic-search.actions.ts
  showcase/src/app/demo-ui/pages/generic-search/actions/index.ts
  showcase/src/app/demo-ui/pages/generic-search/components/demo-generic-search-form.component.html
  showcase/src/app/demo-ui/pages/generic-search/components/demo-generic-search-form.component.ts
  showcase/src/app/demo-ui/pages/generic-search/components/index.ts
  showcase/src/app/demo-ui/pages/generic-search/demo-generic-search-page.component.html
  showcase/src/app/demo-ui/pages/generic-search/demo-generic-search-page.component.ts
  showcase/src/app/demo-ui/pages/generic-search/entities/hero-movie-search.entity.ts
  showcase/src/app/demo-ui/pages/generic-search/entities/hero-movie.entity.ts
  showcase/src/app/demo-ui/pages/generic-search/entities/index.ts
  showcase/src/app/demo-ui/pages/generic-search/index.ts
  showcase/src/app/demo-ui/pages/generic-search/reducers/demo-generic-search.reducer.ts
  showcase/src/app/demo-ui/pages/generic-search/reducers/index.ts
  showcase/src/app/demo-ui/pages/generic-search/services/demo-generic.service.ts
  showcase/src/app/demo-ui/pages/generic-search/services/index.ts
  showcase/src/app/demo-ui/pages/index.ts
  showcase/src/app/demo-ui/routes.ts
  showcase/src/app/shared/components/reference-block/reference-block.component.html
  showcase/src/app/shared/components/reference-block/reference-block.component.spec.ts
  showcase/src/assets/examples/generic-search/demo-generic-search-page.component.html
  showcase/src/assets/examples/generic-search/demo-generic-search-page.component.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
Labels: comp: stark-ui, type: feature

#1123 refactor(stark-all): improve typings in Mock classes to avoid duplicating method signatures while adding also the Spy typings for better dev experience
  packages/stark-core/src/modules/http/repository/http-abstract-repository.spec.ts
  packages/stark-core/src/modules/http/services/http.service.spec.ts
  packages/stark-core/src/modules/http/testing/http.mock.ts
  packages/stark-core/src/modules/logging/services/logging.service.spec.ts
  packages/stark-core/src/modules/logging/testing/logging.mock.ts
  packages/stark-core/src/modules/routing/services/routing.service.spec.ts
  packages/stark-core/src/modules/routing/testing/routing.mock.ts
  packages/stark-core/src/modules/session/services/session.service.spec.ts
  packages/stark-core/src/modules/session/testing/session.mock.ts
  packages/stark-core/src/modules/settings/effects/settings.effects.spec.ts
  packages/stark-core/src/modules/settings/services/settings.service.spec.ts
  packages/stark-core/src/modules/user/services/user.service.spec.ts
  packages/stark-core/src/modules/user/testing/user.mock.ts
  packages/stark-core/src/modules/xsrf/services/xsrf.service.spec.ts
  packages/stark-core/src/modules/xsrf/testing/xsrf.mock.ts
  packages/stark-ui/src/modules/app-menu/components/app-menu-item.component.spec.ts
  packages/stark-ui/src/modules/app-sidebar/components/app-sidebar.component.spec.ts
  packages/stark-ui/src/modules/app-sidebar/testing/app-sidebar.mock.ts
  packages/stark-ui/src/modules/dropdown/components/dropdown.component.spec.ts
  packages/stark-ui/src/modules/generic-search/classes/abstract-search-component.spec.ts
  packages/stark-ui/src/modules/language-selector/components/language-selector.component.spec.ts
  packages/stark-ui/src/modules/message-pane/components/message-pane.component.spec.ts
  packages/stark-ui/src/modules/message-pane/effects/message-pane.effects.spec.ts
  packages/stark-ui/src/modules/message-pane/reducers/messages-pane.reducer.spec.ts
  packages/stark-ui/src/modules/message-pane/services/message-pane.service.spec.ts
  packages/stark-ui/src/modules/message-pane/testing/message-pane.mock.ts
  packages/stark-ui/src/modules/minimap/components/minimap.component.spec.ts
  packages/stark-ui/src/modules/progress-indicator/services/progress-indicator.service.spec.ts
  packages/stark-ui/src/modules/progress-indicator/testing/progress-indicator.mock.ts
  packages/stark-ui/src/modules/route-search/components/route-search.component.spec.ts
  packages/stark-ui/src/modules/session-ui/components/session-timeout-warning-dialog.component.spec.ts
  packages/stark-ui/src/modules/session-ui/effects/session-timeout-warning.effect.spec.ts
  packages/stark-ui/src/modules/session-ui/pages/login/login-page.component.spec.ts
  packages/stark-ui/src/modules/session-ui/pages/preloading/preloading-page.component.spec.ts
  packages/stark-ui/src/modules/toast-notification/testing/toast-notification.mock.ts
Labels: comp: qa, comp: testing, type: enhancement

#1126 fix(stark-all): replace stark logo
  README.md
  packages/stark-core/assets/css/pre-load-style.css
  packages/stark-core/assets/logo/dark/stark_logo_dark.png
  packages/stark-core/assets/logo/dark/stark_logo_dark.svg
  packages/stark-core/assets/logo/dark/stark_logo_dark_small.png
  packages/stark-core/assets/logo/light/stark_logo_light.png
  packages/stark-core/assets/logo/light/stark_logo_light.svg
  packages/stark-core/assets/logo/light/stark_logo_light_small.png
  packages/stark-core/assets/logo/stark_logo.pdf
  packages/stark-core/assets/logo/stark_logo_black.png
  packages/stark-core/assets/logo/stark_logo_black.svg
  packages/stark-core/assets/logo/stark_logo_transparent.svg
  packages/stark-ui/src/modules/app-logo/components/app-logo.component.scss
  packages/stark-ui/src/modules/session-ui/pages/_session-ui-pages.scss
  showcase/src/app/_app.component.scss
  showcase/src/app/welcome/pages/home/_home-page.component.scss
  showcase/src/app/welcome/pages/news/_news-page.component.scss
Labels: comp: stark-core, type: enhancement

#1127 fix(stark-starter): remove faulty import from angular.json
  starter/angular.json
Labels: comp: stark-starter, type: bug

#1132 fix(stark-core): use custom encoder for URL query parameters
  packages/stark-core/src/modules/http/entities/http-parameter-codec.ts
  packages/stark-core/src/modules/http/services/http.service.spec.ts
  packages/stark-core/src/modules/http/services/http.service.ts
  packages/stark-core/src/util.ts
  packages/stark-core/src/util/http.util.spec.ts
  packages/stark-core/src/util/http.util.ts
  packages/stark-core/src/util/util-helpers.ts
Labels: comp: stark-core, type: enhancement

#1109 feat(stark-ui): implement directive to transform input value before passing it to a ngControl
  packages/stark-ui/src/modules.ts
  packages/stark-ui/src/modules/transform-input-directive.ts
  packages/stark-ui/src/modules/transform-input-directive/directives.ts
  packages/stark-ui/src/modules/transform-input-directive/directives/transform-input.directive.spec.ts
  packages/stark-ui/src/modules/transform-input-directive/directives/transform-input.directive.ts
  packages/stark-ui/src/modules/transform-input-directive/transform-input-directive.module.ts
  showcase/src/app/app-menu.config.ts
  showcase/src/app/demo-ui/demo-ui.module.ts
  showcase/src/app/demo-ui/pages/index.ts
  showcase/src/app/demo-ui/pages/keyboard-directives/demo-keyboard-directives-page.component.html
  showcase/src/app/demo-ui/pages/keyboard-directives/demo-keyboard-directives-page.component.scss
  showcase/src/app/demo-ui/pages/transform-input-directive/demo-transform-input-directive-page.component.html
  showcase/src/app/demo-ui/pages/transform-input-directive/demo-transform-input-directive-page.component.ts
  showcase/src/app/demo-ui/pages/transform-input-directive/index.ts
  showcase/src/app/demo-ui/routes.ts
  showcase/src/assets/examples/transform-input-directive/transform-input-directive.html
  showcase/src/assets/examples/transform-input-directive/transform-input-directive.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
Labels: comp: stark-ui, type: feature

#1131 feat(stark-ui): implement text-mask directive
  build-functions.sh
  build.sh
  docs/stark-ui/GETTING_STARTED.md
  package-lock.json
  packages/rollup.config.common-data.js
  packages/stark-build/package-lock.json
  packages/stark-core/package-lock.json
  packages/stark-ui/package-lock.json
  packages/stark-ui/package.json
  packages/stark-ui/src/modules.ts
  packages/stark-ui/src/modules/input-mask-directives.ts
  packages/stark-ui/src/modules/input-mask-directives/directives.ts
  packages/stark-ui/src/modules/input-mask-directives/directives/text-mask-config.intf.ts
  packages/stark-ui/src/modules/input-mask-directives/directives/text-mask.constants.ts
  packages/stark-ui/src/modules/input-mask-directives/directives/text-mask.directive.spec.ts
  packages/stark-ui/src/modules/input-mask-directives/directives/text-mask.directive.ts
  packages/stark-ui/src/modules/input-mask-directives/input-mask-directives.module.ts
  packages/stark-ui/testing/tsconfig-build.json
  packages/stark-ui/tsconfig-build.json
  packages/stark-ui/typings/index.d.ts
  packages/stark-ui/typings/text-mask-addons/index.d.ts
  packages/stark-ui/typings/text-mask-core/index.d.ts
  showcase/package-lock.json
  showcase/src/app/app-menu.config.ts
  showcase/src/app/demo-ui/demo-ui.module.ts
  showcase/src/app/demo-ui/pages/index.ts
  showcase/src/app/demo-ui/pages/input-mask-directives/demo-input-mask-directives-page.component.html
  showcase/src/app/demo-ui/pages/input-mask-directives/demo-input-mask-directives-page.component.scss
  showcase/src/app/demo-ui/pages/input-mask-directives/demo-input-mask-directives-page.component.ts
  showcase/src/app/demo-ui/pages/input-mask-directives/index.ts
  showcase/src/app/demo-ui/routes.ts
  showcase/src/assets/examples/input-mask-directives/text-mask-directive.html
  showcase/src/assets/examples/input-mask-directives/text-mask-directive.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
  showcase/tsconfig.json
  starter/package-lock.json
  starter/tsconfig.json
Labels: comp: stark-ui, type: feature

#1135 fix(stark-demo): minor fixes in script that replaces baseHref and deployURL in Showcase when deploying to GhPages
  showcase/ghpages-adapt-bundle-urls.js
Labels: comp: stark-showcase, type: enhancement

#1128 style(showcase): improvement of showcase homepage and news page
  showcase/src/app/welcome/components/news-item/_news-item-theme.scss
  showcase/src/app/welcome/components/news-item/_news-item.component.scss
  showcase/src/app/welcome/components/news-item/news-item.component.html
  showcase/src/app/welcome/pages/home/_home-page-theme.scss
  showcase/src/app/welcome/pages/home/_home-page.component.scss
  showcase/src/app/welcome/pages/home/home-page.component.html
  showcase/src/app/welcome/pages/news/_news-page.component.scss
  showcase/src/app/welcome/pages/news/news-page.component.html
  showcase/src/app/welcome/pages/news/news-page.component.ts
  showcase/src/assets/images/news/10.0.0-beta1.PNG
  showcase/src/assets/images/news/10.0.0-beta2.PNG
  showcase/src/assets/images/news/10.0.0-beta3.PNG
  showcase/src/assets/images/news/showcase-screenshot.png
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
  showcase/src/styles/_theme.scss
  showcase/src/styles/styles.scss
Labels: comp: qa, comp: stark-showcase

#1139 fix(stark-demo): remove transform from `table-of-contents` component
  showcase/src/app/shared/components/table-of-contents/table-of-contents.component.scss
Labels: comp: qa, comp: stark-showcase, type: enhancement

#1140 fix(release): remove all files from 'latest' folders before copying the new ones
  gh-deploy.sh
Labels: comp: stark-showcase, type: enhancement

#1142 feat(stark-ui): add show/hide columns functionality to tables
  packages/stark-ui/assets/styles/_base.scss
  packages/stark-ui/assets/styles/_material-fixes.scss
  packages/stark-ui/assets/theming/_material-palettes.scss
  packages/stark-ui/src/modules/minimap/components.ts
  packages/stark-ui/src/modules/minimap/components/_minimap-theme.scss
  packages/stark-ui/src/modules/minimap/components/_minimap.component.scss
  packages/stark-ui/src/modules/minimap/components/item-visibility.intf.ts
  packages/stark-ui/src/modules/minimap/components/minimap.component.html
  packages/stark-ui/src/modules/minimap/components/minimap.component.spec.ts
  packages/stark-ui/src/modules/minimap/components/minimap.component.ts
  packages/stark-ui/src/modules/minimap/minimap.module.ts
  packages/stark-ui/src/modules/table/assets/translations/en.ts
  packages/stark-ui/src/modules/table/assets/translations/fr.ts
  packages/stark-ui/src/modules/table/assets/translations/nl.ts
  packages/stark-ui/src/modules/table/components/_table.component.scss
  packages/stark-ui/src/modules/table/components/column.component.html
  packages/stark-ui/src/modules/table/components/column.component.ts
  packages/stark-ui/src/modules/table/components/table.component.html
  packages/stark-ui/src/modules/table/components/table.component.spec.ts
  packages/stark-ui/src/modules/table/components/table.component.ts
  packages/stark-ui/src/modules/table/entities/column-properties.intf.ts
  packages/stark-ui/src/modules/table/table.module.ts
  showcase/src/app/demo-ui/components/table-regular/table-regular.component.ts
  showcase/src/app/demo-ui/pages/minimap/demo-minimap-page.component.html
  showcase/src/app/demo-ui/pages/minimap/demo-minimap-page.component.ts
  showcase/src/assets/examples/minimap/compact.html
  showcase/src/assets/examples/minimap/compact.ts
  showcase/src/assets/examples/minimap/full.html
  showcase/src/assets/examples/minimap/full.ts
  showcase/src/assets/examples/table/regular/table.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
Labels: comp: stark-ui, type: feature

#1155 chore(stark-all): fix new linting violations after TSLint upgrade to 5.13.0
  packages/stark-core/src/modules/user/repository/user.repository.ts
  packages/stark-core/src/validation/validator.ts
  packages/stark-ui/src/modules/app-sidebar/services/app-sidebar.service.ts
  packages/stark-ui/src/modules/progress-indicator/directives/progress-indicator.directive.ts
  packages/stark-ui/src/modules/progress-indicator/services/progress-indicator.service.ts
  packages/stark-ui/src/modules/table/components/column.component.ts
  packages/stark-ui/src/modules/toast-notification/services/toast-notification.service.ts
Labels: comp: qa, comp: stark-all, type: enhancement

#1148 feat(stark-build): implement integration with Angular CLI via @angular-builders
  .travis.yml
  docs/WEBPACK.md
  docs/stark-build/NG_CLI_BUILD_CUSTOMIZATIONS.md
  docs/stark-core/GETTING_STARTED.md
  docs/stark-ui/GETTING_STARTED.md
  package.json
  packages/stark-build/README.md
  packages/stark-build/config/build-utils.js
  packages/stark-build/config/helpers.js
  packages/stark-build/config/ng-cli-utils.js
  packages/stark-build/config/spec-bundle.js
  packages/stark-build/config/webpack-partial.common.js
  packages/stark-build/config/webpack-partial.dev.js
  packages/stark-build/config/webpack-partial.prod.js
  packages/stark-build/config/webpack.common-data.js
  packages/stark-build/config/webpack.common.js
  packages/stark-build/config/webpack.dev.js
  packages/stark-build/config/webpack.prod.js
  packages/stark-build/package-lock.json
  packages/stark-build/package.json
  packages/stark-core/README.md
  packages/stark-ui/src/modules/table/components/_table.component.scss
  showcase/angular.json
  showcase/package-lock.json
  showcase/package.json
  showcase/src/index.html
  showcase/tsconfig.spec.json
  starter/angular.json
  starter/package-lock.json
  starter/package.json
Labels: breaking change, comp: stark-build, comp: stark-showcase, comp: stark-starter, type: feature

#1158 refactor(stark-demo): explicitly enable HTML5 Push State in the config of the UIRouterModule
  showcase/src/app/app.module.ts
  starter/src/app/app.module.ts
Labels: comp: stark-showcase, comp: stark-starter, type: enhancement

#1160 refactor(stark-starter): ignore package-lock.json to improve maintainability and testing
  .gitignore
  package.json
  starter/package-lock.json
Labels: comp: build-main, comp: stark-starter, type: enhancement, type: refactor

#1161 fix(stark-ui): add methods to create/reset the search form in the Generic Search. Fix the Generic Search demo page in Showcase.
  docs/stark-ui/GENERIC_SEARCH.md
  docs/stark-ui/TIMEOUT_WARNING.md
  packages/stark-ui/README.md
  packages/stark-ui/src/modules/generic-search/classes/abstract-form-component.ts
  packages/stark-ui/src/modules/generic-search/classes/abstract-search-component.ts
  packages/stark-ui/src/modules/generic-search/classes/search-form-component.intf.ts
  packages/stark-ui/src/modules/generic-search/components/generic-search/generic-search.component.ts
  packages/stark-ui/src/modules/generic-search/generic-search.module.ts
  showcase/src/app/app.module.ts
  showcase/src/app/demo-ui/pages/generic-search/components/demo-generic-search-form.component.ts
Labels: breaking change, comp: stark-showcase, comp: stark-ui, type: enhancement
