Repository NationalBankBelgium/stark, pull requests merged in 2019-09, with the labels that each got.

#1388 feat(stark-demo): add anchors to examples
  packages/stark-core/src/modules/routing/services/routing.service.spec.ts
  packages/stark-core/src/modules/routing/services/routing.service.ts
  packages/stark-core/src/modules/session/routes.ts
  showcase/src/app/app.component.ts
  showcase/src/app/demo-rbac/pages/authorization-directives/demo-authorization-directives-page.component.html
  showcase/src/app/demo-rbac/pages/authorization-service/demo-authorization-service-page.component.html
  showcase/src/app/demo-ui/pages/action-bar/demo-action-bar-page.component.html
  showcase/src/app/demo-ui/pages/app-data/demo-app-data-page.component.html
  showcase/src/app/demo-ui/pages/breadcrumb/demo-breadcrumb-page.component.html
  showcase/src/app/demo-ui/pages/collapsible/demo-collapsible-page.component.html
  showcase/src/app/demo-ui/pages/date-picker/demo-date-picker-page.component.html
  showcase/src/app/demo-ui/pages/date-range-picker/demo-date-range-picker-page.component.html
  showcase/src/app/demo-ui/pages/date-time-picker/demo-date-time-picker-page.html
  showcase/src/app/demo-ui/pages/dialogs/dialogs-page.component.html
  showcase/src/app/demo-ui/pages/dropdown/demo-dropdown-page.component.html
  showcase/src/app/demo-ui/pages/generic-search/demo-generic-search-page.component.html
  showcase/src/app/demo-ui/pages/input-mask-directives/demo-input-mask-directives-page.component.html
  showcase/src/app/demo-ui/pages/language-selector/demo-language-selector-page.component.html
  showcase/src/app/demo-ui/pages/logout/demo-logout-page.component.html
  showcase/src/app/demo-ui/pages/menu/demo-menu-page.component.html
  showcase/src/app/demo-ui/pages/message-pane/demo-message-pane-page.component.html
  showcase/src/app/demo-ui/pages/minimap/demo-minimap-page.component.html
  showcase/src/app/demo-ui/pages/pagination/demo-pagination-page.component.html
  showcase/src/app/demo-ui/pages/pretty-print/demo-pretty-print-page.component.html
  showcase/src/app/demo-ui/pages/progress-indicator/demo-progress-indicator-page.component.html
  showcase/src/app/demo-ui/pages/restrict-input-directive/demo-restrict-input-directive-page.component.html
  showcase/src/app/demo-ui/pages/route-search/demo-route-search-page.component.html
  showcase/src/app/demo-ui/pages/sidebar/demo-sidebar-page.component.html
  showcase/src/app/demo-ui/pages/slider/demo-slider-page.component.html
  showcase/src/app/demo-ui/pages/table/demo-table-page.component.html
  showcase/src/app/demo-ui/pages/toast/demo-toast-notification-page.component.html
  showcase/src/app/demo-ui/pages/transform-input-directive/demo-transform-input-directive-page.component.html
  showcase/src/app/shared/components/example-viewer/example-viewer.component.html
  showcase/src/app/shared/components/example-viewer/example-viewer.component.spec.ts
  showcase/src/app/shared/components/example-viewer/example-viewer.component.ts
  showcase/src/app/shared/shared.module.ts
  showcase/src/app/styleguide/pages/button/styleguide-button-page.component.html
  showcase/src/app/styleguide/pages/layout/styleguide-layout-page.component.html
  showcase/src/app/styleguide/pages/typography/styleguide-typography-page.component.html
Labels: comp: stark-showcase, type: feature

#1391 feat(stark-ui): put the column filter of the table above the title
  packages/stark-ui/src/modules/table/components/column.component.html
  packages/stark-ui/src/modules/table/components/column.component.ts
  packages/stark-ui/src/modules/table/components/table.component.html
  packages/stark-ui/src/modules/table/components/table.component.spec.ts
  packages/stark-ui/src/modules/table/components/table.component.ts
  packages/stark-ui/src/modules/table/entities/table-column-filter.intf.ts
  packages/stark-ui/src/modules/table/entities/table-filter.intf.ts
  showcase/src/app/demo-ui/components/table-regular/table-regular.component.ts
Labels: comp: stark-ui, type: enhancement

#1399 fix(stark-ui): change the Multisort component to display the label in…
  packages/stark-ui/src/modules/table/components/dialogs/multisort.component.html
Labels: comp: stark-ui

#1408 Greenkeeper/stark apps/lint staged 9.4.0
  showcase/package-lock.json
  showcase/package.json
  starter/package.json
Labels: greenkeeper

#1410 test(stark-all): fix wrong types in unit tests after automatic upgrade of @types/jasmine to v3.4.X
  packages/stark-core/src/modules/routing/services/routing.service.spec.ts
  packages/stark-core/src/modules/session/services/session.service.spec.ts
  packages/stark-core/src/modules/xsrf/services/xsrf.service.spec.ts
  packages/stark-rbac/src/modules/authorization/services/authorization.service.spec.ts
  packages/stark-testing/package-lock.json
  packages/stark-testing/package.json
  packages/stark-ui/src/modules/app-logout/components/app-logout.component.spec.ts
  packages/stark-ui/src/modules/date-picker/components/date-picker.component.spec.ts
  packages/stark-ui/src/modules/minimap/components/minimap.component.spec.ts
  packages/stark-ui/src/modules/progress-indicator/directives/progress-indicator.directive.spec.ts
  showcase/package-lock.json
Labels: comp: qa, comp: stark-testing, comp: testing, type: enhancement

#1404 fix(docs): update BrowserStack badge to display correctly from `README.md`
  README.md
Labels: comp: docs, comp: qa
