Repository NationalBankBelgium/stark, pull requests merged in 2019-08, with the labels that each got.

#1376 Fix/custom table actions
  packages/stark-ui/src/modules/table/components/table.component.spec.ts
  packages/stark-ui/src/modules/table/components/table.component.ts
  packages/stark-ui/src/modules/table/table.module.ts
Labels: comp: stark-ui

#1377 feat(stark-ui): table - add support for angular CDK selection model
  packages/stark-ui/src/modules/table/components/table.component.html
  packages/stark-ui/src/modules/table/components/table.component.spec.ts
  packages/stark-ui/src/modules/table/components/table.component.ts
  showcase/src/app/demo-ui/components/table-with-selection/table-with-selection.component.html
  showcase/src/app/demo-ui/components/table-with-selection/table-with-selection.ts
  showcase/src/assets/examples/table/with-selection/table.html
  showcase/src/assets/examples/table/with-selection/table.ts
Labels: comp: stark-ui, type: feature

#1379 chore(stark-all): upgrade dependencies with critical security vulnerabilities
  package-lock.json
  packages/stark-build/package-lock.json
  packages/stark-core/package-lock.json
  packages/stark-rbac/package-lock.json
  packages/stark-testing/package-lock.json
  packages/stark-ui/package-lock.json
  showcase/package-lock.json
  showcase/package.json
Labels: comp: stark-all, security

#1380 Greenkeeper/stark apps/core js 3.2.1
  showcase/package-lock.json
  showcase/package.json
  starter/package.json
Labels: greenkeeper

#1385 Greenkeeper/stark packages/lint staged 9.2.1
  package-lock.json
  package.json
Labels: greenkeeper

#1386 Greenkeeper/stark apps/lint staged 9.2.1
  showcase/package-lock.json
  showcase/package.json
  starter/package.json
Labels: greenkeeper

#1381 fix(stark-ui): fix side navigation rendering behind header
  packages/stark-ui/assets/styles/_base.scss
  showcase/src/app/app.component.html
  starter/src/app/app.component.html
Labels: comp: stark-showcase, comp: stark-starter, comp: stark-ui

#1382 fix(stark-ui): reset line-height of <input/> to avoid letters to be cut off at the bottom
  packages/stark-ui/assets/styles/_material-fixes.scss
Labels: comp: stark-ui

#1383 fix(stark-ui): ui: app-data - in 'dropdown' mode the 'detail' pane overlaps the 'summary'
  packages/stark-ui/src/modules/app-data/components/_app-data.component.scss
Labels: comp: stark-ui
