Repository NationalBankBelgium/stark, pull requests merged in 2019-01, with the labels that each got.

#980 feat(stark-ui): make dropdown component working with reactive form + add stark form util
  packages/stark-ui/src/common/translations/translations/en.ts
  packages/stark-ui/src/common/translations/translations/fr.ts
  packages/stark-ui/src/common/translations/translations/nl.ts
  packages/stark-ui/src/modules/dropdown/components/dropdown.component.html
  packages/stark-ui/src/modules/dropdown/components/dropdown.component.spec.ts
  packages/stark-ui/src/modules/dropdown/components/dropdown.component.ts
  packages/stark-ui/src/modules/dropdown/dropdown.module.ts
  packages/stark-ui/src/modules/language-selector/components/language-selector.component.html
  packages/stark-ui/src/modules/pagination/components/pagination.component.html
  packages/stark-ui/src/modules/pagination/components/pagination.component.spec.ts
  packages/stark-ui/src/modules/pagination/components/pagination.component.ts
  packages/stark-ui/src/util.ts
  packages/stark-ui/src/util/form.ts
  packages/stark-ui/src/util/form/form.util.spec.ts
  packages/stark-ui/src/util/form/form.util.ts
  showcase/src/app/demo-ui/pages/dropdown/demo-dropdown-page.component.html
  showcase/src/app/demo-ui/pages/dropdown/demo-dropdown-page.component.ts
  showcase/src/assets/examples/dropdown/multiple-required-selection.html
  showcase/src/assets/examples/dropdown/multiple-selection.html
  showcase/src/assets/examples/dropdown/reactive-form-dropdown.html
  showcase/src/assets/examples/dropdown/reactive-form-dropdown.ts
  showcase/src/assets/examples/dropdown/single-blank-selection.html
  showcase/src/assets/examples/dropdown/single-required-selection.html
  showcase/src/assets/examples/dropdown/white.html
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
Labels: comp: stark-ui, type: feature

#1001 docs(docs): update CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
  docs/E2E_TESTING.md
Labels: comp: docs

#1006 fix small bugs in stark-ui:table, stark-core:session and in stark-build
  package-lock.json
  package.json
  packages/stark-build/config/webpack.common.js
  packages/stark-core/src/modules/routing/services/routing.service.ts
  packages/stark-core/src/modules/session.ts
  packages/stark-core/src/modules/session/components/app-container.component.ts
  packages/stark-core/src/modules/session/constants.ts
  packages/stark-core/src/modules/session/routes.ts
  packages/stark-core/src/modules/session/services/session.service.spec.ts
  packages/stark-core/src/modules/session/services/session.service.ts
  packages/stark-core/src/modules/session/session.module.ts
  packages/stark-ui/package.json
  packages/stark-ui/src/modules/table/components/table.component.spec.ts
  packages/stark-ui/src/modules/table/components/table.component.ts
Labels: comp: stark-build, comp: stark-core, comp: stark-ui, type: bug

#1009 Greenkeeper/release it 9.6.3
  package-lock.json
  package.json
Labels: greenkeeper

#1017 Greenkeeper/rollup 1.1.0
  package-lock.json
  package.json
  packages/stark-build/package-lock.json
  packages/stark-core/package-lock.json
  packages/stark-testing/package-lock.json
  packages/stark-ui/package-lock.json
  showcase/package-lock.json
  starter/package-lock.json
Labels: greenkeeper

#1021 Greenkeeper/default/@angular/cli 7.2.1
  package-lock.json
  package.json
  packages/stark-build/package-lock.json
  packages/stark-build/package.json
  showcase/package-lock.json
  showcase/package.json
  starter/package-lock.json
  starter/package.json
Labels: greenkeeper

#1022 Greenkeeper/default/@angular devkit/build angular 0.12.1
  packages/stark-build/package-lock.json
  packages/stark-build/package.json
Labels: greenkeeper

#1023 Greenkeeper/default/@angular devkit/build optimizer 0.12.1
  package-lock.json
  packages/stark-build/package-lock.json
  packages/stark-build/package.json
  packages/stark-core/package-lock.json
  packages/stark-testing/package-lock.json
  packages/stark-ui/package-lock.json
  showcase/package-lock.json
  starter/package-lock.json
Labels: greenkeeper

#1007 fix(stark-ui): close sidebar after navigation. Keep sidebar scroll position
  packages/stark-ui/src/modules/app-sidebar/components/app-sidebar.component.html
  packages/stark-ui/src/modules/app-sidebar/components/app-sidebar.component.spec.ts
  packages/stark-ui/src/modules/app-sidebar/components/app-sidebar.component.ts
Labels: comp: stark-ui, type: enhancement

#1028 Greenkeeper/default/css loader 2.1.0
  package-lock.json
  packages/stark-build/config/webpack.common.js
  packages/stark-build/config/webpack.dev.js
  packages/stark-build/config/webpack.prod.js
  packages/stark-build/package-lock.json
  packages/stark-build/package.json
  packages/stark-core/package-lock.json
  packages/stark-testing/package-lock.json
  packages/stark-ui/package-lock.json
  showcase/package-lock.json
  starter/package-lock.json
Labels: greenkeeper

#996 fix(stark-all): cross browser compatibility
  docs/POLYFILLS.md
  packages/stark-ui/assets/styles/_material-fixes.scss
  packages/stark-ui/assets/styles/_variables.scss
  packages/stark-ui/assets/themes/_button-theme.scss
  packages/stark-ui/assets/themes/_theming.scss
  packages/stark-ui/src/modules/minimap/components/_minimap.component.scss
  packages/stark-ui/src/modules/pagination/components/pagination.component.html
  packages/stark-ui/src/modules/pagination/components/pagination.component.spec.ts
  packages/stark-ui/src/modules/table/components/_table.component.scss
  showcase/src/app/demo-ui/pages/message-pane/demo-message-pane-page.component.scss
  showcase/src/app/demo-ui/pages/pretty-print/demo-pretty-print-page.component.html
  showcase/src/app/styleguide/pages/typography/styleguide-typography-page.component.ts
  showcase/src/polyfills.browser.ts
  starter/src/polyfills.browser.ts
Labels: comp: stark-all, type: enhancement

#1032 ci(release): fix versions of stark packages in Starter. Add checks to verify that versions of stark packages in Starter are valid before releasing.
  .release-it.json
  check-stark-versions.js
  package.json
  starter/package.json
Labels: comp: stark-starter, type: enhancement

#1033 Greenkeeper/@commitlint/config conventional 7.3.1
  package-lock.json
  package.json
Labels: greenkeeper

#1038 Greenkeeper/release it 9.8.1
  package-lock.json
  package.json
Labels: greenkeeper

#1039 fix(stark-ui): fix icons not displaying correctly
  packages/stark-ui/assets/styles/_material-fixes.scss
  packages/stark-ui/assets/themes/_button-theme.scss
  showcase/src/app/app.module.ts
  showcase/src/app/shared/shared.module.ts
Labels: comp: stark-showcase, comp: stark-ui, type: enhancement

#1047 fix(build-main): adapt regex pattern to include 'resolved' in package-lock.json replacement
  build-functions.sh
Labels: comp: build-main, comp: stark-starter, type: bug

#1063 fix(docs): fix typo in README
  README.md
Labels: comp: docs, type: enhancement

#1078 build(build-main): fix build on macOS
  build.sh
Labels: comp: stark-build, type: enhancement

#1072 feat(stark-build): adapt build utils and webpack config to read global styles from angular.json to align with Angular CLI
  packages/stark-build/config/build-utils.js
  packages/stark-build/config/ng-cli-utils.js
  packages/stark-build/config/webpack.common.js
  packages/stark-build/config/webpack.dev.js
  packages/stark-build/config/webpack.prod.js
  showcase/angular.json
  showcase/src/app/app.module.ts
  starter/angular.json
  starter/src/app/app.module.ts
Labels: comp: stark-build, type: feature

#1042 fix(stark-demo): fix 404 error when loading `pre-load-style.css`
  showcase/angular.json
  showcase/config/index-head-config.js
  showcase/src/index.html
  starter/angular.json
  starter/config/index-head-config.js
  starter/src/index.html
Labels: comp: stark-showcase, type: enhancement

#1082 feat(stark-ui): implement Route Search component
  packages/rollup.config.common-data.js
  packages/stark-core/src/modules/routing/services/routing.service.ts
  packages/stark-ui/assets/stark-ui-bundle.scss
  packages/stark-ui/src/modules.ts
  packages/stark-ui/src/modules/route-search.ts
  packages/stark-ui/src/modules/route-search/assets/translations/en.ts
  packages/stark-ui/src/modules/route-search/assets/translations/fr.ts
  packages/stark-ui/src/modules/route-search/assets/translations/nl.ts
  packages/stark-ui/src/modules/route-search/components.ts
  packages/stark-ui/src/modules/route-search/components/_route-search-theme.scss
  packages/stark-ui/src/modules/route-search/components/_route-search.component.scss
  packages/stark-ui/src/modules/route-search/components/route-search-entry.intf.ts
  packages/stark-ui/src/modules/route-search/components/route-search.component.html
  packages/stark-ui/src/modules/route-search/components/route-search.component.spec.ts
  packages/stark-ui/src/modules/route-search/components/route-search.component.ts
  packages/stark-ui/src/modules/route-search/route-search.module.ts
  showcase/src/app/_app.component.scss
  showcase/src/app/app-menu.config.ts
  showcase/src/app/app.component.html
  showcase/src/app/app.component.spec.ts
  showcase/src/app/app.component.ts
  showcase/src/app/app.module.ts
  showcase/src/app/demo-ui/demo-ui.module.ts
  showcase/src/app/demo-ui/pages/index.ts
  showcase/src/app/demo-ui/pages/route-search/demo-route-search-page.component-theme.scss
  showcase/src/app/demo-ui/pages/route-search/demo-route-search-page.component.html
  showcase/src/app/demo-ui/pages/route-search/demo-route-search-page.component.ts
  showcase/src/app/demo-ui/pages/route-search/index.ts
  showcase/src/app/demo-ui/routes.ts
  showcase/src/app/styleguide/pages/button/styleguide-button-page.component.html
  showcase/src/app/styleguide/pages/card/styleguide-card-page.component.html
  showcase/src/app/styleguide/pages/colors/styleguide-colors-page.component.html
  showcase/src/app/styleguide/pages/header/styleguide-header-page.component.html
  showcase/src/app/styleguide/pages/typography/styleguide-typography-page.component.html
  showcase/src/app/styleguide/routes.ts
  showcase/src/app/welcome/routes.ts
  showcase/src/assets/examples/route-search/route-search-direction-left.html
  showcase/src/assets/examples/route-search/route-search-direction-left.ts
  showcase/src/assets/examples/route-search/route-search-direction-right.html
  showcase/src/assets/examples/route-search/route-search-direction-right.ts
  showcase/src/assets/examples/route-search/route-search-with-custom-color-and-menu-config.html
  showcase/src/assets/examples/route-search/route-search-with-custom-color-and-menu-config.scss
  showcase/src/assets/examples/route-search/route-search-with-custom-color-and-menu-config.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
  showcase/src/styles/_theme.scss
Labels: comp: stark-ui, type: feature

#1093 fix(stark-core): adapt code to fix typings issue with Rxjs 6.4.0
  packages/stark-core/src/modules/session/services/session.service.spec.ts
Labels: comp: stark-core, type: enhancement

#1100 ci(build): re-generate corrupted package-lock.json files of Starter and Showcase
  showcase/package-lock.json
  showcase/package.json
  starter/package-lock.json
Labels: comp: stark-all, type: enhancement

#1101 chore(build): loosen rxjs version to accept minor version upgrades in root, Starter and Showcase
  package-lock.json
  package.json
  showcase/package-lock.json
  showcase/package.json
  starter/package-lock.json
  starter/package.json
Labels: comp: stark-all, type: enhancement
