Repository NationalBankBelgium/stark, pull requests merged in 2019-04, with the labels that each got.

#1225 Fix/small css fixes
  packages/stark-ui/src/modules/route-search/components/_route-search-theme.scss
  packages/stark-ui/src/modules/route-search/components/_route-search.component.scss
  packages/stark-ui/src/modules/route-search/components/route-search.component.html
  packages/stark-ui/src/modules/route-search/components/route-search.component.ts
  showcase/src/app/shared/components/reference-block/_reference-block.component.scss
Labels: comp: stark-ui, type: bug

#1147 refactor(stark-all): replace 'lodash' by tree-shakeable 'lodash-es'. Add '@types/lodash-es' to get correct typings.
  package-lock.json
  packages/rollup.config.common-data.js
  packages/stark-build/config/tslint.json
  packages/stark-build/package-lock.json
  packages/stark-core/base.spec.ts
  packages/stark-core/karma.conf.ci.js
  packages/stark-core/karma.conf.js
  packages/stark-core/package-lock.json
  packages/stark-core/package.json
  packages/stark-core/src/common/translations/merge-translations.ts
  packages/stark-core/src/modules/http/services/http.service.ts
  packages/stark-core/src/modules/logging/services/logging.service.ts
  packages/stark-core/src/modules/routing/services/routing.service.ts
  packages/stark-core/src/util/http.util.ts
  packages/stark-core/src/validation/validators/is-bban/is-bban.validator.fn.ts
  packages/stark-core/src/validation/validators/is-establishment-unit-number/is-establishment-unit-number.validator.fn.ts
  packages/stark-core/src/validation/validators/is-isin/is-isin.validator.fn.ts
  packages/stark-core/src/validation/validators/is-nin/is-nin.validator.fn.ts
  packages/stark-core/testing/tsconfig-build.json
  packages/stark-core/tsconfig-build.json
  packages/stark-testing/karma.conf.ci.js
  packages/stark-testing/karma.conf.js
  packages/stark-testing/package-lock.json
  packages/stark-testing/package.json
  packages/stark-ui/base.spec.ts
  packages/stark-ui/karma.conf.ci.js
  packages/stark-ui/karma.conf.js
  packages/stark-ui/package-lock.json
  packages/stark-ui/package.json
  packages/stark-ui/src/common/message/message.entity.ts
  packages/stark-ui/src/common/translations/merge-translations.ts
  packages/stark-ui/src/modules/date-picker/components/date-picker.component.ts
  packages/stark-ui/src/modules/dropdown/components/dropdown.component.ts
  packages/stark-ui/src/modules/generic-search/classes/abstract-form-component.ts
  packages/stark-ui/src/modules/generic-search/components/generic-search/generic-search.component.ts
  packages/stark-ui/src/modules/message-pane/reducers/messages-pane.reducer.ts
  packages/stark-ui/src/modules/pagination/components/pagination.component.ts
  packages/stark-ui/src/modules/progress-indicator/reducers/progress-indicator.reducer.ts
  packages/stark-ui/src/modules/route-search/components/route-search.component.ts
  packages/stark-ui/src/modules/slider/components/slider.component.ts
  packages/stark-ui/src/modules/table/components/column.component.ts
  packages/stark-ui/src/util/form/form.util.spec.ts
  packages/stark-ui/testing/tsconfig-build.json
  packages/stark-ui/tsconfig-build.json
  packages/stark-ui/tsconfig.spec.json
  showcase/base.spec.ts
  showcase/package-lock.json
  showcase/package.json
  showcase/src/app/app.component.ts
  showcase/src/app/demo-ui/pages/generic-search/components/demo-generic-search-form.component.ts
  showcase/src/app/demo-ui/pages/message-pane/demo-message-pane-page.component.ts
  showcase/src/app/in-memory-data/interceptors/in-memory-data.interceptor.ts
  showcase/src/app/in-memory-data/services/in-memory-data.service.ts
  showcase/src/app/shared/effects/stark-error-handling.effects.ts
  showcase/src/assets/examples/message-pane/message-pane.ts
  starter/base.spec.ts
Labels: comp: stark-all, type: enhancement

#1226 fix(stark-demo): change default behaviour of collapsible icon
  packages/stark-ui/src/modules/collapsible/components/_collapsible.component.scss
  packages/stark-ui/src/modules/collapsible/components/collapsible.component.html
  packages/stark-ui/src/modules/collapsible/components/collapsible.component.spec.ts
  packages/stark-ui/src/modules/collapsible/components/collapsible.component.ts
  showcase/src/app/demo-ui/pages/collapsible/demo-collapsible-page.component.html
  showcase/src/app/demo-ui/pages/collapsible/demo-collapsible-page.component.ts
  showcase/src/assets/examples/collapsible/collapsible-custom.html
  showcase/src/assets/examples/collapsible/collapsible-custom.ts
  showcase/src/assets/examples/collapsible/collapsible-default.ts
Labels: breaking change, comp: stark-ui

#1230 Bugfix/fix dropdown demo issue + Add missing commit message for CHANGELOG
  packages/stark-ui/src/modules/collapsible/components/collapsible.component.html
  showcase/src/app/demo-ui/pages/dropdown/demo-dropdown-page.component.ts
Labels: comp: stark-showcase, comp: stark-ui, type: bug

#1235 fix(release): enhance check for stark versions in Starter to skip those packages that are not listed as dependencies
  check-stark-versions.js
Labels: comp: build-main, comp: stark-starter, type: enhancement

#1239 feat(stark-core): upgrade 'class-validator' to the latest version (0.9.1). Fix breaking changes in validations on ApplicationConfig and Backend entities
  greenkeeper.json
  packages/stark-core/package-lock.json
  packages/stark-core/package.json
  packages/stark-core/src/configuration/entities/application/app-config.entity.ts
  packages/stark-core/src/modules/http/entities/backend/backend.entity.ts
  showcase/package-lock.json
Labels: breaking change, comp: stark-core, type: feature

#1238 feat(stark-build): tslintLoader - Disable typecheck rules to remove warnings since typeCheck is false
  docs/stark-build/NG_CLI_BUILD_CUSTOMIZATIONS.md
  docs/stark-core/ENVIRONMENTS.md
  packages/stark-build/config/build-utils.js
  packages/stark-build/config/tslint-disabled-typecheck-rules.json
  packages/stark-build/config/webpack-partial.common.js
Labels: comp: stark-build, type: feature

#1242 feat(stark-all): upgrade to TypeScript 3.2 (latest version supported in Angular 7.2)
  greenkeeper.json
  package-lock.json
  package.json
  packages/stark-core/src/modules/http/builder/http-request-builder.spec.ts
  packages/stark-core/src/util/date.util.spec.ts
  packages/stark-rbac/base.spec.ts
  packages/stark-rbac/karma.conf.ci.js
  packages/stark-rbac/karma.conf.js
  packages/stark-ui/karma.conf.ci.js
  packages/stark-ui/karma.conf.js
  packages/stark-ui/src/modules/date-picker/components/date-picker.component.spec.ts
  packages/stark-ui/src/modules/date-range-picker/components/date-range-picker.component.spec.ts
  showcase/package-lock.json
  showcase/package.json
  showcase/src/app/demo-ui/pages/date-picker/demo-date-picker-page.component.ts
  showcase/src/app/demo-ui/pages/input-mask-directives/demo-input-mask-directives-page.component.ts
  showcase/src/app/in-memory-data/interceptors/in-memory-data.interceptor.ts
  showcase/src/app/shared/components/table-of-contents/table-of-contents.component.ts
  showcase/src/assets/examples/date-picker/ng-model.ts
  starter/package.json
Labels: comp: stark-all, type: feature

#1246 fix(stark-ui): table - fix sorting + fix onChanges on columnProperties
  packages/rollup.config.common-data.js
  packages/stark-ui/karma.conf.js
  packages/stark-ui/src/modules/table/components/table.component.spec.ts
  packages/stark-ui/src/modules/table/components/table.component.ts
Labels: comp: stark-ui, type: bug

#1243 fix(stark-ui): fix regression in ProgressIndicator directive introduced in #1218
  packages/stark-ui/src/modules/progress-indicator/actions/progress-indicator.actions.ts
  packages/stark-ui/src/modules/progress-indicator/components/progress-indicator.component.html
  packages/stark-ui/src/modules/progress-indicator/components/progress-indicator.component.spec.ts
  packages/stark-ui/src/modules/progress-indicator/components/progress-indicator.component.ts
  packages/stark-ui/src/modules/progress-indicator/directives/progress-indicator.directive.spec.ts
  packages/stark-ui/src/modules/progress-indicator/directives/progress-indicator.directive.ts
  packages/stark-ui/src/modules/progress-indicator/entities.ts
  packages/stark-ui/src/modules/progress-indicator/entities/progress-indicator-config.entity.intf.ts
  packages/stark-ui/src/modules/progress-indicator/entities/progress-indicator-full-config.entity.intf.ts
  packages/stark-ui/src/modules/progress-indicator/entities/progress-indicator-full-config.entity.ts
  packages/stark-ui/src/modules/progress-indicator/entities/progress-indicator-type.entity.ts
  packages/stark-ui/src/modules/progress-indicator/reducers/index.ts
  packages/stark-ui/src/modules/progress-indicator/reducers/progress-indicator.reducer.spec.ts
  packages/stark-ui/src/modules/progress-indicator/reducers/progress-indicator.reducer.ts
  packages/stark-ui/src/modules/progress-indicator/services/progress-indicator.service.intf.ts
  packages/stark-ui/src/modules/progress-indicator/services/progress-indicator.service.spec.ts
  packages/stark-ui/src/modules/progress-indicator/services/progress-indicator.service.ts
Labels: breaking change, comp: stark-ui, comp: testing, type: bug, type: enhancement

#1249 test(stark-all): fix minor issues in tests to prevent unwanted warnings. Fix wrong imports
  packages/stark-core/src/modules/routing/services/routing.service.spec.ts
  packages/stark-ui/src/modules/action-bar/components/action-bar.component.spec.ts
  packages/stark-ui/src/modules/app-data/components/app-data.component.spec.ts
  packages/stark-ui/src/modules/app-logout/components/app-logout.component.spec.ts
  packages/stark-ui/src/modules/date-picker/components/date-picker.component.spec.ts
  packages/stark-ui/src/modules/date-range-picker/components/date-range-picker.component.spec.ts
  packages/stark-ui/src/modules/generic-search/components/generic-search/generic-search.component.spec.ts
  packages/stark-ui/src/modules/language-selector/components/language-selector.component.spec.ts
  packages/stark-ui/src/modules/pagination/components/pagination.component.spec.ts
  packages/stark-ui/src/modules/session-ui/components/session-card/session-card.component.spec.ts
  packages/stark-ui/src/modules/session-ui/pages/login/login-page.component.spec.ts
  packages/stark-ui/src/modules/session-ui/pages/preloading/preloading-page.component.spec.ts
  packages/stark-ui/src/modules/session-ui/pages/session-expired/session-expired-page.component.spec.ts
  packages/stark-ui/src/modules/session-ui/pages/session-logout/session-logout-page.component.spec.ts
  packages/stark-ui/src/modules/toast-notification/components/toast-notification.component.spec.ts
Labels: comp: qa, comp: stark-core, comp: stark-ui, comp: testing, type: enhancement

#1254 fix(stark-ui): overwrite viewBox value when using `starkSvgViewBox` directive
  packages/stark-ui/src/modules/svg-view-box/directives/svg-view-box.directive.spec.ts
  packages/stark-ui/src/modules/svg-view-box/directives/svg-view-box.directive.ts
Labels: breaking change, comp: stark-ui, type: enhancement

#1256 Greenkeeper/stark packages/stylelint 10.0.1
  package-lock.json
  package.json
  packages/stark-build/package-lock.json
  packages/stark-build/package.json
  packages/stark-core/package.json
  packages/stark-rbac/package.json
  packages/stark-ui/package.json
  packages/stark-ui/src/modules/progress-indicator/entities/progress-indicator-full-config.entity.intf.ts
Labels: greenkeeper, type: enhancement

#1250 feat(stark-core): allow configuring the User profile resource path used by the User Repository
  packages/stark-core/src/modules/http/repository/http-abstract-repository.ts
  packages/stark-core/src/modules/user/entities.ts
  packages/stark-core/src/modules/user/entities/user-module-config.entity.intf.ts
  packages/stark-core/src/modules/user/repository/user.repository.spec.ts
  packages/stark-core/src/modules/user/repository/user.repository.ts
  packages/stark-core/src/modules/user/services/user.service.intf.ts
  packages/stark-core/src/modules/user/services/user.service.ts
  packages/stark-core/src/modules/user/user.module.ts
Labels: comp: stark-core, type: feature

#1261 chore(release): adapt release-it config to remove/fix deprecated options as from version 10
  .release-it.json
  package-lock.json
  packages/stark-build/package-lock.json
  packages/stark-core/package-lock.json
  packages/stark-rbac/package-lock.json
  packages/stark-testing/package-lock.json
  packages/stark-ui/package-lock.json
  showcase/package-lock.json
  showcase/package.json
Labels: comp: stark-all, type: enhancement

#1263 build(stark-all): disable TSLint 'deprecation' rule as a temporary fix for a bug in RxJS 6.5 typings: ReactiveX/rxjs#4723
  packages/stark-build/config/tslint.json
Labels: comp: build-main, comp: stark-all, type: bug

#1259 Bugfix/date picker invalid status on initialization + required asterisk not shown
  packages/stark-ui/src/modules/date-picker/components/date-picker.component.spec.ts
  packages/stark-ui/src/modules/date-picker/components/date-picker.component.ts
  showcase/src/app/demo-ui/pages/date-picker/demo-date-picker-page.component.html
  showcase/src/assets/examples/date-picker/ng-model.html
  showcase/src/assets/examples/date-picker/reactive-form.html
Labels: comp: stark-ui, type: enhancement

#1266 chore(package): update husky to version 2.1.0
  starter/package.json
Labels: greenkeeper

#1267 Greenkeeper/stark packages/husky 2.1.0
  package-lock.json
  package.json
Labels: greenkeeper

#1269 fix(stark-ui): properly size `.stark-main-container` on different screen sizes
  packages/stark-ui/assets/styles/_base.scss
Labels: breaking change, comp: stark-ui, type: enhancement
