Repository NationalBankBelgium/stark, pull requests merged in 2020-01, with the labels that each got.

#1473 Add sync scripts + fixed small issues
  package.json
  packages/stark-ui/src/modules/app-data/components/app-data.component.ts
  packages/stark-ui/src/modules/app-sidebar/components/app-sidebar.component.ts
  packages/stark-ui/src/modules/input-mask-directives/directives/timestamp-pipe.fn.spec.ts
Labels: comp: stark-ui, type: bug

#1468 fix(stark-ui): cellFormatter is now called even when the rawValue is undefined
  packages/stark-ui/src/modules/table/components/column.component.ts
  packages/stark-ui/src/modules/table/components/table.component.spec.ts
Labels: comp: stark-ui, type: bug

#1474 test(stark-all): simplify karma configuration in stark-* packages + showcase
  packages/karma.conf.ci.js
  packages/karma.conf.js
  packages/stark-core/karma.conf.ci.js
  packages/stark-core/karma.conf.js
  packages/stark-rbac/karma.conf.ci.js
  packages/stark-rbac/karma.conf.js
  packages/stark-ui/karma.conf.ci.js
  packages/stark-ui/karma.conf.js
  showcase/karma.conf.ci.js
  showcase/karma.conf.js
Labels: comp: build-main, type: refactor

#1477 fix(stark-ui): change the Multisort component to display the label instead of the column
  packages/stark-ui/src/modules/table/components/dialogs/multisort.component.html
Labels: comp: stark-ui, type: bug

#1479 ci(build-main): replace GreenKeeper by Dependabot
  .dependabot/config.yml
  .travis.yml
  README.md
  greenkeeper.json
  package.json
Labels: type: feature

#1484 fix(stark-build): fix prettier - Module not found: Error: Can't resolve '@microsoft/typescript-etw'
  packages/stark-build/config/webpack-partial.common.js
Labels: comp: stark-build, comp: stark-ui, type: bug

#1482 fix(stark-ui): table - Multisort - fix order issue when adding/removing sort criteria
  packages/stark-ui/src/modules/table/components/column.component.html
  packages/stark-ui/src/modules/table/components/column.component.ts
Labels: comp: stark-ui, type: bug

#1481 showcase/starter: stop dev logging in 'production' mode
  showcase/src/app/app.module.ts
  showcase/src/app/router.config.ts
  showcase/src/main.browser.ts
  showcase/src/polyfills.browser.ts
  starter/src/app/app.module.ts
  starter/src/app/router.config.ts
  starter/src/main.browser.ts
  starter/src/polyfills.browser.ts
Labels: comp: stark-showcase, comp: stark-starter, type: refactor

#1541 refactor showcase/starter: cleanup package json + removed unnecessary files
  showcase/.dockerignore
  showcase/Dockerfile
  showcase/package.json
  starter/.dockerignore
  starter/.npmrc
  starter/.travis.yml
  starter/Dockerfile
  starter/package.json
Labels: comp: stark-showcase, comp: stark-starter, type: refactor

#1548 fix(build-main): changed expected node version to 10 in gh-deploy script
  gh-deploy.sh
Labels: comp: build-main, type: bug

#1550 Bugfix/add missing hammerjs dependency
  showcase/package-lock.json
  showcase/package.json
  starter/package.json
Labels: comp: stark-showcase, comp: stark-starter, type: bug

#1554 feat(stark-ui): route-search - add support for partial matching
  packages/stark-ui/src/modules/route-search/components/route-search.component.spec.ts
  packages/stark-ui/src/modules/route-search/components/route-search.component.ts
Labels: comp: stark-ui, type: feature

#1560 fix(build-main): fix sync scripts for starter + add 'showcase' in scopes of commitlint
  CONTRIBUTING.md
  commitlint.config.js
  package.json
Labels: comp: build-main, type: bug, type: refactor

#1573 Update lint-staged configuration in root & starter + remove lint-staged from showcase
  package-lock.json
  package.json
  showcase/package-lock.json
  showcase/package.json
  starter/package.json
Labels: comp: build-main, comp: stark-showcase, comp: stark-starter, type: feature, type: refactor

#1559 fix(stark-ui): app-data - fixed issues with detail-slot not displayed correctly on small screens
  packages/stark-ui/src/modules/app-data/app-data.module.ts
  packages/stark-ui/src/modules/app-data/components/_app-data-theme.scss
  packages/stark-ui/src/modules/app-data/components/_app-data.component.scss
  packages/stark-ui/src/modules/app-data/components/app-data.component.html
  packages/stark-ui/src/modules/app-data/components/app-data.component.spec.ts
  packages/stark-ui/src/modules/app-data/components/app-data.component.ts
Labels: comp: stark-ui, type: bug

#1591 chore(stark-all): upgrade compodoc + unignore from Dependabot config
  .dependabot/config.yml
  package-lock.json
  package.json
  packages/stark-rbac/src/modules/authorization/entities/state-permissions.entity.intf.ts
  packages/stark-ui/src/modules/pretty-print/components/pretty-print.component.ts
  packages/stark-ui/src/modules/progress-indicator/directives/progress-indicator.directive.ts
  packages/stark-ui/testing/src/app-sidebar.mock.ts
  packages/stark-ui/testing/src/progress-indicator.mock.ts
  packages/stark-ui/testing/src/toast-notification.mock.ts
  showcase/package-lock.json
  showcase/package.json
  starter/package.json
Labels: comp: build-main, comp: stark-all, dependencies

#1599 fix(stark-ui): app-sidebar - header is now visible on iOS devices (iTouch, iPhone, iPad)
  packages/stark-ui/src/modules/app-sidebar/components/_app-sidebar.component.scss
  packages/stark-ui/src/modules/app-sidebar/components/app-sidebar.component.html
  packages/stark-ui/src/modules/app-sidebar/components/app-sidebar.component.ts
Labels: comp: stark-ui, type: bug
