Repository NationalBankBelgium/stark, pull requests merged in 2020-07, with the labels that each got.

#1825 Revert "chore(deps): bump @mdi/angular-material in /packages/stark-ui"
  .dependabot/config.yml
  packages/stark-ui/package-lock.json
  packages/stark-ui/package.json
Labels: comp: stark-ui, type: bug

#2058 refactor(stark-all): upgrade all package-lock.json files of Stark
  package-lock.json
  packages/stark-build/package-lock.json
  packages/stark-core/package-lock.json
  packages/stark-core/src/modules/routing/services/routing.service.spec.ts
  packages/stark-core/src/modules/routing/services/routing.service.ts
  packages/stark-rbac/package-lock.json
  packages/stark-testing/package-lock.json
  packages/stark-ui/package-lock.json
  packages/stark-ui/src/modules/progress-indicator/services/progress-indicator.service.ts
  packages/stark-ui/src/modules/session-ui/session-ui.module.spec.ts
  showcase/package-lock.json
  showcase/package.json
Labels: comp: stark-all, type: refactor

#2057 ci(starter): temporary fix to disable install,lint and test of the starter in nodejs 12 env in travis-ci
  .travis.yml
  package.json
Labels: comp: stark-starter, type: bug

#2047 feat(stark-ui): add the possibility to custom the rendering of a cell in tables
  packages/stark-ui/src/modules/table/components/column.component.html
  packages/stark-ui/src/modules/table/components/table.component.html
  packages/stark-ui/src/modules/table/components/table.component.spec.ts
  packages/stark-ui/src/modules/table/components/table.component.ts
  packages/stark-ui/src/modules/table/directives/table-row-content.directive.ts
  packages/stark-ui/src/modules/table/table.module.ts
  showcase/src/app/demo-ui/components/index.ts
  showcase/src/app/demo-ui/components/table-with-custom-cell-rendering/index.ts
  showcase/src/app/demo-ui/components/table-with-custom-cell-rendering/table-with-custom-cell-rendering.component.html
  showcase/src/app/demo-ui/components/table-with-custom-cell-rendering/table-with-custom-cell-rendering.component.ts
  showcase/src/app/demo-ui/demo-ui.module.ts
  showcase/src/app/demo-ui/pages/table/demo-table-page.component.html
  showcase/src/assets/examples/table/with-custom-cell-rendering/table.html
  showcase/src/assets/examples/table/with-custom-cell-rendering/table.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
Labels: comp: stark-ui, type: feature
