Repository NationalBankBelgium/stark, pull requests merged in 2020-02, with the labels that each got.

#1605 fix(stark-ui): session - prevent click outside the Session Timeout Warning Dialog
  packages/stark-ui/src/modules/session-ui/effects/session-timeout-warning.effect.spec.ts
  packages/stark-ui/src/modules/session-ui/effects/session-timeout-warning.effects.ts
Labels: comp: stark-ui, type: bug

#1592 chore(deps): bump @types/lodash from 4.14.146 to 4.14.149 in stark-core, stark-rbac and stark-ui
  package-lock.json
  packages/stark-build/package-lock.json
  packages/stark-core/package-lock.json
  packages/stark-rbac/package-lock.json
  packages/stark-testing/package-lock.json
  packages/stark-ui/package-lock.json
Labels: comp: stark-all, dependencies

#1601 feat(stark-ui): add footer to table component
  packages/stark-ui/src/modules/table/components/column.component.html
  packages/stark-ui/src/modules/table/components/column.component.ts
  packages/stark-ui/src/modules/table/components/table.component.html
  packages/stark-ui/src/modules/table/components/table.component.ts
  packages/stark-ui/src/modules/table/entities/column-properties.intf.ts
  showcase/src/app/demo-ui/components/index.ts
  showcase/src/app/demo-ui/components/table-with-footer/index.ts
  showcase/src/app/demo-ui/components/table-with-footer/table-with-footer.component.html
  showcase/src/app/demo-ui/components/table-with-footer/table-with-footer.component.scss
  showcase/src/app/demo-ui/components/table-with-footer/table-with-footer.component.ts
  showcase/src/app/demo-ui/demo-ui.module.ts
  showcase/src/app/demo-ui/pages/table/demo-table-page.component.html
  showcase/src/assets/examples/table/with-footer/table.html
  showcase/src/assets/examples/table/with-footer/table.scss
  showcase/src/assets/examples/table/with-footer/table.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
Labels: comp: stark-ui, type: feature

#1618 fix(build-main): `npm run install:starter` is now working well on every platform (MacOS, Windows, Linux)
  package-lock.json
  package.json
Labels: comp: build-main, type: bug

#1621 fix(stark-ui): enhance styling of date time picker component to display the 'clear' button correctly aligned in IE 11
  packages/stark-ui/src/modules/date-time-picker/components/date-time-picker.component.html
  packages/stark-ui/src/modules/date-time-picker/components/date-time-picker.component.scss
  packages/stark-ui/src/modules/date-time-picker/components/date-time-picker.component.spec.ts
Labels: comp: stark-ui

#1634 ci(showcase): fix BrowserStack randomly failing test by adding a `localIdentifier`
  README.md
  showcase/e2e/protractor.browserstack.conf.js
Labels: comp: build-main, comp: stark-showcase

#1645 fix(stark-ui): remove wrong `@internal` decorator on `_globalFilterFormCtrl` in table component
  packages/stark-ui/src/modules/table/components/table.component.ts
Labels: comp: stark-ui, type: bug
