Repository NationalBankBelgium/stark, pull requests merged in 2021-05, with the labels that each got.

#2659 Feature/replace karma-typescript by karma
  .github/dependabot.yml
  .github/workflows/build.yml
  .gitignore
  combine-packages-coverage.js
  package-lock.json
  package.json
  packages/karma.conf.ci.js
  packages/karma.conf.js
  packages/stark-core/base.spec.ts
  packages/stark-core/karma.conf.ci.js
  packages/stark-core/package.json
  packages/stark-core/tsconfig.spec.json
  packages/stark-rbac/base.spec.ts
  packages/stark-rbac/karma.conf.ci.js
  packages/stark-rbac/package.json
  packages/stark-rbac/tsconfig.spec.json
  packages/stark-testing/karma.conf.ci.js
  packages/stark-testing/karma.conf.js
  packages/stark-testing/package-lock.json
  packages/stark-testing/package.json
  packages/stark-testing/rollup.config.js
  packages/stark-ui/base.spec.ts
  packages/stark-ui/karma.conf.ci.js
  packages/stark-ui/package.json
  packages/stark-ui/tsconfig.json
  packages/stark-ui/tsconfig.spec.json
  showcase/README.md
  showcase/base.spec.ts
  showcase/karma.conf.js
  showcase/package-lock.json
  showcase/package.json
  showcase/tsconfig.spec.json
  starter/README.md
  starter/angular.json
  starter/base.spec.ts
  starter/karma.conf.js
  starter/package.json
  starter/src/app/app.module.ts
Labels: breaking change, comp: stark-testing, comp: testing, type: feature

#2713 fix(stark-core): add support for http 204 status code when persisting logs
  packages/stark-core/src/modules/logging/services/logging.service.ts
Labels: comp: stark-core, type: bug

#2712 fix(stark-core): add support for http 204 status code when persisting logs
  packages/stark-core/src/modules/logging/services/logging.service.ts
Labels: comp: stark-core, type: bug

#1721 feat(showcase): add the ngx-form-errors to the showcase
  showcase/package-lock.json
  showcase/package.json
  showcase/src/app/app-menu.config.ts
  showcase/src/app/welcome/pages/index.ts
  showcase/src/app/welcome/pages/reactive-form-errors/components/card/card.component.html
  showcase/src/app/welcome/pages/reactive-form-errors/components/card/card.component.scss
  showcase/src/app/welcome/pages/reactive-form-errors/components/card/card.component.ts
  showcase/src/app/welcome/pages/reactive-form-errors/components/card/card.theme.scss
  showcase/src/app/welcome/pages/reactive-form-errors/components/card/index.ts
  showcase/src/app/welcome/pages/reactive-form-errors/components/index.ts
  showcase/src/app/welcome/pages/reactive-form-errors/components/translated-form-error/index.ts
  showcase/src/app/welcome/pages/reactive-form-errors/components/translated-form-error/translated-form-error.component.html
  showcase/src/app/welcome/pages/reactive-form-errors/components/translated-form-error/translated-form-error.component.ts
  showcase/src/app/welcome/pages/reactive-form-errors/index.ts
  showcase/src/app/welcome/pages/reactive-form-errors/password-validator.ts
  showcase/src/app/welcome/pages/reactive-form-errors/reactive-form-errors-page.component.html
  showcase/src/app/welcome/pages/reactive-form-errors/reactive-form-errors-page.component.scss
  showcase/src/app/welcome/pages/reactive-form-errors/reactive-form-errors-page.component.theme.scss
  showcase/src/app/welcome/pages/reactive-form-errors/reactive-form-errors-page.component.ts
  showcase/src/app/welcome/routes.ts
  showcase/src/app/welcome/welcome.module.ts
  showcase/src/assets/examples/reactive-form-errors/reactive-form-errors.html
  showcase/src/assets/examples/reactive-form-errors/reactive-form-errors.scss
  showcase/src/assets/examples/reactive-form-errors/reactive-form-errors.ts
  showcase/src/assets/translations/en.json
  showcase/src/assets/translations/fr.json
  showcase/src/assets/translations/nl.json
  showcase/src/styles/_theme.scss
Labels: comp: stark-showcase, type: feature

#2746 Feature/centralize dependencies in root
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/dependabot-sync-stark-dependencies.yml
  .gitignore
  .prettierignore
  package-lock.json
  package.json
  packages/stark-build/package-lock.json
  packages/stark-build/package.json
  packages/stark-core/package-lock.json
  packages/stark-core/package.json
  packages/stark-core/tsconfig.json
  packages/stark-rbac/package-lock.json
  packages/stark-rbac/package.json
  packages/stark-rbac/tsconfig.json
  packages/stark-ui/package-lock.json
  packages/stark-ui/package.json
  packages/stark-ui/tsconfig.json
  scripts/sync-packages-deps.js
  showcase/package-lock.json
  showcase/package.json
Labels: breaking change, comp: build-main, comp: ci & tooling, comp: stark-all, dependencies, type: feature

#2754 ci(stark-all): increase max PR number that Dependabot can create
  .github/dependabot.yml
Labels: comp: ci & tooling
