Repository NationalBankBelgium/stark, pull requests merged in 2022-11, with the labels that each got.

#3520 fix(stark-ui): add word-break to stark-toast
  packages/stark-ui/src/modules/toast-notification/components/_toast-notification.component.scss
Labels: type: bug, comp: stark-ui, 10.x

#3527 feat(stark-ui): keep highlight the menu when go to child state
  packages/stark-ui/src/modules/app-menu/components/app-menu-item.component.spec.ts
  packages/stark-ui/src/modules/app-menu/components/app-menu-item.component.ts
Labels: type: feature, comp: stark-ui, 10.x

#3528 feat(stark-ui): keep highlight the menu when go to child state
  packages/stark-ui/src/modules/app-menu/components/app-menu-item.component.spec.ts
  packages/stark-ui/src/modules/app-menu/components/app-menu-item.component.ts
Labels: type: feature, comp: stark-ui, 12.x
