Repository NationalBankBelgium/stark, pull requests merged in 2023-09, with the labels that each got.

#3621 fix(stark-core): enable correlation-id generation when `loggingFlushDisabled == true`
  packages/stark-core/src/modules/logging/services/logging.service.ts
Labels: type: bug, comp: stark-core, 10.x

#3637 feat(stark-core): removed Throw Error to create stack trace for IE
  packages/stark-core/src/modules/http/services/http.service.ts
Labels: type: feature, 12.x

#3635 fix(stark-ui): remove KeybordEvent.char
  packages/stark-ui/src/modules/restrict-input-directive/directives/restrict-input.directive.ts
Labels: type: bug, comp: stark-ui, 12.x
