Repository NationalBankBelgium/stark, pull requests merged in 2024-06, with the labels that each got.

#3808 Feature/angular16 material legacy
  package-lock.json
  package.json
  packages/stark-build/package.json
  packages/stark-core/package.json
  packages/stark-core/src/modules/settings/services/settings.service.ts
  packages/stark-core/tsconfig.json
  packages/stark-rbac/tsconfig.json
  packages/stark-testing/package.json
  packages/stark-ui/package.json
  packages/stark-ui/src/modules/dialogs/components/alert-dialog.component.spec.ts
  packages/stark-ui/src/modules/dialogs/components/confirm-dialog.component.spec.ts
  packages/stark-ui/src/modules/dialogs/components/prompt-dialog.component.spec.ts
  packages/stark-ui/src/modules/input-mask-directives/directives/email-mask.directive.spec.ts
  packages/stark-ui/src/modules/input-mask-directives/directives/number-mask.directive.spec.ts
  packages/stark-ui/src/modules/input-mask-directives/directives/text-mask.directive.spec.ts
  packages/stark-ui/src/modules/input-mask-directives/directives/timestamp-mask.directive.spec.ts
  packages/stark-ui/tsconfig.json
  showcase/package-lock.json
  showcase/package.json
  showcase/src/app/in-memory-data/in-memory-data.module.ts
  showcase/src/app/in-memory-data/services/in-memory-data.service.ts
  showcase/tsconfig.json
  starter/package.json
  starter/tsconfig.json
Labels: comp: stark-all, type: feature, 12.x

#3809 fix(stark-testing): replace `@npmcli/ci-detect` dependency by `ci-info`
  package-lock.json
  package.json
  packages/stark-testing/karma.conf.js
  packages/stark-testing/package.json
  showcase/package-lock.json
  showcase/package.json
Labels: type: feature, comp: stark-testing, 12.x

#3803 ci(build-main): update GitHub Actions used in ".github/workflows"
  .github/workflows/build.yml
  .github/workflows/bump-angular-deps.yml
  .github/workflows/dependabot-sync-stark-dependencies.yml
Labels: comp: build-main, type: feature, comp: ci & tooling

#3810 fix(stark-core): enable correlation-id generation when `loggingFlushDisabled == true`
  packages/stark-core/src/modules/logging/services/logging.service.ts
Labels: type: bug, comp: stark-core, 12.x

#3811 fix(stark-core): fix support for URL query parameters
  packages/stark-core/src/modules/routing/services/routing.service.spec.ts
  packages/stark-core/src/modules/routing/services/routing.service.ts
Labels: type: bug, comp: stark-core, 12.x

#3818 fix(stark-ui): fix Dutch translations in table component
  packages/stark-ui/src/modules/table/assets/translations/nl.ts
Labels: type: bug, comp: stark-ui, 10.x
