Repository NationalBankBelgium/stark, pull requests merged in 2024-02, with the labels that each got.

#3722 ci(build-main): add `prettier` check in build.yml GitHub workflow
  .github/workflows/build.yml
  .prettierignore
Labels: comp: stark-all, comp: ci & tooling

#3713 Feature/rxjs
  package-lock.json
  package.json
  packages/stark-core/package.json
  packages/stark-core/src/modules/routing/services/routing.service.spec.ts
  packages/stark-core/src/modules/session/services/session.service.ts
  packages/stark-ui/src/modules/generic-search/classes/abstract-search-component.spec.ts
  packages/stark-ui/src/modules/toast-notification/services/toast-notification.service.spec.ts
  packages/stark-ui/src/modules/toast-notification/services/toast-notification.service.ts
  showcase/package-lock.json
  showcase/package.json
  showcase/src/app/shared/components/table-of-contents/table-of-contents.component.ts
  starter/package.json
Labels: comp: stark-all, type: feature, dependencies

#3737 refactor(build-main): delete the file "package.json.BAAK" added by mistake
  package.json.BAAK
Labels: comp: build-main, type: refactor, 12.x

#3739 Refactor/remove ngcli defaultproject usage
  packages/stark-build/config/build-utils.js
  packages/stark-build/config/index-html.transform.js
  packages/stark-build/config/ng-cli-utils.js
  packages/stark-build/config/webpack-metadata.js
  packages/stark-build/config/webpack.config.js
Labels: comp: stark-build, 12.x

#3745 Feature/update stark testing dependencies
  package-lock.json
  package.json
  packages/stark-testing/package.json
  showcase/package-lock.json
  showcase/package.json
Labels: comp: stark-testing, dependencies, 12.x
